In [1]:
import xlrd

def read_primary_key(path='TablePrimaryKeys.xlsx'):
    data = xlrd.open_workbook(path)
    table = data.sheets()[0]
    nrows = table.nrows
    ncols = table.ncols
    res = {}
    table_name = ''
    for i in range(nrows):
        if i == 0: continue
        row = table.row_values(i)
        if table_name != row[0].upper():
            table_name = row[0].upper()
            res[table_name] = []
        res[table_name].append({
            'primary_key': row[1],
            'foreign_key': row[2].upper()+'<gap>'+row[3]
        })
    return res

In [2]:
for i in read_primary_key():
#     print(i)
    pr = ','.join(['`'+j['primary_key']+'`' for j in read_primary_key()[i]])
    print('alter table `%s` add primary key (%s);'%(i.upper(), pr))
#     break

alter table `ADDR_BELONGS_DATA` add primary key (`c_addr_id`,`c_belongs_to`,`c_source`);
alter table `ALTNAME_DATA` add primary key (`c_alt_name_type_code`,`c_personid`,`c_source`);
alter table `ASSOC_CODE_TYPE_REL` add primary key (`c_assoc_code`,`c_assoc_type_id`);
alter table `ASSOC_CODES` add primary key (`c_assoc_pair2`);
alter table `ASSOC_DATA` add primary key (`c_addr_id`,`c_assoc_claimer_id`,`c_assoc_code`,`c_assoc_day_gz`,`c_assoc_id`,`c_assoc_kin_code`,`c_assoc_kin_id`,`c_assoc_nh_code`,`c_assoc_range`,`c_inst_name_code`,`c_inst_code`,`c_kin_code`,`c_kin_id`,`c_litgenre_code`,`c_occasion_code`,`c_personid`,`c_source`,`c_tertiary_personid`,`c_topic_code`);
alter table `BIOG_ADDR_DATA` add primary key (`c_addr_id`,`c_addr_type`,`c_fy_day_gz`,`c_fy_nh_code`,`c_fy_range`,`c_ly_day_gz`,`c_ly_nh_code`,`c_ly_range`,`c_personid`,`c_source`);
alter table `BIOG_INST_DATA` add primary key (`c_bi_by_nh_code`,`c_bi_by_range`,`c_bi_ey_nh_code`,`c_bi_ey_range`,`c_bi_role_code`,`c_inst_name_code`,`c_inst_code`,`c_personid`,`c_source`);
alter table `BIOG_MAIN` add primary key (`c_by_day_gz`,`c_by_nh_code`,`c_by_range`,`c_choronym_code`,`c_death_age_range`,`c_dy`,`c_dy_day_gz`,`c_dy_nh_code`,`c_dy_range`,`c_ethnicity_code`,`c_fl_ey_nh_code`,`c_fl_ly_nh_code`,`c_household_status_code`);
alter table `BIOG_SOURCE_DATA` add primary key (`c_personid`,`c_textid`);
alter table `ENTRY_CODE_TYPE_REL` add primary key (`c_entry_code`,`c_entry_type`);
alter table `ENTRY_DATA` add primary key (`c_assoc_code`,`c_assoc_id`,`c_entry_code`,`c_entry_range`,`c_inst_name_code`,`c_inst_code`,`c_kin_code`,`c_kin_id`,`c_nianhao_id`,`c_parental_status`,`c_personid`,`c_source`);
alter table `EVENT_CODES` add primary key (`c_addr_id`,`c_dy`,`c_fy_nh_code`,`c_fy_range`,`c_ly_nh_code`,`c_ly_range`,`c_source`);
alter table `EVENTS_ADDR` add primary key (`c_addr_id`,`c_day_ganzhi`,`c_event_record_id`,`c_nh_code`,`c_personid`,`c_yr_range`);
alter table `EVENTS_DATA` add primary key (`c_addr_id`,`c_day_ganzhi`,`c_event_code`,`c_event_record_id`,`c_nh_code`,`c_personid`,`c_source`,`c_yr_range`);
alter table `KIN_DATA` add primary key (`c_kin_code`,`c_kin_id`,`c_personid`,`c_source`);
alter table `KINSHIP_CODES` add primary key (`c_kin_pair1`,`c_kin_pair2`);
alter table `NIAN_HAO` add primary key (`c_dy`);
alter table `OFFICE_CODE_TYPE_REL` add primary key (`c_office_id`,`c_office_tree_id`);
alter table `OFFICE_CODES` add primary key (`c_dy`,`c_source`);
alter table `OFFICE_TYPE_TREE` add primary key (`c_parent_id`);
alter table `POSSESSION_ADDR` add primary key (`c_addr_id`,`c_personid`,`c_possession_record_id`);
alter table `POSSESSION_DATA` add primary key (`c_addr_id`,`c_measure_code`,`c_personid`,`c_possession_act_code`,`c_possession_nh_code`,`c_possession_yr_range`,`c_source`);
alter table `POSTED_TO_ADDR_DATA` add primary key (`c_addr_id`,`c_office_id`,`c_personid`,`c_posting_id`);
alter table `POSTED_TO_OFFICE_DATA` add primary key (`c_appt_type_code`,`c_assume_office_code`,`c_dy`,`c_fy_day_gz`,`c_fy_nh_code`,`c_fy_range`,`c_inst_name_code`,`c_inst_code`,`c_ly_day_gz`,`c_ly_nh_code`,`c_ly_range`,`c_office_category_id`,`c_office_id`,`c_personid`,`c_posting_id`,`c_source`);
alter table `POSTING_DATA` add primary key (`c_personid`);
alter table `SOCIAL_INSTITUTION_ADDR` add primary key (`c_inst_addr_id`,`c_inst_addr_type_code`,`c_inst_code`,`c_source`);
alter table `SOCIAL_INSTITUTION_CODES` add primary key (`c_by_nianhao_code`,`c_by_year_range`,`c_ey_nianhao_code`,`c_ey_year_range`,`c_inst_begin_dy`,`c_inst_floruit_dy`,`c_inst_name_code`,`c_inst_type_code`,`c_source`);
alter table `STATUS_CODE_TYPE_REL` add primary key (`c_status_code`,`c_status_type_code`);
alter table `STATUS_DATA` add primary key (`c_fy_nh_code`,`c_fy_range`,`c_ly_nh_code`,`c_ly_range`,`c_personid`,`c_source`,`c_status_code`);
alter table `TEXT_BIBLCAT_CODE_TYPE_REL` add primary key (`c_text_cat_code`,`c_text_cat_type_id`);
alter table `TEXT_CODES` add primary key (`c_bibl_cat_code`,`c_extant`,`c_pub_country`,`c_pub_dy`,`c_pub_nh_code`,`c_pub_range_code`,`c_source`,`c_text_country`,`c_text_dy`,`c_text_nh_code`,`c_text_range_code`);
alter table `TEXT_DATA` add primary key (`c_nh_code`,`c_personid`,`c_range_code`,`c_role_id`,`c_source`,`c_textid`);

In [3]:
'TEXT_BIBLCAT_CODE_TYPE_REL' in read_primary_key().keys()

True

In [4]:
for i in read_primary_key():
#     print(i)
    forgien = [j['foreign_key'] for j in read_primary_key()[i]]
    for t in read_primary_key()[i]:
        prim = t['primary_key']
        forg = t['foreign_key']
        forg = forg.split('<gap>')
        if forg[1] == '': continue
#         print(t['foreign_key'])
        print('ALTER TABLE `%s` ADD FOREIGN KEY (`%s`) REFERENCES `%s`(`%s`) ON UPDATE CASCADE ON DELETE CASCADE;' % (i.upper(), prim, forg[0].upper(),forg[1]))
#     break

ALTER TABLE `ADDR_BELONGS_DATA` ADD FOREIGN KEY (`c_addr_id`) REFERENCES `ADDR_CODES`(`c_addr_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ADDR_BELONGS_DATA` ADD FOREIGN KEY (`c_belongs_to`) REFERENCES `ADDR_CODES`(`c_addr_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ADDR_BELONGS_DATA` ADD FOREIGN KEY (`c_source`) REFERENCES `TEXT_CODES`(`c_textid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ALTNAME_DATA` ADD FOREIGN KEY (`c_alt_name_type_code`) REFERENCES `ALTNAME_CODES`(`c_name_type_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ALTNAME_DATA` ADD FOREIGN KEY (`c_personid`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ALTNAME_DATA` ADD FOREIGN KEY (`c_source`) REFERENCES `TEXT_CODES`(`c_textid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ASSOC_CODE_TYPE_REL` ADD FOREIGN KEY (`c_assoc_code`) REFERENCES `ASSOC_CODES`(`c_assoc_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ASSOC_CODE_TYPE_REL` ADD FOREIGN KEY (`c_assoc_type_id`) REFERENCES `ASSOC_TYPES`(`c_assoc_type_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ASSOC_CODES` ADD FOREIGN KEY (`c_assoc_pair2`) REFERENCES `ASSOC_CODES`(`c_assoc_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ASSOC_DATA` ADD FOREIGN KEY (`c_addr_id`) REFERENCES `ADDR_CODES`(`c_addr_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ASSOC_DATA` ADD FOREIGN KEY (`c_assoc_claimer_id`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ASSOC_DATA` ADD FOREIGN KEY (`c_assoc_code`) REFERENCES `ASSOC_CODES`(`c_assoc_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ASSOC_DATA` ADD FOREIGN KEY (`c_assoc_day_gz`) REFERENCES `GANZHI_CODES`(`c_ganzhi_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ASSOC_DATA` ADD FOREIGN KEY (`c_assoc_id`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ASSOC_DATA` ADD FOREIGN KEY (`c_assoc_kin_code`) REFERENCES `KINSHIP_CODES`(`c_kincode`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ASSOC_DATA` ADD FOREIGN KEY (`c_assoc_kin_id`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ASSOC_DATA` ADD FOREIGN KEY (`c_assoc_nh_code`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ASSOC_DATA` ADD FOREIGN KEY (`c_assoc_range`) REFERENCES `YEAR_RANGE_CODES`(`c_range_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ASSOC_DATA` ADD FOREIGN KEY (`c_inst_name_code`) REFERENCES `SOCIAL_INSTITUTION_NAME_CODES`(`c_inst_name_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ASSOC_DATA` ADD FOREIGN KEY (`c_inst_code`) REFERENCES `SOCIAL_INSTITUTION_CODES`(`c_inst_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ASSOC_DATA` ADD FOREIGN KEY (`c_kin_code`) REFERENCES `KINSHIP_CODES`(`c_kincode`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ASSOC_DATA` ADD FOREIGN KEY (`c_kin_id`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ASSOC_DATA` ADD FOREIGN KEY (`c_litgenre_code`) REFERENCES `LITERARYGENRE_CODES`(`c_lit_genre_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ASSOC_DATA` ADD FOREIGN KEY (`c_occasion_code`) REFERENCES `OCCASION_CODES`(`c_occasion_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ASSOC_DATA` ADD FOREIGN KEY (`c_personid`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ASSOC_DATA` ADD FOREIGN KEY (`c_source`) REFERENCES `TEXT_CODES`(`c_textid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ASSOC_DATA` ADD FOREIGN KEY (`c_tertiary_personid`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ASSOC_DATA` ADD FOREIGN KEY (`c_topic_code`) REFERENCES `SCHOLARLYTOPIC_CODES`(`c_topic_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_ADDR_DATA` ADD FOREIGN KEY (`c_addr_id`) REFERENCES `ADDR_CODES`(`c_addr_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_ADDR_DATA` ADD FOREIGN KEY (`c_addr_type`) REFERENCES `BIOG_ADDR_CODES`(`c_addr_type`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_ADDR_DATA` ADD FOREIGN KEY (`c_fy_day_gz`) REFERENCES `GANZHI_CODES`(`c_ganzhi_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_ADDR_DATA` ADD FOREIGN KEY (`c_fy_nh_code`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_ADDR_DATA` ADD FOREIGN KEY (`c_fy_range`) REFERENCES `YEAR_RANGE_CODES`(`c_range_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_ADDR_DATA` ADD FOREIGN KEY (`c_ly_day_gz`) REFERENCES `GANZHI_CODES`(`c_ganzhi_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_ADDR_DATA` ADD FOREIGN KEY (`c_ly_nh_code`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_ADDR_DATA` ADD FOREIGN KEY (`c_ly_range`) REFERENCES `YEAR_RANGE_CODES`(`c_range_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_ADDR_DATA` ADD FOREIGN KEY (`c_personid`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_ADDR_DATA` ADD FOREIGN KEY (`c_source`) REFERENCES `TEXT_CODES`(`c_textid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_INST_DATA` ADD FOREIGN KEY (`c_bi_by_nh_code`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_INST_DATA` ADD FOREIGN KEY (`c_bi_by_range`) REFERENCES `YEAR_RANGE_CODES`(`c_range_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_INST_DATA` ADD FOREIGN KEY (`c_bi_ey_nh_code`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_INST_DATA` ADD FOREIGN KEY (`c_bi_ey_range`) REFERENCES `YEAR_RANGE_CODES`(`c_range_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_INST_DATA` ADD FOREIGN KEY (`c_bi_role_code`) REFERENCES `BIOG_INST_CODES`(`c_bi_role_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_INST_DATA` ADD FOREIGN KEY (`c_inst_name_code`) REFERENCES `SOCIAL_INSTITUTION_NAME_CODES`(`c_inst_name_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_INST_DATA` ADD FOREIGN KEY (`c_inst_code`) REFERENCES `SOCIAL_INSTITUTION_CODES`(`c_inst_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_INST_DATA` ADD FOREIGN KEY (`c_personid`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_INST_DATA` ADD FOREIGN KEY (`c_source`) REFERENCES `TEXT_CODES`(`c_textid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_MAIN` ADD FOREIGN KEY (`c_by_day_gz`) REFERENCES `GANZHI_CODES`(`c_ganzhi_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_MAIN` ADD FOREIGN KEY (`c_by_nh_code`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_MAIN` ADD FOREIGN KEY (`c_by_range`) REFERENCES `YEAR_RANGE_CODES`(`c_range_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_MAIN` ADD FOREIGN KEY (`c_choronym_code`) REFERENCES `CHORONYM_CODES`(`c_choronym_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_MAIN` ADD FOREIGN KEY (`c_death_age_range`) REFERENCES `YEAR_RANGE_CODES`(`c_range_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_MAIN` ADD FOREIGN KEY (`c_dy`) REFERENCES `DYNASTIES`(`c_dy`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_MAIN` ADD FOREIGN KEY (`c_dy_day_gz`) REFERENCES `GANZHI_CODES`(`c_ganzhi_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_MAIN` ADD FOREIGN KEY (`c_dy_nh_code`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_MAIN` ADD FOREIGN KEY (`c_dy_range`) REFERENCES `YEAR_RANGE_CODES`(`c_range_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_MAIN` ADD FOREIGN KEY (`c_ethnicity_code`) REFERENCES `ETHNICITY_TRIBE_CODES`(`c_ethnicity_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_MAIN` ADD FOREIGN KEY (`c_fl_ey_nh_code`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_MAIN` ADD FOREIGN KEY (`c_fl_ly_nh_code`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_MAIN` ADD FOREIGN KEY (`c_household_status_code`) REFERENCES `HOUSEHOLD_STATUS_CODES`(`c_household_status_code`) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE `BIOG_SOURCE_DATA` ADD FOREIGN KEY (`c_personid`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `BIOG_SOURCE_DATA` ADD FOREIGN KEY (`c_textid`) REFERENCES `TEXT_CODES`(`c_textid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ENTRY_CODE_TYPE_REL` ADD FOREIGN KEY (`c_entry_code`) REFERENCES `ENTRY_CODES`(`c_entry_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ENTRY_CODE_TYPE_REL` ADD FOREIGN KEY (`c_entry_type`) REFERENCES `ENTRY_TYPES`(`c_entry_type`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ENTRY_DATA` ADD FOREIGN KEY (`c_assoc_code`) REFERENCES `ASSOC_CODES`(`c_assoc_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ENTRY_DATA` ADD FOREIGN KEY (`c_assoc_id`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ENTRY_DATA` ADD FOREIGN KEY (`c_entry_code`) REFERENCES `ENTRY_CODES`(`c_entry_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ENTRY_DATA` ADD FOREIGN KEY (`c_entry_range`) REFERENCES `YEAR_RANGE_CODES`(`c_range_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ENTRY_DATA` ADD FOREIGN KEY (`c_inst_name_code`) REFERENCES `SOCIAL_INSTITUTION_NAME_CODES`(`c_inst_name_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ENTRY_DATA` ADD FOREIGN KEY (`c_inst_code`) REFERENCES `SOCIAL_INSTITUTION_CODES`(`c_inst_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ENTRY_DATA` ADD FOREIGN KEY (`c_kin_code`) REFERENCES `KINSHIP_CODES`(`c_kincode`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ENTRY_DATA` ADD FOREIGN KEY (`c_kin_id`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ENTRY_DATA` ADD FOREIGN KEY (`c_nianhao_id`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ENTRY_DATA` ADD FOREIGN KEY (`c_parental_status`) REFERENCES `PARENTAL_STATUS_CODES`(`c_parental_status_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ENTRY_DATA` ADD FOREIGN KEY (`c_personid`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `ENTRY_DATA` ADD FOREIGN KEY (`c_source`) REFERENCES `TEXT_CODES`(`c_textid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `EVENT_CODES` ADD FOREIGN KEY (`c_addr_id`) REFERENCES `ADDR_CODES`(`c_addr_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `EVENT_CODES` ADD FOREIGN KEY (`c_dy`) REFERENCES `DYNASTIES`(`c_dy`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `EVENT_CODES` ADD FOREIGN KEY (`c_fy_nh_code`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `EVENT_CODES` ADD FOREIGN KEY (`c_fy_range`) REFERENCES `YEAR_RANGE_CODES`(`c_range_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `EVENT_CODES` ADD FOREIGN KEY (`c_ly_nh_code`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `EVENT_CODES` ADD FOREIGN KEY (`c_ly_range`) REFERENCES `YEAR_RANGE_CODES`(`c_range_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `EVENT_CODES` ADD FOREIGN KEY (`c_source`) REFERENCES `TEXT_CODES`(`c_textid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `EVENTS_ADDR` ADD FOREIGN KEY (`c_addr_id`) REFERENCES `ADDR_CODES`(`c_addr_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `EVENTS_ADDR` ADD FOREIGN KEY (`c_day_ganzhi`) REFERENCES `GANZHI_CODES`(`c_ganzhi_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `EVENTS_ADDR` ADD FOREIGN KEY (`c_event_record_id`) REFERENCES `EVENT_CODES`(`c_event_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `EVENTS_ADDR` ADD FOREIGN KEY (`c_nh_code`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `EVENTS_ADDR` ADD FOREIGN KEY (`c_personid`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `EVENTS_ADDR` ADD FOREIGN KEY (`c_yr_range`) REFERENCES `YEAR_RANGE_CODES`(`c_range_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `EVENTS_DATA` ADD FOREIGN KEY (`c_addr_id`) REFERENCES `ADDR_CODES`(`c_addr_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `EVENTS_DATA` ADD FOREIGN KEY (`c_day_ganzhi`) REFERENCES `GANZHI_CODES`(`c_ganzhi_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `EVENTS_DATA` ADD FOREIGN KEY (`c_event_code`) REFERENCES `EVENT_CODES`(`c_event_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `EVENTS_DATA` ADD FOREIGN KEY (`c_event_record_id`) REFERENCES `EVENT_CODES`(`c_event_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `EVENTS_DATA` ADD FOREIGN KEY (`c_nh_code`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `EVENTS_DATA` ADD FOREIGN KEY (`c_personid`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `EVENTS_DATA` ADD FOREIGN KEY (`c_source`) REFERENCES `TEXT_CODES`(`c_textid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `EVENTS_DATA` ADD FOREIGN KEY (`c_yr_range`) REFERENCES `YEAR_RANGE_CODES`(`c_range_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `KIN_DATA` ADD FOREIGN KEY (`c_kin_code`) REFERENCES `KINSHIP_CODES`(`c_kincode`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `KIN_DATA` ADD FOREIGN KEY (`c_kin_id`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `KIN_DATA` ADD FOREIGN KEY (`c_personid`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `KIN_DATA` ADD FOREIGN KEY (`c_source`) REFERENCES `TEXT_CODES`(`c_textid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `KINSHIP_CODES` ADD FOREIGN KEY (`c_kin_pair1`) REFERENCES `KINSHIP_CODES`(`c_kincode`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `KINSHIP_CODES` ADD FOREIGN KEY (`c_kin_pair2`) REFERENCES `KINSHIP_CODES`(`c_kincode`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `NIAN_HAO` ADD FOREIGN KEY (`c_dy`) REFERENCES `DYNASTIES`(`c_dy`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `OFFICE_CODE_TYPE_REL` ADD FOREIGN KEY (`c_office_id`) REFERENCES `OFFICE_CODES`(`c_office_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `OFFICE_CODE_TYPE_REL` ADD FOREIGN KEY (`c_office_tree_id`) REFERENCES `OFFICE_TYPE_TREE`(`c_office_type_node_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `OFFICE_CODES` ADD FOREIGN KEY (`c_dy`) REFERENCES `DYNASTIES`(`c_dy`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `OFFICE_CODES` ADD FOREIGN KEY (`c_source`) REFERENCES `TEXT_CODES`(`c_textid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `OFFICE_TYPE_TREE` ADD FOREIGN KEY (`c_parent_id`) REFERENCES `OFFICE_TYPE_TREE`(`c_office_type_node_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSSESSION_ADDR` ADD FOREIGN KEY (`c_addr_id`) REFERENCES `ADDR_CODES`(`c_addr_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSSESSION_ADDR` ADD FOREIGN KEY (`c_personid`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSSESSION_ADDR` ADD FOREIGN KEY (`c_possession_record_id`) REFERENCES `POSSESSION_DATA`(`c_possession_record_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSSESSION_DATA` ADD FOREIGN KEY (`c_addr_id`) REFERENCES `ADDR_CODES`(`c_addr_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSSESSION_DATA` ADD FOREIGN KEY (`c_measure_code`) REFERENCES `MEASURE_CODES`(`c_measure_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSSESSION_DATA` ADD FOREIGN KEY (`c_personid`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSSESSION_DATA` ADD FOREIGN KEY (`c_possession_act_code`) REFERENCES `POSSESSION_ACT_CODES`(`c_possession_act_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSSESSION_DATA` ADD FOREIGN KEY (`c_possession_nh_code`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSSESSION_DATA` ADD FOREIGN KEY (`c_possession_yr_range`) REFERENCES `YEAR_RANGE_CODES`(`c_range_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSSESSION_DATA` ADD FOREIGN KEY (`c_source`) REFERENCES `TEXT_CODES`(`c_textid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSTED_TO_ADDR_DATA` ADD FOREIGN KEY (`c_addr_id`) REFERENCES `ADDR_CODES`(`c_addr_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSTED_TO_ADDR_DATA` ADD FOREIGN KEY (`c_office_id`) REFERENCES `OFFICE_CODES`(`c_office_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSTED_TO_ADDR_DATA` ADD FOREIGN KEY (`c_personid`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSTED_TO_ADDR_DATA` ADD FOREIGN KEY (`c_posting_id`) REFERENCES `POSTING_DATA`(`c_posting_id`) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE `POSTED_TO_OFFICE_DATA` ADD FOREIGN KEY (`c_appt_type_code`) REFERENCES `APPOINTMENT_TYPE_CODES`(`c_appt_type_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSTED_TO_OFFICE_DATA` ADD FOREIGN KEY (`c_assume_office_code`) REFERENCES `ASSUME_OFFICE_CODES`(`c_assume_office_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSTED_TO_OFFICE_DATA` ADD FOREIGN KEY (`c_dy`) REFERENCES `DYNASTIES`(`c_dy`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSTED_TO_OFFICE_DATA` ADD FOREIGN KEY (`c_fy_day_gz`) REFERENCES `GANZHI_CODES`(`c_ganzhi_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSTED_TO_OFFICE_DATA` ADD FOREIGN KEY (`c_fy_nh_code`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSTED_TO_OFFICE_DATA` ADD FOREIGN KEY (`c_fy_range`) REFERENCES `YEAR_RANGE_CODES`(`c_range_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSTED_TO_OFFICE_DATA` ADD FOREIGN KEY (`c_inst_name_code`) REFERENCES `SOCIAL_INSTITUTION_NAME_CODES`(`c_inst_name_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSTED_TO_OFFICE_DATA` ADD FOREIGN KEY (`c_inst_code`) REFERENCES `SOCIAL_INSTITUTION_CODES`(`c_inst_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSTED_TO_OFFICE_DATA` ADD FOREIGN KEY (`c_ly_day_gz`) REFERENCES `GANZHI_CODES`(`c_ganzhi_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSTED_TO_OFFICE_DATA` ADD FOREIGN KEY (`c_ly_nh_code`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSTED_TO_OFFICE_DATA` ADD FOREIGN KEY (`c_ly_range`) REFERENCES `YEAR_RANGE_CODES`(`c_range_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSTED_TO_OFFICE_DATA` ADD FOREIGN KEY (`c_office_category_id`) REFERENCES `OFFICE_CATEGORIES`(`c_office_category_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSTED_TO_OFFICE_DATA` ADD FOREIGN KEY (`c_office_id`) REFERENCES `OFFICE_CODES`(`c_office_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSTED_TO_OFFICE_DATA` ADD FOREIGN KEY (`c_personid`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSTED_TO_OFFICE_DATA` ADD FOREIGN KEY (`c_posting_id`) REFERENCES `POSTING_DATA`(`c_posting_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSTED_TO_OFFICE_DATA` ADD FOREIGN KEY (`c_source`) REFERENCES `TEXT_CODES`(`c_textid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `POSTING_DATA` ADD FOREIGN KEY (`c_personid`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `SOCIAL_INSTITUTION_ADDR` ADD FOREIGN KEY (`c_inst_addr_id`) REFERENCES `ADDR_CODES`(`c_addr_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `SOCIAL_INSTITUTION_ADDR` ADD FOREIGN KEY (`c_inst_addr_type_code`) REFERENCES `SOCIAL_INSTITUTION_ADDR_TYPES`(`c_inst_addr_type_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `SOCIAL_INSTITUTION_ADDR` ADD FOREIGN KEY (`c_inst_code`) REFERENCES `SOCIAL_INSTITUTION_CODES`(`c_inst_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `SOCIAL_INSTITUTION_ADDR` ADD FOREIGN KEY (`c_source`) REFERENCES `TEXT_CODES`(`c_textid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `SOCIAL_INSTITUTION_CODES` ADD FOREIGN KEY (`c_by_nianhao_code`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `SOCIAL_INSTITUTION_CODES` ADD FOREIGN KEY (`c_by_year_range`) REFERENCES `YEAR_RANGE_CODES`(`c_range_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `SOCIAL_INSTITUTION_CODES` ADD FOREIGN KEY (`c_ey_nianhao_code`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `SOCIAL_INSTITUTION_CODES` ADD FOREIGN KEY (`c_ey_year_range`) REFERENCES `YEAR_RANGE_CODES`(`c_range_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `SOCIAL_INSTITUTION_CODES` ADD FOREIGN KEY (`c_inst_begin_dy`) REFERENCES `DYNASTIES`(`c_dy`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `SOCIAL_INSTITUTION_CODES` ADD FOREIGN KEY (`c_inst_floruit_dy`) REFERENCES `DYNASTIES`(`c_dy`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `SOCIAL_INSTITUTION_CODES` ADD FOREIGN KEY (`c_inst_name_code`) REFERENCES `SOCIAL_INSTITUTION_NAME_CODES`(`c_inst_name_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `SOCIAL_INSTITUTION_CODES` ADD FOREIGN KEY (`c_inst_type_code`) REFERENCES `SOCIAL_INSTITUTION_TYPES`(`c_inst_type_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `SOCIAL_INSTITUTION_CODES` ADD FOREIGN KEY (`c_source`) REFERENCES `TEXT_CODES`(`c_textid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `STATUS_CODE_TYPE_REL` ADD FOREIGN KEY (`c_status_code`) REFERENCES `STATUS_CODES`(`c_status_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `STATUS_CODE_TYPE_REL` ADD FOREIGN KEY (`c_status_type_code`) REFERENCES `STATUS_TYPES`(`c_status_type_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `STATUS_DATA` ADD FOREIGN KEY (`c_fy_nh_code`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `STATUS_DATA` ADD FOREIGN KEY (`c_fy_range`) REFERENCES `YEAR_RANGE_CODES`(`c_range_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `STATUS_DATA` ADD FOREIGN KEY (`c_ly_nh_code`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `STATUS_DATA` ADD FOREIGN KEY (`c_ly_range`) REFERENCES `YEAR_RANGE_CODES`(`c_range_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `STATUS_DATA` ADD FOREIGN KEY (`c_personid`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `STATUS_DATA` ADD FOREIGN KEY (`c_source`) REFERENCES `TEXT_CODES`(`c_textid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `STATUS_DATA` ADD FOREIGN KEY (`c_status_code`) REFERENCES `STATUS_CODES`(`c_status_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `TEXT_BIBLCAT_CODE_TYPE_REL` ADD FOREIGN KEY (`c_text_cat_code`) REFERENCES `TEXT_BIBLCAT_CODES`(`c_text_cat_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `TEXT_BIBLCAT_CODE_TYPE_REL` ADD FOREIGN KEY (`c_text_cat_type_id`) REFERENCES `TEXT_BIBLCAT_TYPES`(`c_text_cat_type_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `TEXT_CODES` ADD FOREIGN KEY (`c_bibl_cat_code`) REFERENCES `TEXT_BIBLCAT_CODES`(`c_text_cat_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `TEXT_CODES` ADD FOREIGN KEY (`c_extant`) REFERENCES `EXTANT_CODES`(`c_extant_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `TEXT_CODES` ADD FOREIGN KEY (`c_pub_country`) REFERENCES `COUNTRY_CODES`(`c_country_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `TEXT_CODES` ADD FOREIGN KEY (`c_pub_dy`) REFERENCES `DYNASTIES`(`c_dy`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `TEXT_CODES` ADD FOREIGN KEY (`c_pub_nh_code`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `TEXT_CODES` ADD FOREIGN KEY (`c_pub_range_code`) REFERENCES `YEAR_RANGE_CODES`(`c_range_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `TEXT_CODES` ADD FOREIGN KEY (`c_source`) REFERENCES `TEXT_CODES`(`c_textid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `TEXT_CODES` ADD FOREIGN KEY (`c_text_country`) REFERENCES `COUNTRY_CODES`(`c_country_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `TEXT_CODES` ADD FOREIGN KEY (`c_text_dy`) REFERENCES `DYNASTIES`(`c_dy`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `TEXT_CODES` ADD FOREIGN KEY (`c_text_nh_code`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `TEXT_CODES` ADD FOREIGN KEY (`c_text_range_code`) REFERENCES `YEAR_RANGE_CODES`(`c_range_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `TEXT_DATA` ADD FOREIGN KEY (`c_nh_code`) REFERENCES `NIAN_HAO`(`c_nianhao_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `TEXT_DATA` ADD FOREIGN KEY (`c_personid`) REFERENCES `BIOG_MAIN`(`c_personid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `TEXT_DATA` ADD FOREIGN KEY (`c_range_code`) REFERENCES `YEAR_RANGE_CODES`(`c_range_code`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `TEXT_DATA` ADD FOREIGN KEY (`c_role_id`) REFERENCES `TEXT_ROLE_CODES`(`c_role_id`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `TEXT_DATA` ADD FOREIGN KEY (`c_source`) REFERENCES `TEXT_CODES`(`c_textid`) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE `TEXT_DATA` ADD FOREIGN KEY (`c_textid`) REFERENCES `TEXT_CODES`(`c_textid`) ON UPDATE CASCADE ON DELETE CASCADE;

In [5]:
# Remove primary keys
for i in read_primary_key():
#     print(i)
    print(' ALTER TABLE %s DROP PRIMARY KEY;'%(i.upper()))
#     break

 ALTER TABLE ADDR_BELONGS_DATA DROP PRIMARY KEY;
 ALTER TABLE ALTNAME_DATA DROP PRIMARY KEY;
 ALTER TABLE ASSOC_CODE_TYPE_REL DROP PRIMARY KEY;
 ALTER TABLE ASSOC_CODES DROP PRIMARY KEY;
 ALTER TABLE ASSOC_DATA DROP PRIMARY KEY;
 ALTER TABLE BIOG_ADDR_DATA DROP PRIMARY KEY;
 ALTER TABLE BIOG_INST_DATA DROP PRIMARY KEY;
 ALTER TABLE BIOG_MAIN DROP PRIMARY KEY;
 ALTER TABLE BIOG_SOURCE_DATA DROP PRIMARY KEY;
 ALTER TABLE ENTRY_CODE_TYPE_REL DROP PRIMARY KEY;
 ALTER TABLE ENTRY_DATA DROP PRIMARY KEY;
 ALTER TABLE EVENT_CODES DROP PRIMARY KEY;
 ALTER TABLE EVENTS_ADDR DROP PRIMARY KEY;
 ALTER TABLE EVENTS_DATA DROP PRIMARY KEY;
 ALTER TABLE KIN_DATA DROP PRIMARY KEY;
 ALTER TABLE KINSHIP_CODES DROP PRIMARY KEY;
 ALTER TABLE NIAN_HAO DROP PRIMARY KEY;
 ALTER TABLE OFFICE_CODE_TYPE_REL DROP PRIMARY KEY;
 ALTER TABLE OFFICE_CODES DROP PRIMARY KEY;
 ALTER TABLE OFFICE_TYPE_TREE DROP PRIMARY KEY;
 ALTER TABLE POSSESSION_ADDR DROP PRIMARY KEY;
 ALTER TABLE POSSESSION_DATA DROP PRIMARY KEY;
 ALTER TABLE POSTED_TO_ADDR_DATA DROP PRIMARY KEY;
 ALTER TABLE POSTED_TO_OFFICE_DATA DROP PRIMARY KEY;
 ALTER TABLE POSTING_DATA DROP PRIMARY KEY;
 ALTER TABLE SOCIAL_INSTITUTION_ADDR DROP PRIMARY KEY;
 ALTER TABLE SOCIAL_INSTITUTION_CODES DROP PRIMARY KEY;
 ALTER TABLE STATUS_CODE_TYPE_REL DROP PRIMARY KEY;
 ALTER TABLE STATUS_DATA DROP PRIMARY KEY;
 ALTER TABLE TEXT_BIBLCAT_CODE_TYPE_REL DROP PRIMARY KEY;
 ALTER TABLE TEXT_CODES DROP PRIMARY KEY;
 ALTER TABLE TEXT_DATA DROP PRIMARY KEY;

In [7]:
# 有时候 posting 两个表中会有被删除之后，c_personid 没有被 constraint 机制删除的情况。可以由这个程序生成代码进行删除
for i in read_primary_key():
#     print(i)
    if "DATA" in i and i!="ADDR_BELONGS_DATA":
        print('delete from %s where (select count(1) as num from BIOG_MAIN where BIOG_MAIN.c_personid = %s.c_personid) = 0;'%(i.upper(), i.upper()))

delete from ALTNAME_DATA where (select count(1) as num from BIOG_MAIN where BIOG_MAIN.c_personid = ALTNAME_DATA.c_personid) = 0;
delete from ASSOC_DATA where (select count(1) as num from BIOG_MAIN where BIOG_MAIN.c_personid = ASSOC_DATA.c_personid) = 0;
delete from BIOG_ADDR_DATA where (select count(1) as num from BIOG_MAIN where BIOG_MAIN.c_personid = BIOG_ADDR_DATA.c_personid) = 0;
delete from BIOG_INST_DATA where (select count(1) as num from BIOG_MAIN where BIOG_MAIN.c_personid = BIOG_INST_DATA.c_personid) = 0;
delete from BIOG_SOURCE_DATA where (select count(1) as num from BIOG_MAIN where BIOG_MAIN.c_personid = BIOG_SOURCE_DATA.c_personid) = 0;
delete from ENTRY_DATA where (select count(1) as num from BIOG_MAIN where BIOG_MAIN.c_personid = ENTRY_DATA.c_personid) = 0;
delete from EVENTS_DATA where (select count(1) as num from BIOG_MAIN where BIOG_MAIN.c_personid = EVENTS_DATA.c_personid) = 0;
delete from KIN_DATA where (select count(1) as num from BIOG_MAIN where BIOG_MAIN.c_personid = KIN_DATA.c_personid) = 0;
delete from POSSESSION_DATA where (select count(1) as num from BIOG_MAIN where BIOG_MAIN.c_personid = POSSESSION_DATA.c_personid) = 0;
delete from POSTED_TO_ADDR_DATA where (select count(1) as num from BIOG_MAIN where BIOG_MAIN.c_personid = POSTED_TO_ADDR_DATA.c_personid) = 0;
delete from POSTED_TO_OFFICE_DATA where (select count(1) as num from BIOG_MAIN where BIOG_MAIN.c_personid = POSTED_TO_OFFICE_DATA.c_personid) = 0;
delete from POSTING_DATA where (select count(1) as num from BIOG_MAIN where BIOG_MAIN.c_personid = POSTING_DATA.c_personid) = 0;
delete from STATUS_DATA where (select count(1) as num from BIOG_MAIN where BIOG_MAIN.c_personid = STATUS_DATA.c_personid) = 0;
delete from TEXT_DATA where (select count(1) as num from BIOG_MAIN where BIOG_MAIN.c_personid = TEXT_DATA.c_personid) = 0;