In [1]:
import pymysql
from tqdm import tqdm
import pyodbc

DB_CONNECTION = 'mysql'
DB_HOST = 'localhost'
DB_PORT = 3306
DB_DATABASE = '***'
DB_USERNAME = '***'
DB_PASSWORD = '***'

field_type = {
 1: 'INTEGER',
 2: 'INTEGER',
 3: 'INTEGER',
 5: 'DOUBLE',
 7: 'TIMESTAMP',
 12: 'TIMESTAMP',
 16: 'BIT',
 252: 'LONGTEXT',
 253: 'VARCHAR(255)',
 }

conn_str = (
    r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
    r'DBQ=C:\Users\Hongsu\Desktop\mysql2access\cbdb.mdb;'
    )
cnxn = pyodbc.connect(conn_str)
crsr = cnxn.cursor()

In [2]:
def get_table_name():
    db = pymysql.connect(DB_HOST, DB_USERNAME, DB_PASSWORD, DB_DATABASE,charset="utf8mb4")
    cursor = db.cursor()
    cursor.execute("show tables")
    data = cursor.fetchall()
#    print(len(data))
#    print(data)
    db.close()
    return data

In [3]:
def get_columns(table_name):
    res = ""
    db = pymysql.connect(DB_HOST, DB_USERNAME, DB_PASSWORD, DB_DATABASE,charset="utf8mb4")
    cursor = db.cursor()
    sqlSentence = "select * from `%s` limit 1"%table_name
    cursor.execute(sqlSentence)
    dataSchema = cursor.description
    for row in dataSchema:
        column_name = row[0]
        type_name = field_type[row[1]]
        res += "`%s` %s," % (column_name, type_name)
    res = res[:-1]
    sql = "CREATE TABLE `%s` ( %s )" % (table_name, res)
    db.close()
    return sql

def creat_table(table_name, sql, table_list):
    if table_name in table_list:
        print("DROP TABLE `%s`" % (table_name))
        crsr.execute("DROP TABLE `%s`" % (table_name))
        cnxn.commit()
        print('drop %s successed' % (table_name))
    crsr.execute(sql)
    cnxn.commit()
    print('create %s successed' % (table_name))

def get_values(table_name):
    db = pymysql.connect(DB_HOST, DB_USERNAME, DB_PASSWORD, DB_DATABASE,charset="utf8mb4")
    cursor = db.cursor()
    cursor.execute('SELECT * FROM `%s`' % (table_name))
    data = cursor.fetchall()
    db.close()
    return data

def insert_values(table_name, rows):
    count = 0
    isNum = False
    for i in tqdm(range(len(rows))):
        try:
            row = list(rows[i])
            for i in range(len(row)):
                if row[i] == b'\x00':
                    row[i] = 0
                elif row[i] == b'\x01':
                    row[i] = 1
            query = "INSERT INTO `"+table_name+"` values ("+','.join(["?"]*len(row))+");"
            crsr.execute(query,tuple(row))
            count += 1
        except:
            print("stop at:")
            print(i)
            print(rows[i])
            print(row)
            print("INSERT INTO `"+table_name+"` values ("+','.join(["?"]*len(row))+");")
            raise
    cnxn.commit()

In [4]:
def main():
    table_list = []
    for table_info in crsr.tables(tableType='TABLE'):
        table_list.append(table_info.table_name)
    print(table_list)   
    for table_name in get_table_name():
        table_name = table_name[0].upper()
        creat_table_sql = get_columns(table_name)
        creat_table(table_name, creat_table_sql, table_list)
        rows = get_values(table_name)
        insert_values(table_name, rows)
    cnxn.close()

In [5]:
main()

['ADDR_BELONGS_DATA', 'ADDR_CODES', 'ADDR_PLACE_DATA', 'ADDR_XY', 'ADDRESSES', 'ALTNAME_CODES', 'ALTNAME_DATA', 'APPOINTMENT_TYPE_CODES', 'ASSOC_CODE_TYPE_REL', 'ASSOC_CODES', 'ASSOC_DATA', 'ASSOC_TYPES', 'ASSUME_OFFICE_CODES', 'BIOG_ADDR_CODES', 'BIOG_ADDR_DATA', 'BIOG_INST_CODES', 'BIOG_INST_DATA', 'BIOG_MAIN', 'BIOG_SOURCE_DATA', 'CHORONYM_CODES', 'COPYMISSINGTABLES', 'COPYTABLES', 'COPYTABLESDEFAULT', 'COUNTRY_CODES', 'DATABASE_LINK_CODES', 'DATABASE_LINK_DATA', 'DYNASTIES', 'ENTRY_CODE_TYPE_REL', 'ENTRY_CODES', 'ENTRY_DATA', 'ENTRY_TYPES', 'ETHNICITY_TRIBE_CODES', 'EVENT_CODES', 'EVENTS_ADDR', 'EVENTS_DATA', 'EXTANT_CODES', 'FIX_AUTHORS', 'FOREIGNKEYS', 'FORMLABELS', 'GANZHI_CODES', 'HOUSEHOLD_STATUS_CODES', 'KIN_DATA', 'KIN_MOURNING', 'KIN_MOURNING_STEPS', 'KINSHIP_CODES', 'LITERARYGENRE_CODES', 'MEASURE_CODES', 'MIGRATIONS', 'NIAN_HAO', 'OAUTH_ACCESS_TOKENS', 'OAUTH_AUTH_CODES', 'OAUTH_CLIENTS', 'OAUTH_PERSONAL_ACCESS_CLIENTS', 'OAUTH_REFRESH_TOKENS', 'OCCASION_CODES', 'OFFICE_CATEGORIES', 'OFFICE_CODE_TYPE_REL', 'OFFICE_CODES', 'OFFICE_CODES_CONVERSION', 'OFFICE_TYPE_TREE', 'OFFICE_TYPE_TREE_BACKUP', 'PARENTAL_STATUS_CODES', 'PLACE_CODES', 'POSSESSION_ACT_CODES', 'POSSESSION_ADDR', 'POSSESSION_DATA', 'POSTED_TO_ADDR_DATA', 'POSTED_TO_OFFICE_DATA', 'POSTING_DATA', 'SCHOLARLYTOPIC_CODES', 'SOCIAL_INSTITUTION_ADDR', 'SOCIAL_INSTITUTION_ADDR_TYPES', 'SOCIAL_INSTITUTION_ALTNAME_CODES', 'SOCIAL_INSTITUTION_ALTNAME_DATA', 'SOCIAL_INSTITUTION_CODES', 'SOCIAL_INSTITUTION_CODES_CONVERSION', 'SOCIAL_INSTITUTION_NAME_CODES', 'SOCIAL_INSTITUTION_TYPES', 'STATUS_CODE_TYPE_REL', 'STATUS_CODES', 'STATUS_DATA', 'STATUS_TYPES', 'TABLESFIELDS', 'TABLESFIELDSCHANGES', 'TANG BUREAUCRATIC TREE', 'TEXT_BIBLCAT_CODE_TYPE_REL', 'TEXT_BIBLCAT_CODES', 'TEXT_BIBLCAT_TYPES', 'TEXT_BIBLCAT_TYPES_1', 'TEXT_CODES', 'TEXT_DATA', 'TEXT_ROLE_CODES', 'TEXT_TYPE', 'YEAR_RANGE_CODES']
DROP TABLE `ADDR_BELONGS_DATA`
drop ADDR_BELONGS_DATA successed
create ADDR_BELONGS_DATA successed

100%|██████████████████████████████████████████████████████████████████████████| 22010/22010 [00:06<00:00, 3619.54it/s]

DROP TABLE `ADDR_CODES`
drop ADDR_CODES successed
create ADDR_CODES successed

100%|██████████████████████████████████████████████████████████████████████████| 21084/21084 [00:07<00:00, 2849.87it/s]

DROP TABLE `ADDR_PLACE_DATA`
drop ADDR_PLACE_DATA successed
create ADDR_PLACE_DATA successed

100%|██████████████████████████████████████████████████████████████████████████| 23692/23692 [00:04<00:00, 5007.41it/s]

DROP TABLE `ADDR_XY`
drop ADDR_XY successed
create ADDR_XY successed

100%|██████████████████████████████████████████████████████████████████████████| 21453/21453 [00:05<00:00, 4153.80it/s]

DROP TABLE `ADDRESSES`
drop ADDRESSES successed
create ADDRESSES successed

100%|██████████████████████████████████████████████████████████████████████████| 25962/25962 [00:13<00:00, 1950.21it/s]

DROP TABLE `ALTNAME_CODES`
drop ALTNAME_CODES successed
create ALTNAME_CODES successed

100%|████████████████████████████████████████████████████████████████████████████████| 21/21 [00:00<00:00, 4207.93it/s]

DROP TABLE `ALTNAME_DATA`
drop ALTNAME_DATA successed
create ALTNAME_DATA successed

100%|████████████████████████████████████████████████████████████████████████| 149284/149284 [00:54<00:00, 2734.36it/s]

DROP TABLE `APPOINTMENT_TYPE_CODES`
drop APPOINTMENT_TYPE_CODES successed
create APPOINTMENT_TYPE_CODES successed

100%|████████████████████████████████████████████████████████████████████████████████| 91/91 [00:00<00:00, 4332.81it/s]

DROP TABLE `ASSOC_CODE_TYPE_REL`
drop ASSOC_CODE_TYPE_REL successed
create ASSOC_CODE_TYPE_REL successed

100%|██████████████████████████████████████████████████████████████████████████████| 461/461 [00:00<00:00, 5871.31it/s]

DROP TABLE `ASSOC_CODES`
drop ASSOC_CODES successed
create ASSOC_CODES successed

100%|██████████████████████████████████████████████████████████████████████████████| 470/470 [00:00<00:00, 3598.98it/s]

DROP TABLE `ASSOC_DATA`
drop ASSOC_DATA successed
create ASSOC_DATA successed

100%|████████████████████████████████████████████████████████████████████████| 132053/132053 [02:02<00:00, 1077.62it/s]

DROP TABLE `ASSOC_TYPES`
drop ASSOC_TYPES successed
create ASSOC_TYPES successed

100%|████████████████████████████████████████████████████████████████████████████████| 45/45 [00:00<00:00, 3459.12it/s]

DROP TABLE `ASSUME_OFFICE_CODES`
drop ASSUME_OFFICE_CODES successed
create ASSUME_OFFICE_CODES successed

100%|██████████████████████████████████████████████████████████████████████████████████| 5/5 [00:00<00:00, 2498.10it/s]

DROP TABLE `BIOG_ADDR_CODES`
drop BIOG_ADDR_CODES successed
create BIOG_ADDR_CODES successed

100%|████████████████████████████████████████████████████████████████████████████████| 22/22 [00:00<00:00, 3140.73it/s]

DROP TABLE `BIOG_ADDR_DATA`
drop BIOG_ADDR_DATA successed
create BIOG_ADDR_DATA successed

100%|████████████████████████████████████████████████████████████████████████| 289282/289282 [03:49<00:00, 1261.16it/s]

DROP TABLE `BIOG_INST_CODES`
drop BIOG_INST_CODES successed
create BIOG_INST_CODES successed

100%|████████████████████████████████████████████████████████████████████████████████| 25/25 [00:00<00:00, 4163.49it/s]

DROP TABLE `BIOG_INST_DATA`
drop BIOG_INST_DATA successed
create BIOG_INST_DATA successed

100%|██████████████████████████████████████████████████████████████████████████████| 237/237 [00:00<00:00, 1925.47it/s]

DROP TABLE `BIOG_MAIN`
drop BIOG_MAIN successed
create BIOG_MAIN successed

100%|█████████████████████████████████████████████████████████████████████████| 417417/417417 [12:16<00:00, 566.77it/s]

DROP TABLE `BIOG_SOURCE_DATA`
drop BIOG_SOURCE_DATA successed
create BIOG_SOURCE_DATA successed

100%|████████████████████████████████████████████████████████████████████████| 427032/427032 [01:48<00:00, 3928.76it/s]

DROP TABLE `CHORONYM_CODES`
drop CHORONYM_CODES successed
create CHORONYM_CODES successed

100%|██████████████████████████████████████████████████████████████████████████████| 170/170 [00:00<00:00, 5306.05it/s]

DROP TABLE `COPYMISSINGTABLES`
drop COPYMISSINGTABLES successed
create COPYMISSINGTABLES successed

100%|████████████████████████████████████████████████████████████████████████████████| 42/42 [00:00<00:00, 6004.73it/s]

DROP TABLE `COPYTABLES`
drop COPYTABLES successed
create COPYTABLES successed

100%|████████████████████████████████████████████████████████████████████████████████| 18/18 [00:00<00:00, 5995.67it/s]

DROP TABLE `COPYTABLESDEFAULT`
drop COPYTABLESDEFAULT successed
create COPYTABLESDEFAULT successed

100%|████████████████████████████████████████████████████████████████████████████████| 67/67 [00:00<00:00, 5583.41it/s]

DROP TABLE `COUNTRY_CODES`
drop COUNTRY_CODES successed
create COUNTRY_CODES successed

100%|██████████████████████████████████████████████████████████████████████████████████| 8/8 [00:00<00:00, 4008.41it/s]

DROP TABLE `DATABASE_LINK_CODES`
drop DATABASE_LINK_CODES successed
create DATABASE_LINK_CODES successed

100%|██████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 1499.04it/s]

DROP TABLE `DATABASE_LINK_DATA`
drop DATABASE_LINK_DATA successed
create DATABASE_LINK_DATA successed

100%|██████████████████████████████████████████████████████████████████████████| 19059/19059 [00:03<00:00, 5078.81it/s]

DROP TABLE `DYNASTIES`
drop DYNASTIES successed
create DYNASTIES successed

100%|████████████████████████████████████████████████████████████████████████████████| 80/80 [00:00<00:00, 3997.19it/s]

DROP TABLE `ENTRY_CODE_TYPE_REL`
drop ENTRY_CODE_TYPE_REL successed
create ENTRY_CODE_TYPE_REL successed

100%|██████████████████████████████████████████████████████████████████████████████| 223/223 [00:00<00:00, 6024.51it/s]

DROP TABLE `ENTRY_CODES`
drop ENTRY_CODES successed
create ENTRY_CODES successed

100%|██████████████████████████████████████████████████████████████████████████████| 259/259 [00:00<00:00, 5392.21it/s]

DROP TABLE `ENTRY_DATA`
drop ENTRY_DATA successed
create ENTRY_DATA successed

100%|██████████████████████████████████████████████████████████████████████████| 92213/92213 [01:08<00:00, 1343.46it/s]

DROP TABLE `ENTRY_TYPES`
drop ENTRY_TYPES successed
create ENTRY_TYPES successed

100%|████████████████████████████████████████████████████████████████████████████████| 26/26 [00:00<00:00, 3715.06it/s]

DROP TABLE `ETHNICITY_TRIBE_CODES`
drop ETHNICITY_TRIBE_CODES successed
create ETHNICITY_TRIBE_CODES successed

100%|██████████████████████████████████████████████████████████████████████████████| 497/497 [00:00<00:00, 1826.00it/s]

DROP TABLE `EVENT_CODES`
drop EVENT_CODES successed
create EVENT_CODES successed

100%|██████████████████████████████████████████████████████████████████████████████| 117/117 [00:00<00:00, 1900.29it/s]

DROP TABLE `EVENTS_ADDR`
drop EVENTS_ADDR successed
create EVENTS_ADDR successed

100%|██████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00, 1999.67it/s]

DROP TABLE `EVENTS_DATA`
drop EVENTS_DATA successed
create EVENTS_DATA successed

100%|██████████████████████████████████████████████████████████████████████████████| 422/422 [00:00<00:00, 1677.35it/s]

DROP TABLE `EXTANT_CODES`
drop EXTANT_CODES successed
create EXTANT_CODES successed

100%|██████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00, 1998.00it/s]

DROP TABLE `FIX_AUTHORS`
drop FIX_AUTHORS successed
create FIX_AUTHORS successed

100%|██████████████████████████████████████████████████████████████████████████████| 194/194 [00:00<00:00, 2769.56it/s]

DROP TABLE `FOREIGNKEYS`
drop FOREIGNKEYS successed
create FOREIGNKEYS successed

100%|██████████████████████████████████████████████████████████████████████████████| 182/182 [00:00<00:00, 2424.95it/s]

DROP TABLE `FORMLABELS`
drop FORMLABELS successed
create FORMLABELS successed

100%|██████████████████████████████████████████████████████████████████████████████| 330/330 [00:00<00:00, 4517.36it/s]

DROP TABLE `GANZHI_CODES`
drop GANZHI_CODES successed
create GANZHI_CODES successed

100%|████████████████████████████████████████████████████████████████████████████████| 61/61 [00:00<00:00, 5078.35it/s]

DROP TABLE `HOUSEHOLD_STATUS_CODES`
drop HOUSEHOLD_STATUS_CODES successed
create HOUSEHOLD_STATUS_CODES successed

100%|████████████████████████████████████████████████████████████████████████████████| 34/34 [00:00<00:00, 4846.43it/s]

DROP TABLE `KIN_DATA`
drop KIN_DATA successed
create KIN_DATA successed

100%|████████████████████████████████████████████████████████████████████████| 484204/484204 [02:59<00:00, 2694.47it/s]

DROP TABLE `KIN_MOURNING`
drop KIN_MOURNING successed
create KIN_MOURNING successed

100%|██████████████████████████████████████████████████████████████████████████████| 159/159 [00:00<00:00, 3209.86it/s]

DROP TABLE `KIN_MOURNING_STEPS`
drop KIN_MOURNING_STEPS successed
create KIN_MOURNING_STEPS successed

100%|██████████████████████████████████████████████████████████████████████████████| 160/160 [00:00<00:00, 4503.86it/s]

DROP TABLE `KINSHIP_CODES`
drop KINSHIP_CODES successed
create KINSHIP_CODES successed

100%|██████████████████████████████████████████████████████████████████████████████| 479/479 [00:00<00:00, 2874.83it/s]

DROP TABLE `LITERARYGENRE_CODES`
drop LITERARYGENRE_CODES successed
create LITERARYGENRE_CODES successed

100%|████████████████████████████████████████████████████████████████████████████████| 12/12 [00:00<00:00, 5957.82it/s]

DROP TABLE `MEASURE_CODES`
drop MEASURE_CODES successed
create MEASURE_CODES successed

100%|██████████████████████████████████████████████████████████████████████████████████| 7/7 [00:00<00:00, 2331.65it/s]

DROP TABLE `MIGRATIONS`
drop MIGRATIONS successed
create MIGRATIONS successed

100%|████████████████████████████████████████████████████████████████████████████████| 13/13 [00:00<00:00, 4331.24it/s]

DROP TABLE `NIAN_HAO`
drop NIAN_HAO successed
create NIAN_HAO successed

100%|██████████████████████████████████████████████████████████████████████████████| 682/682 [00:00<00:00, 3894.40it/s]

DROP TABLE `OAUTH_ACCESS_TOKENS`
drop OAUTH_ACCESS_TOKENS successed
create OAUTH_ACCESS_TOKENS successed

100%|████████████████████████████████████████████████████████████████████████████████| 16/16 [00:00<00:00, 2660.73it/s]

DROP TABLE `OAUTH_AUTH_CODES`
drop OAUTH_AUTH_CODES successed
create OAUTH_AUTH_CODES successed

100%|████████████████████████████████████████████████████████████████████████████████| 11/11 [00:00<00:00, 3649.24it/s]

DROP TABLE `OAUTH_CLIENTS`
drop OAUTH_CLIENTS successed
create OAUTH_CLIENTS successed

100%|██████████████████████████████████████████████████████████████████████████████████| 6/6 [00:00<00:00, 1997.92it/s]

DROP TABLE `OAUTH_PERSONAL_ACCESS_CLIENTS`
drop OAUTH_PERSONAL_ACCESS_CLIENTS successed
create OAUTH_PERSONAL_ACCESS_CLIENTS successed

100%|██████████████████████████████████████████████████████████████████████████████████| 2/2 [00:00<00:00, 1998.72it/s]

DROP TABLE `OAUTH_REFRESH_TOKENS`
drop OAUTH_REFRESH_TOKENS successed
create OAUTH_REFRESH_TOKENS successed

100%|██████████████████████████████████████████████████████████████████████████████████| 8/8 [00:00<00:00, 3996.00it/s]

DROP TABLE `OCCASION_CODES`
drop OCCASION_CODES successed
create OCCASION_CODES successed

100%|████████████████████████████████████████████████████████████████████████████████| 10/10 [00:00<00:00, 3323.27it/s]

DROP TABLE `OFFICE_CATEGORIES`
drop OFFICE_CATEGORIES successed
create OFFICE_CATEGORIES successed

100%|████████████████████████████████████████████████████████████████████████████████| 15/15 [00:00<00:00, 3748.71it/s]

DROP TABLE `OFFICE_CODE_TYPE_REL`
drop OFFICE_CODE_TYPE_REL successed
create OFFICE_CODE_TYPE_REL successed

100%|██████████████████████████████████████████████████████████████████████████| 35001/35001 [00:10<00:00, 3342.22it/s]

DROP TABLE `OFFICE_CODES`
drop OFFICE_CODES successed
create OFFICE_CODES successed

100%|██████████████████████████████████████████████████████████████████████████| 30519/30519 [00:14<00:00, 2141.07it/s]

DROP TABLE `OFFICE_CODES_CONVERSION`
drop OFFICE_CODES_CONVERSION successed
create OFFICE_CODES_CONVERSION successed

100%|██████████████████████████████████████████████████████████████████████████████| 718/718 [00:00<00:00, 4915.64it/s]

DROP TABLE `OFFICE_TYPE_TREE`
drop OFFICE_TYPE_TREE successed
create OFFICE_TYPE_TREE successed

100%|████████████████████████████████████████████████████████████████████████████| 2012/2012 [00:00<00:00, 4470.57it/s]

DROP TABLE `OFFICE_TYPE_TREE_BACKUP`
drop OFFICE_TYPE_TREE_BACKUP successed
create OFFICE_TYPE_TREE_BACKUP successed

100%|████████████████████████████████████████████████████████████████████████████| 2012/2012 [00:00<00:00, 4507.91it/s]

DROP TABLE `PARENTAL_STATUS_CODES`
drop PARENTAL_STATUS_CODES successed
create PARENTAL_STATUS_CODES successed

100%|██████████████████████████████████████████████████████████████████████████████████| 7/7 [00:00<00:00, 3498.17it/s]

create PASSWORD_RESETS successed

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 998.41it/s]

DROP TABLE `PLACE_CODES`
drop PLACE_CODES successed
create PLACE_CODES successed

100%|████████████████████████████████████████████████████████████████████████████| 2502/2502 [00:00<00:00, 4209.14it/s]

DROP TABLE `POSSESSION_ACT_CODES`
drop POSSESSION_ACT_CODES successed
create POSSESSION_ACT_CODES successed

100%|██████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00, 1996.34it/s]

DROP TABLE `POSSESSION_ADDR`
drop POSSESSION_ADDR successed
create POSSESSION_ADDR successed

100%|██████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 1001.51it/s]

DROP TABLE `POSSESSION_DATA`
drop POSSESSION_DATA successed
create POSSESSION_DATA successed

100%|██████████████████████████████████████████████████████████████████████████████████| 5/5 [00:00<00:00, 1249.72it/s]

DROP TABLE `POSTED_TO_ADDR_DATA`
drop POSTED_TO_ADDR_DATA successed
create POSTED_TO_ADDR_DATA successed

100%|████████████████████████████████████████████████████████████████████████| 164283/164283 [00:39<00:00, 4162.98it/s]

DROP TABLE `POSTED_TO_OFFICE_DATA`
drop POSTED_TO_OFFICE_DATA successed
create POSTED_TO_OFFICE_DATA successed

100%|█████████████████████████████████████████████████████████████████████████| 218067/218067 [03:38<00:00, 999.86it/s]

DROP TABLE `POSTING_DATA`
drop POSTING_DATA successed
create POSTING_DATA successed

100%|████████████████████████████████████████████████████████████████████████| 218015/218015 [00:44<00:00, 4893.16it/s]

DROP TABLE `SCHOLARLYTOPIC_CODES`
drop SCHOLARLYTOPIC_CODES successed
create SCHOLARLYTOPIC_CODES successed

100%|████████████████████████████████████████████████████████████████████████████████| 32/32 [00:00<00:00, 3545.20it/s]

DROP TABLE `SOCIAL_INSTITUTION_ADDR`
drop SOCIAL_INSTITUTION_ADDR successed
create SOCIAL_INSTITUTION_ADDR successed

100%|████████████████████████████████████████████████████████████████████████████| 3745/3745 [00:01<00:00, 2817.00it/s]

DROP TABLE `SOCIAL_INSTITUTION_ADDR_TYPES`
drop SOCIAL_INSTITUTION_ADDR_TYPES successed
create SOCIAL_INSTITUTION_ADDR_TYPES successed

100%|██████████████████████████████████████████████████████████████████████████████████| 2/2 [00:00<00:00, 1997.29it/s]

DROP TABLE `SOCIAL_INSTITUTION_ALTNAME_CODES`
drop SOCIAL_INSTITUTION_ALTNAME_CODES successed
create SOCIAL_INSTITUTION_ALTNAME_CODES successed

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 997.93it/s]

DROP TABLE `SOCIAL_INSTITUTION_ALTNAME_DATA`
drop SOCIAL_INSTITUTION_ALTNAME_DATA successed
create SOCIAL_INSTITUTION_ALTNAME_DATA successed

0it [00:00, ?it/s]

DROP TABLE `SOCIAL_INSTITUTION_CODES`
drop SOCIAL_INSTITUTION_CODES successed
create SOCIAL_INSTITUTION_CODES successed

100%|████████████████████████████████████████████████████████████████████████████| 3886/3886 [00:02<00:00, 1942.59it/s]

DROP TABLE `SOCIAL_INSTITUTION_CODES_CONVERSION`
drop SOCIAL_INSTITUTION_CODES_CONVERSION successed
create SOCIAL_INSTITUTION_CODES_CONVERSION successed

100%|████████████████████████████████████████████████████████████████████████████| 2881/2881 [00:00<00:00, 4896.22it/s]

DROP TABLE `SOCIAL_INSTITUTION_NAME_CODES`
drop SOCIAL_INSTITUTION_NAME_CODES successed
create SOCIAL_INSTITUTION_NAME_CODES successed

100%|████████████████████████████████████████████████████████████████████████████| 2505/2505 [00:00<00:00, 5314.53it/s]

DROP TABLE `SOCIAL_INSTITUTION_TYPES`
drop SOCIAL_INSTITUTION_TYPES successed
create SOCIAL_INSTITUTION_TYPES successed

100%|██████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00, 1999.19it/s]

DROP TABLE `STATUS_CODE_TYPE_REL`
drop STATUS_CODE_TYPE_REL successed
create STATUS_CODE_TYPE_REL successed

0it [00:00, ?it/s]

DROP TABLE `STATUS_CODES`
drop STATUS_CODES successed
create STATUS_CODES successed

100%|██████████████████████████████████████████████████████████████████████████████| 264/264 [00:00<00:00, 5174.16it/s]

DROP TABLE `STATUS_DATA`
drop STATUS_DATA successed
create STATUS_DATA successed

100%|██████████████████████████████████████████████████████████████████████████| 54581/54581 [00:29<00:00, 1859.36it/s]

DROP TABLE `STATUS_TYPES`
drop STATUS_TYPES successed
create STATUS_TYPES successed

100%|██████████████████████████████████████████████████████████████████████████████████| 9/9 [00:00<00:00, 2995.93it/s]

DROP TABLE `TABLESFIELDS`
drop TABLESFIELDS successed
create TABLESFIELDS successed

100%|██████████████████████████████████████████████████████████████████████████████| 667/667 [00:00<00:00, 3098.54it/s]

DROP TABLE `TABLESFIELDSCHANGES`
drop TABLESFIELDSCHANGES successed
create TABLESFIELDSCHANGES successed

100%|██████████████████████████████████████████████████████████████████████████████| 367/367 [00:00<00:00, 4584.29it/s]

DROP TABLE `TANG BUREAUCRATIC TREE`
drop TANG BUREAUCRATIC TREE successed
create TANG BUREAUCRATIC TREE successed

100%|██████████████████████████████████████████████████████████████████████████████| 389/389 [00:00<00:00, 4520.05it/s]

DROP TABLE `TEXT_BIBLCAT_CODE_TYPE_REL`
drop TEXT_BIBLCAT_CODE_TYPE_REL successed
create TEXT_BIBLCAT_CODE_TYPE_REL successed

100%|██████████████████████████████████████████████████████████████████████████████| 138/138 [00:00<00:00, 5608.28it/s]

DROP TABLE `TEXT_BIBLCAT_CODES`
drop TEXT_BIBLCAT_CODES successed
create TEXT_BIBLCAT_CODES successed

100%|██████████████████████████████████████████████████████████████████████████████| 144/144 [00:00<00:00, 4427.78it/s]

DROP TABLE `TEXT_BIBLCAT_TYPES`
drop TEXT_BIBLCAT_TYPES successed
create TEXT_BIBLCAT_TYPES successed

100%|████████████████████████████████████████████████████████████████████████████████| 51/51 [00:00<00:00, 3920.49it/s]

DROP TABLE `TEXT_BIBLCAT_TYPES_1`
drop TEXT_BIBLCAT_TYPES_1 successed
create TEXT_BIBLCAT_TYPES_1 successed

100%|██████████████████████████████████████████████████████████████████████████████| 194/194 [00:00<00:00, 4458.50it/s]

DROP TABLE `TEXT_CODES`
drop TEXT_CODES successed
create TEXT_CODES successed

100%|███████████████████████████████████████████████████████████████████████████| 29818/29818 [00:30<00:00, 975.51it/s]

DROP TABLE `TEXT_DATA`
drop TEXT_DATA successed
create TEXT_DATA successed

100%|██████████████████████████████████████████████████████████████████████████| 29696/29696 [00:12<00:00, 2363.04it/s]

DROP TABLE `TEXT_ROLE_CODES`
drop TEXT_ROLE_CODES successed
create TEXT_ROLE_CODES successed

100%|████████████████████████████████████████████████████████████████████████████████| 11/11 [00:00<00:00, 3648.66it/s]

DROP TABLE `TEXT_TYPE`
drop TEXT_TYPE successed
create TEXT_TYPE successed

100%|██████████████████████████████████████████████████████████████████████████████| 119/119 [00:00<00:00, 3963.87it/s]

create TMPBM_NIY successed

100%|████████████████████████████████████████████████████████████████████████| 103531/103531 [00:18<00:00, 5458.08it/s]

create TMPBM_NIY_FINISHED successed

100%|████████████████████████████████████████████████████████████████████████| 197801/197801 [00:37<00:00, 5300.51it/s]

create TMPINDEXYEAR successed

100%|████████████████████████████████████████████████████████████████████████████████| 11/11 [00:00<00:00, 5485.36it/s]

create USERS successed

100%|████████████████████████████████████████████████████████████████████████████████| 15/15 [00:00<00:00, 2997.36it/s]

DROP TABLE `YEAR_RANGE_CODES`
drop YEAR_RANGE_CODES successed
create YEAR_RANGE_CODES successed

100%|██████████████████████████████████████████████████████████████████████████████████| 6/6 [00:00<00:00, 5999.00it/s]