In [1]:
import pymysql
from tqdm import tqdm
import pyodbc

DB_CONNECTION = 'mysql'
DB_HOST = 'localhost'
DB_PORT = 3306
DB_DATABASE = 'cbdb_data'
DB_USERNAME = 'root'
DB_PASSWORD = ''

field_type = {
 1: 'INTEGER',
 2: 'INTEGER',
 3: 'INTEGER',
 5: 'DOUBLE',
 7: 'TIMESTAMP',
 12: 'TIMESTAMP',
 16: 'BIT',
 252: 'LONGTEXT',
 253: 'VARCHAR(255)',
 }

conn_str = (
    r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
    r'DBQ=C:\\Users\\CBDB\Desktop\\mysql2access\\cbdb.mdb;'
    )
cnxn = pyodbc.connect(conn_str)
crsr = cnxn.cursor()

In [2]:
def get_table_name():
    db = pymysql.connect(host=DB_HOST, user=DB_USERNAME, password=DB_PASSWORD, database=DB_DATABASE,charset="utf8mb4",cursorclass=pymysql.cursors.DictCursor)
    cursor = db.cursor()
    cursor.execute("show tables")
    data = cursor.fetchall()
#     print(len(data))
#     print(data)
    db.close()
    return data

In [3]:
def get_columns(table_name):
    res = ""
    db = pymysql.connect(host=DB_HOST, user=DB_USERNAME, password=DB_PASSWORD, database=DB_DATABASE,charset="utf8mb4",cursorclass=pymysql.cursors.DictCursor)
    cursor = db.cursor()
    sqlSentence = "select * from `%s` limit 1"%table_name
    cursor.execute(sqlSentence)
    dataSchema = cursor.description
    for row in dataSchema:
        column_name = row[0]
        type_name = field_type[row[1]]
        res += "`%s` %s," % (column_name, type_name)
    res = res[:-1]
    sql = "CREATE TABLE `%s` ( %s )" % (table_name, res)
    db.close()
    return sql

def creat_table(table_name, sql, table_list):
    if table_name in table_list:
        print("DROP TABLE `%s`" % (table_name))
        crsr.execute("DROP TABLE `%s`" % (table_name))
        cnxn.commit()
        print('drop %s successed' % (table_name))
    crsr.execute(sql)
    cnxn.commit()
    print('create %s successed' % (table_name))

def get_values(table_name):
    db = pymysql.connect(host=DB_HOST, user=DB_USERNAME, password=DB_PASSWORD, database=DB_DATABASE,charset="utf8mb4",cursorclass=pymysql.cursors.DictCursor)
    cursor = db.cursor()
    cursor.execute('SELECT * FROM `%s`' % (table_name))
    data = cursor.fetchall()
    db.close()
    return data

def insert_values(table_name, rows):
    count = 0
    isNum = False
    for i in tqdm(range(len(rows))):
        row = []
        try:
            for _,k in rows[i].items():
                row.append(k)
            for j in range(len(row)):
                if row[j] == b'\x00':
                    row[j] = 0
                elif row[j] == b'\x01':
                    row[j] = 1
            query = "INSERT INTO `"+table_name+"` values ("+','.join(["?"]*len(row))+");"
            crsr.execute(query,tuple(row))
            count += 1
        except:
            print("stop at:")
            print(i)
            print(rows[i])
            print(row)
            print("INSERT INTO `"+table_name+"` values ("+','.join(["?"]*len(row))+");")
            raise
    cnxn.commit()

In [4]:
def main():
    table_list = []
    for table_info in crsr.tables(tableType='TABLE'):
        table_list.append(table_info.table_name)
    print(table_list)   
    for table_name in get_table_name():
        for _,table_name_in_dic in table_name.items():
            table_name = table_name_in_dic.upper()
            creat_table_sql = get_columns(table_name)
            creat_table(table_name, creat_table_sql, table_list)
            rows = get_values(table_name)
            insert_values(table_name, rows)
    cnxn.close()

In [5]:
main()

['ADDR_BELONGS_DATA']
DROP TABLE `ADDR_BELONGS_DATA`
drop ADDR_BELONGS_DATA successed
create ADDR_BELONGS_DATA successed

  0%|          | 62/34559 [00:00<00:56, 614.18it/s]

here:
{'c_addr_id': 1, 'c_belongs_to': 0, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1, 0, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 3, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 4, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 5, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[5, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 6, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[6, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 7, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[7, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 8, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[8, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 9, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[9, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 10, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[10, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 11, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[11, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 12, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[12, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 13, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[13, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 14, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[14, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 15, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[15, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 16, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[16, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 17, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[17, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 18, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[18, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 19, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[19, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 20, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[20, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 21, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[21, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 22, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[22, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 23, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[23, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 24, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[24, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 25, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[25, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 26, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[26, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 27, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[27, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 28, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[28, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 29, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[29, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 30, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[30, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 31, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[31, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 32, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[32, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 33, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[33, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 34, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[34, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 35, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[35, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 36, 'c_belongs_to': 1, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[36, 1, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 37, 'c_belongs_to': 2, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[37, 2, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 38, 'c_belongs_to': 3, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[38, 3, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 39, 'c_belongs_to': 4, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[39, 4, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 40, 'c_belongs_to': 4, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[40, 4, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 41, 'c_belongs_to': 4, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[41, 4, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 42, 'c_belongs_to': 4, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[42, 4, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 43, 'c_belongs_to': 4, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[43, 4, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 44, 'c_belongs_to': 4, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[44, 4, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 45, 'c_belongs_to': 4, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[45, 4, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 46, 'c_belongs_to': 4, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[46, 4, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 47, 'c_belongs_to': 4, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[47, 4, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 48, 'c_belongs_to': 4, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[48, 4, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 49, 'c_belongs_to': 4, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[49, 4, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 50, 'c_belongs_to': 4, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[50, 4, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 51, 'c_belongs_to': 4, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[51, 4, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 52, 'c_belongs_to': 4, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[52, 4, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 53, 'c_belongs_to': 4, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[53, 4, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 54, 'c_belongs_to': 4, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[54, 4, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 55, 'c_belongs_to': 4, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[55, 4, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 56, 'c_belongs_to': 4, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[56, 4, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 57, 'c_belongs_to': 5, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[57, 5, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 58, 'c_belongs_to': 5, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[58, 5, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 59, 'c_belongs_to': 5, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[59, 5, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 60, 'c_belongs_to': 5, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[60, 5, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 61, 'c_belongs_to': 5, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[61, 5, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 62, 'c_belongs_to': 5, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[62, 5, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 63, 'c_belongs_to': 5, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[63, 5, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 64, 'c_belongs_to': 5, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[64, 5, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 65, 'c_belongs_to': 5, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[65, 5, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 66, 'c_belongs_to': 5, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[66, 5, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 67, 'c_belongs_to': 5, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[67, 5, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 68, 'c_belongs_to': 6, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[68, 6, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 69, 'c_belongs_to': 6, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[69, 6, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 70, 'c_belongs_to': 6, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[70, 6, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 71, 'c_belongs_to': 6, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[71, 6, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 72, 'c_belongs_to': 6, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[72, 6, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 73, 'c_belongs_to': 6, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[73, 6, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 74, 'c_belongs_to': 6, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[74, 6, 1949, 2005, 0, '', None, '']
here:

  1%|          | 194/34559 [00:00<01:00, 566.75it/s]

{'c_addr_id': 114, 'c_belongs_to': 11, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[114, 11, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 115, 'c_belongs_to': 11, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[115, 11, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 116, 'c_belongs_to': 11, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[116, 11, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 117, 'c_belongs_to': 11, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[117, 11, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 118, 'c_belongs_to': 12, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[118, 12, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 119, 'c_belongs_to': 12, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[119, 12, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 120, 'c_belongs_to': 12, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[120, 12, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 121, 'c_belongs_to': 12, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[121, 12, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 122, 'c_belongs_to': 12, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[122, 12, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 123, 'c_belongs_to': 12, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[123, 12, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 124, 'c_belongs_to': 12, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[124, 12, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 125, 'c_belongs_to': 12, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[125, 12, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 126, 'c_belongs_to': 12, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[126, 12, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 127, 'c_belongs_to': 12, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[127, 12, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 128, 'c_belongs_to': 12, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[128, 12, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 129, 'c_belongs_to': 13, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[129, 13, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 130, 'c_belongs_to': 13, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[130, 13, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 131, 'c_belongs_to': 13, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[131, 13, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 132, 'c_belongs_to': 13, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[132, 13, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 133, 'c_belongs_to': 13, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[133, 13, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 134, 'c_belongs_to': 13, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[134, 13, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 135, 'c_belongs_to': 13, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[135, 13, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 136, 'c_belongs_to': 13, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[136, 13, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 137, 'c_belongs_to': 13, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[137, 13, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 138, 'c_belongs_to': 13, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[138, 13, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 139, 'c_belongs_to': 13, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[139, 13, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 140, 'c_belongs_to': 13, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[140, 13, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 141, 'c_belongs_to': 13, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[141, 13, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 142, 'c_belongs_to': 13, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[142, 13, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 143, 'c_belongs_to': 13, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[143, 13, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 144, 'c_belongs_to': 13, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[144, 13, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 145, 'c_belongs_to': 14, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[145, 14, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 146, 'c_belongs_to': 14, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[146, 14, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 147, 'c_belongs_to': 14, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[147, 14, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 148, 'c_belongs_to': 15, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[148, 15, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 149, 'c_belongs_to': 15, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[149, 15, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 150, 'c_belongs_to': 15, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[150, 15, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 151, 'c_belongs_to': 15, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[151, 15, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 152, 'c_belongs_to': 15, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[152, 15, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 153, 'c_belongs_to': 16, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[153, 16, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 154, 'c_belongs_to': 16, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[154, 16, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 155, 'c_belongs_to': 16, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[155, 16, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 156, 'c_belongs_to': 16, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[156, 16, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 157, 'c_belongs_to': 16, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[157, 16, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 158, 'c_belongs_to': 16, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[158, 16, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 159, 'c_belongs_to': 16, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[159, 16, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 160, 'c_belongs_to': 16, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[160, 16, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 161, 'c_belongs_to': 16, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[161, 16, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 162, 'c_belongs_to': 16, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[162, 16, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 163, 'c_belongs_to': 16, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[163, 16, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 164, 'c_belongs_to': 16, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[164, 16, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 165, 'c_belongs_to': 16, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[165, 16, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 166, 'c_belongs_to': 16, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[166, 16, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 167, 'c_belongs_to': 16, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[167, 16, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 168, 'c_belongs_to': 17, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[168, 17, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 169, 'c_belongs_to': 17, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[169, 17, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 170, 'c_belongs_to': 17, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[170, 17, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 171, 'c_belongs_to': 17, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[171, 17, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 172, 'c_belongs_to': 17, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[172, 17, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 173, 'c_belongs_to': 17, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[173, 17, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 174, 'c_belongs_to': 17, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[174, 17, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 175, 'c_belongs_to': 17, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[175, 17, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 176, 'c_belongs_to': 17, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[176, 17, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 177, 'c_belongs_to': 17, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[177, 17, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 178, 'c_belongs_to': 17, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[178, 17, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 179, 'c_belongs_to': 17, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[179, 17, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 180, 'c_belongs_to': 17, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[180, 17, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 181, 'c_belongs_to': 17, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[181, 17, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 182, 'c_belongs_to': 17, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[182, 17, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 183, 'c_belongs_to': 18, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[183, 18, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 184, 'c_belongs_to': 18, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[184, 18, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 185, 'c_belongs_to': 18, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[185, 18, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 186, 'c_belongs_to': 18, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[186, 18, 1949, 2005, 0, '', None, '']
here:

  1%|          | 316/34559 [00:00<00:57, 590.67it/s]

here:
{'c_addr_id': 210, 'c_belongs_to': 20, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[210, 20, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 211, 'c_belongs_to': 20, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[211, 20, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 212, 'c_belongs_to': 20, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[212, 20, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 213, 'c_belongs_to': 20, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[213, 20, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 214, 'c_belongs_to': 20, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[214, 20, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 215, 'c_belongs_to': 20, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[215, 20, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 216, 'c_belongs_to': 20, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[216, 20, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 217, 'c_belongs_to': 20, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[217, 20, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 218, 'c_belongs_to': 20, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[218, 20, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 219, 'c_belongs_to': 20, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[219, 20, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 220, 'c_belongs_to': 20, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[220, 20, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 221, 'c_belongs_to': 20, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[221, 20, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 222, 'c_belongs_to': 20, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[222, 20, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 223, 'c_belongs_to': 21, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[223, 21, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 224, 'c_belongs_to': 21, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[224, 21, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 225, 'c_belongs_to': 21, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[225, 21, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 226, 'c_belongs_to': 21, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[226, 21, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 227, 'c_belongs_to': 21, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[227, 21, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 228, 'c_belongs_to': 21, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[228, 21, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 229, 'c_belongs_to': 21, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[229, 21, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 230, 'c_belongs_to': 21, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[230, 21, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 231, 'c_belongs_to': 21, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[231, 21, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 232, 'c_belongs_to': 21, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[232, 21, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 233, 'c_belongs_to': 21, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[233, 21, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 234, 'c_belongs_to': 21, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[234, 21, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 235, 'c_belongs_to': 21, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[235, 21, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 236, 'c_belongs_to': 22, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[236, 22, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 237, 'c_belongs_to': 22, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[237, 22, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 238, 'c_belongs_to': 23, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[238, 23, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 239, 'c_belongs_to': 23, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[239, 23, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 240, 'c_belongs_to': 23, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[240, 23, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 241, 'c_belongs_to': 23, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[241, 23, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 242, 'c_belongs_to': 23, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[242, 23, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 243, 'c_belongs_to': 23, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[243, 23, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 244, 'c_belongs_to': 23, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[244, 23, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 245, 'c_belongs_to': 23, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[245, 23, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 246, 'c_belongs_to': 23, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[246, 23, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 247, 'c_belongs_to': 23, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[247, 23, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 248, 'c_belongs_to': 23, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[248, 23, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 249, 'c_belongs_to': 23, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[249, 23, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 250, 'c_belongs_to': 23, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[250, 23, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 251, 'c_belongs_to': 23, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[251, 23, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 252, 'c_belongs_to': 23, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[252, 23, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 253, 'c_belongs_to': 23, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[253, 23, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 254, 'c_belongs_to': 23, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[254, 23, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 255, 'c_belongs_to': 23, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[255, 23, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 256, 'c_belongs_to': 23, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[256, 23, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 257, 'c_belongs_to': 23, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[257, 23, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 258, 'c_belongs_to': 24, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[258, 24, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 259, 'c_belongs_to': 24, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[259, 24, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 260, 'c_belongs_to': 24, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[260, 24, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 261, 'c_belongs_to': 24, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[261, 24, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 262, 'c_belongs_to': 24, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[262, 24, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 263, 'c_belongs_to': 24, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[263, 24, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 264, 'c_belongs_to': 24, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[264, 24, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 265, 'c_belongs_to': 24, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[265, 24, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 266, 'c_belongs_to': 25, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[266, 25, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 267, 'c_belongs_to': 25, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[267, 25, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 268, 'c_belongs_to': 25, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[268, 25, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 269, 'c_belongs_to': 25, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[269, 25, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 270, 'c_belongs_to': 25, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[270, 25, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 271, 'c_belongs_to': 25, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[271, 25, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 272, 'c_belongs_to': 25, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[272, 25, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 273, 'c_belongs_to': 25, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[273, 25, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 274, 'c_belongs_to': 25, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[274, 25, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 275, 'c_belongs_to': 25, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[275, 25, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 276, 'c_belongs_to': 25, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[276, 25, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 277, 'c_belongs_to': 25, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[277, 25, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 278, 'c_belongs_to': 25, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[278, 25, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 279, 'c_belongs_to': 25, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[279, 25, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 280, 'c_belongs_to': 25, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[280, 25, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 281, 'c_belongs_to': 25, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[281, 25, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 282, 'c_belongs_to': 26, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[282, 26, 1949, 2005, 0, '', None, '']
here:

  1%|          | 376/34559 [00:00<00:57, 591.89it/s]

here:
{'c_addr_id': 328, 'c_belongs_to': 31, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[328, 31, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 329, 'c_belongs_to': 31, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[329, 31, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 330, 'c_belongs_to': 33, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[330, 33, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 331, 'c_belongs_to': 33, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[331, 33, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 332, 'c_belongs_to': 6, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[332, 6, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 333, 'c_belongs_to': 6, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[333, 6, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 334, 'c_belongs_to': 2, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[334, 2, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 335, 'c_belongs_to': 3, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[335, 3, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 336, 'c_belongs_to': 16, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[336, 16, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 337, 'c_belongs_to': 28, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[337, 28, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 338, 'c_belongs_to': 31, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[338, 31, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 339, 'c_belongs_to': 31, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[339, 31, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 340, 'c_belongs_to': 15, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[340, 15, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 341, 'c_belongs_to': 19, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[341, 19, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 342, 'c_belongs_to': 29, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[342, 29, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 343, 'c_belongs_to': 20, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[343, 20, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 344, 'c_belongs_to': 20, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[344, 20, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 345, 'c_belongs_to': 24, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[345, 24, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 346, 'c_belongs_to': 15, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[346, 15, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 347, 'c_belongs_to': 11, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[347, 11, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 348, 'c_belongs_to': 14, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[348, 14, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 349, 'c_belongs_to': 14, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[349, 14, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 350, 'c_belongs_to': 14, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[350, 14, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 351, 'c_belongs_to': 14, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[351, 14, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 352, 'c_belongs_to': 14, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[352, 14, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 353, 'c_belongs_to': 15, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[353, 15, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 354, 'c_belongs_to': 25, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[354, 25, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 355, 'c_belongs_to': 27, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[355, 27, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 356, 'c_belongs_to': 15, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[356, 15, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 357, 'c_belongs_to': 28, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[357, 28, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 358, 'c_belongs_to': 22, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[358, 22, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 361, 'c_belongs_to': 5, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[361, 5, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 362, 'c_belongs_to': 6, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[362, 6, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 363, 'c_belongs_to': 9, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[363, 9, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 364, 'c_belongs_to': 10, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[364, 10, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 365, 'c_belongs_to': 11, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[365, 11, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 366, 'c_belongs_to': 11, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[366, 11, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 367, 'c_belongs_to': 11, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[367, 11, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 368, 'c_belongs_to': 11, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[368, 11, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 369, 'c_belongs_to': 11, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[369, 11, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 370, 'c_belongs_to': 11, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[370, 11, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 371, 'c_belongs_to': 13, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[371, 13, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 372, 'c_belongs_to': 14, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[372, 14, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 373, 'c_belongs_to': 15, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[373, 15, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 374, 'c_belongs_to': 15, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[374, 15, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 375, 'c_belongs_to': 17, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[375, 17, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 376, 'c_belongs_to': 17, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[376, 17, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 377, 'c_belongs_to': 18, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[377, 18, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 378, 'c_belongs_to': 18, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[378, 18, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 379, 'c_belongs_to': 18, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[379, 18, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 380, 'c_belongs_to': 19, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[380, 19, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 381, 'c_belongs_to': 19, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[381, 19, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 382, 'c_belongs_to': 23, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[382, 23, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 383, 'c_belongs_to': 26, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[383, 26, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 384, 'c_belongs_to': 27, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[384, 27, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 385, 'c_belongs_to': 27, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[385, 27, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 386, 'c_belongs_to': 27, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[386, 27, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 391, 'c_belongs_to': 302, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[391, 302, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 392, 'c_belongs_to': 66, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[392, 66, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 393, 'c_belongs_to': 144, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[393, 144, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 394, 'c_belongs_to': 375, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[394, 375, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 395, 'c_belongs_to': 92, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[395, 92, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 396, 'c_belongs_to': 92, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[396, 92, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 397, 'c_belongs_to': 93, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[397, 93, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 398, 'c_belongs_to': 93, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[398, 93, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 399, 'c_belongs_to': 93, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[399, 93, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 400, 'c_belongs_to': 93, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[400, 93, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 401, 'c_belongs_to': 93, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[401, 93, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 402, 'c_belongs_to': 93, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[402, 93, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 403, 'c_belongs_to': 97, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[403, 97, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 404, 'c_belongs_to': 97, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[404, 97, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 405, 'c_belongs_to': 99, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[405, 99, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 406, 'c_belongs_to': 100, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[406, 100, 1949, 2005, 0, '', None, '']
here:

  1%|▏         | 516/34559 [00:00<00:52, 643.68it/s]

here:
{'c_addr_id': 454, 'c_belongs_to': 101, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[454, 101, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 455, 'c_belongs_to': 106, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[455, 106, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 456, 'c_belongs_to': 111, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[456, 111, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 457, 'c_belongs_to': 111, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[457, 111, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 458, 'c_belongs_to': 111, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[458, 111, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 459, 'c_belongs_to': 111, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[459, 111, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 460, 'c_belongs_to': 111, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[460, 111, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 461, 'c_belongs_to': 111, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[461, 111, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 462, 'c_belongs_to': 111, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[462, 111, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 463, 'c_belongs_to': 112, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[463, 112, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 464, 'c_belongs_to': 112, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[464, 112, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 465, 'c_belongs_to': 112, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[465, 112, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 466, 'c_belongs_to': 112, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[466, 112, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 467, 'c_belongs_to': 112, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[467, 112, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 468, 'c_belongs_to': 112, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[468, 112, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 469, 'c_belongs_to': 112, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[469, 112, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 470, 'c_belongs_to': 97, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[470, 97, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 471, 'c_belongs_to': 99, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[471, 99, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 472, 'c_belongs_to': 99, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[472, 99, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 473, 'c_belongs_to': 99, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[473, 99, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 474, 'c_belongs_to': 99, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[474, 99, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 475, 'c_belongs_to': 99, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[475, 99, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 476, 'c_belongs_to': 99, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[476, 99, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 477, 'c_belongs_to': 99, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[477, 99, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 478, 'c_belongs_to': 331, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[478, 331, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 479, 'c_belongs_to': 331, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[479, 331, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 480, 'c_belongs_to': 102, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[480, 102, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 481, 'c_belongs_to': 102, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[481, 102, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 482, 'c_belongs_to': 107, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[482, 107, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 483, 'c_belongs_to': 107, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[483, 107, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 484, 'c_belongs_to': 108, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[484, 108, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 485, 'c_belongs_to': 363, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[485, 363, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 486, 'c_belongs_to': 363, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[486, 363, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 487, 'c_belongs_to': 363, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[487, 363, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 488, 'c_belongs_to': 363, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[488, 363, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 489, 'c_belongs_to': 363, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[489, 363, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 490, 'c_belongs_to': 85, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[490, 85, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 491, 'c_belongs_to': 104, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[491, 104, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 492, 'c_belongs_to': 103, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[492, 103, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 493, 'c_belongs_to': 103, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[493, 103, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 494, 'c_belongs_to': 103, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[494, 103, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 495, 'c_belongs_to': 104, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[495, 104, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 496, 'c_belongs_to': 106, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[496, 106, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 497, 'c_belongs_to': 107, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[497, 107, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 498, 'c_belongs_to': 107, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[498, 107, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 499, 'c_belongs_to': 107, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[499, 107, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 500, 'c_belongs_to': 107, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[500, 107, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 501, 'c_belongs_to': 107, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[501, 107, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 502, 'c_belongs_to': 107, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[502, 107, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 503, 'c_belongs_to': 107, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[503, 107, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 504, 'c_belongs_to': 107, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[504, 107, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 505, 'c_belongs_to': 107, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[505, 107, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 506, 'c_belongs_to': 108, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[506, 108, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 507, 'c_belongs_to': 363, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[507, 363, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 508, 'c_belongs_to': 363, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[508, 363, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 509, 'c_belongs_to': 363, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[509, 363, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 510, 'c_belongs_to': 363, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[510, 363, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 511, 'c_belongs_to': 89, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[511, 89, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 512, 'c_belongs_to': 89, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[512, 89, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 513, 'c_belongs_to': 89, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[513, 89, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 514, 'c_belongs_to': 89, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[514, 89, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 515, 'c_belongs_to': 89, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[515, 89, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 516, 'c_belongs_to': 94, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[516, 94, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 517, 'c_belongs_to': 94, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[517, 94, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 518, 'c_belongs_to': 94, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[518, 94, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 519, 'c_belongs_to': 80, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[519, 80, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 520, 'c_belongs_to': 82, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[520, 82, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 521, 'c_belongs_to': 87, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[521, 87, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 522, 'c_belongs_to': 87, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[522, 87, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 523, 'c_belongs_to': 78, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[523, 78, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 524, 'c_belongs_to': 80, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[524, 80, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 525, 'c_belongs_to': 82, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[525, 82, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 526, 'c_belongs_to': 87, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);

  2%|▏         | 644/34559 [00:01<00:55, 615.19it/s]

here:
{'c_addr_id': 572, 'c_belongs_to': 84, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[572, 84, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 573, 'c_belongs_to': 91, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[573, 91, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 574, 'c_belongs_to': 91, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[574, 91, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 575, 'c_belongs_to': 41, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[575, 41, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 576, 'c_belongs_to': 84, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[576, 84, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 577, 'c_belongs_to': 88, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[577, 88, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 578, 'c_belongs_to': 88, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[578, 88, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 579, 'c_belongs_to': 88, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[579, 88, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 580, 'c_belongs_to': 84, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[580, 84, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 581, 'c_belongs_to': 86, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[581, 86, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 582, 'c_belongs_to': 89, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[582, 89, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 583, 'c_belongs_to': 90, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[583, 90, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 584, 'c_belongs_to': 90, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[584, 90, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 585, 'c_belongs_to': 91, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[585, 91, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 586, 'c_belongs_to': 90, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[586, 90, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 587, 'c_belongs_to': 69, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[587, 69, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 588, 'c_belongs_to': 46, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[588, 46, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 589, 'c_belongs_to': 46, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[589, 46, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 590, 'c_belongs_to': 46, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[590, 46, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 591, 'c_belongs_to': 54, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[591, 54, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 592, 'c_belongs_to': 54, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[592, 54, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 593, 'c_belongs_to': 54, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[593, 54, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 594, 'c_belongs_to': 54, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[594, 54, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 595, 'c_belongs_to': 54, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[595, 54, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 596, 'c_belongs_to': 69, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[596, 69, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 597, 'c_belongs_to': 69, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[597, 69, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 598, 'c_belongs_to': 69, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[598, 69, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 599, 'c_belongs_to': 72, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[599, 72, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 600, 'c_belongs_to': 72, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[600, 72, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 601, 'c_belongs_to': 69, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[601, 69, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 602, 'c_belongs_to': 69, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[602, 69, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 603, 'c_belongs_to': 72, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[603, 72, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 604, 'c_belongs_to': 72, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[604, 72, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 605, 'c_belongs_to': 72, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[605, 72, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 606, 'c_belongs_to': 72, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[606, 72, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 607, 'c_belongs_to': 72, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[607, 72, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 608, 'c_belongs_to': 72, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[608, 72, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 609, 'c_belongs_to': 94, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[609, 94, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 610, 'c_belongs_to': 73, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[610, 73, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 611, 'c_belongs_to': 73, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[611, 73, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 612, 'c_belongs_to': 73, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[612, 73, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 613, 'c_belongs_to': 70, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[613, 70, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 614, 'c_belongs_to': 70, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[614, 70, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 615, 'c_belongs_to': 70, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[615, 70, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 616, 'c_belongs_to': 71, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[616, 71, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 617, 'c_belongs_to': 71, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[617, 71, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 618, 'c_belongs_to': 71, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[618, 71, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 619, 'c_belongs_to': 71, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[619, 71, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 620, 'c_belongs_to': 71, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[620, 71, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 621, 'c_belongs_to': 98, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[621, 98, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 622, 'c_belongs_to': 98, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[622, 98, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 623, 'c_belongs_to': 98, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[623, 98, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 624, 'c_belongs_to': 98, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[624, 98, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 625, 'c_belongs_to': 98, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[625, 98, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 626, 'c_belongs_to': 58, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[626, 58, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 627, 'c_belongs_to': 361, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[627, 361, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 628, 'c_belongs_to': 361, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[628, 361, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 629, 'c_belongs_to': 63, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[629, 63, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 630, 'c_belongs_to': 74, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[630, 74, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 631, 'c_belongs_to': 74, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[631, 74, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 632, 'c_belongs_to': 74, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[632, 74, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 633, 'c_belongs_to': 74, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[633, 74, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 634, 'c_belongs_to': 74, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[634, 74, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 635, 'c_belongs_to': 74, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[635, 74, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 636, 'c_belongs_to': 53, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[636, 53, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 637, 'c_belongs_to': 361, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[637, 361, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 638, 'c_belongs_to': 361, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[638, 361, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 639, 'c_belongs_to': 361, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[639, 361, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 640, 'c_belongs_to': 333, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[640, 333, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 641, 'c_belongs_to': 333, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[641, 333, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 642, 'c_belongs_to': 333, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[642, 333, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 643, 'c_belongs_to': 333, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[643, 333, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 644, 'c_belongs_to': 333, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[644, 333, 1949, 2005, 0, '', None, '']
here:

  2%|▏         | 768/34559 [00:01<00:55, 607.36it/s]

here:
{'c_addr_id': 689, 'c_belongs_to': 73, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[689, 73, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 690, 'c_belongs_to': 73, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[690, 73, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 691, 'c_belongs_to': 73, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[691, 73, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 692, 'c_belongs_to': 73, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[692, 73, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 693, 'c_belongs_to': 334, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[693, 334, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 694, 'c_belongs_to': 334, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[694, 334, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 695, 'c_belongs_to': 334, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[695, 334, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 696, 'c_belongs_to': 37, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[696, 37, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 697, 'c_belongs_to': 48, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[697, 48, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 698, 'c_belongs_to': 334, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[698, 334, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 699, 'c_belongs_to': 48, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[699, 48, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 700, 'c_belongs_to': 37, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[700, 37, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 701, 'c_belongs_to': 48, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[701, 48, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 702, 'c_belongs_to': 38, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[702, 38, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 703, 'c_belongs_to': 38, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[703, 38, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 704, 'c_belongs_to': 48, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[704, 48, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 705, 'c_belongs_to': 37, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[705, 37, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 706, 'c_belongs_to': 38, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[706, 38, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 707, 'c_belongs_to': 48, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[707, 48, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 708, 'c_belongs_to': 38, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[708, 38, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 709, 'c_belongs_to': 40, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[709, 40, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 710, 'c_belongs_to': 54, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[710, 54, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 711, 'c_belongs_to': 40, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[711, 40, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 712, 'c_belongs_to': 40, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[712, 40, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 713, 'c_belongs_to': 40, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[713, 40, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 714, 'c_belongs_to': 37, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[714, 37, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 715, 'c_belongs_to': 52, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[715, 52, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 716, 'c_belongs_to': 44, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[716, 44, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 717, 'c_belongs_to': 52, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[717, 52, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 718, 'c_belongs_to': 52, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[718, 52, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 719, 'c_belongs_to': 48, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[719, 48, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 720, 'c_belongs_to': 52, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[720, 52, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 721, 'c_belongs_to': 52, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[721, 52, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 722, 'c_belongs_to': 37, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[722, 37, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 723, 'c_belongs_to': 37, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[723, 37, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 724, 'c_belongs_to': 37, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[724, 37, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 725, 'c_belongs_to': 41, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[725, 41, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 726, 'c_belongs_to': 41, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[726, 41, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 727, 'c_belongs_to': 41, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[727, 41, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 728, 'c_belongs_to': 40, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[728, 40, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 729, 'c_belongs_to': 40, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[729, 40, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 730, 'c_belongs_to': 41, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[730, 41, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 731, 'c_belongs_to': 40, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[731, 40, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 732, 'c_belongs_to': 40, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[732, 40, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 733, 'c_belongs_to': 40, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[733, 40, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 734, 'c_belongs_to': 40, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[734, 40, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 735, 'c_belongs_to': 40, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[735, 40, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 736, 'c_belongs_to': 52, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[736, 52, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 737, 'c_belongs_to': 52, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[737, 52, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 738, 'c_belongs_to': 48, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[738, 48, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 739, 'c_belongs_to': 52, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[739, 52, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 740, 'c_belongs_to': 48, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[740, 48, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 741, 'c_belongs_to': 48, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[741, 48, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 742, 'c_belongs_to': 48, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[742, 48, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 743, 'c_belongs_to': 44, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[743, 44, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 744, 'c_belongs_to': 44, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[744, 44, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 745, 'c_belongs_to': 52, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[745, 52, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 746, 'c_belongs_to': 52, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[746, 52, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 747, 'c_belongs_to': 52, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[747, 52, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 748, 'c_belongs_to': 169, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[748, 169, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 749, 'c_belongs_to': 169, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[749, 169, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 750, 'c_belongs_to': 173, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[750, 173, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 751, 'c_belongs_to': 169, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[751, 169, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 752, 'c_belongs_to': 179, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[752, 179, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 753, 'c_belongs_to': 168, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[753, 168, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 754, 'c_belongs_to': 169, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[754, 169, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 755, 'c_belongs_to': 178, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[755, 178, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 756, 'c_belongs_to': 376, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[756, 376, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 757, 'c_belongs_to': 169, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[757, 169, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 758, 'c_belongs_to': 179, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[758, 179, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 759, 'c_belongs_to': 173, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[759, 173, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 760, 'c_belongs_to': 376, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[760, 376, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 761, 'c_belongs_to': 173, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[761, 173, 1949, 2005, 0, '', None, '']
here:

  3%|▎         | 902/34559 [00:01<00:54, 618.63it/s]

here:
{'c_addr_id': 800, 'c_belongs_to': 181, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[800, 181, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 801, 'c_belongs_to': 181, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[801, 181, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 802, 'c_belongs_to': 171, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[802, 171, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 803, 'c_belongs_to': 176, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[803, 176, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 804, 'c_belongs_to': 170, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[804, 170, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 805, 'c_belongs_to': 170, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[805, 170, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 806, 'c_belongs_to': 177, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[806, 177, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 807, 'c_belongs_to': 177, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[807, 177, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 808, 'c_belongs_to': 168, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[808, 168, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 809, 'c_belongs_to': 170, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[809, 170, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 810, 'c_belongs_to': 168, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[810, 168, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 811, 'c_belongs_to': 170, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[811, 170, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 812, 'c_belongs_to': 170, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[812, 170, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 813, 'c_belongs_to': 170, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[813, 170, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 814, 'c_belongs_to': 170, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[814, 170, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 815, 'c_belongs_to': 170, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[815, 170, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 816, 'c_belongs_to': 170, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[816, 170, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 817, 'c_belongs_to': 171, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[817, 171, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 818, 'c_belongs_to': 171, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[818, 171, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 819, 'c_belongs_to': 171, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[819, 171, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 820, 'c_belongs_to': 171, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[820, 171, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 821, 'c_belongs_to': 171, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[821, 171, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 822, 'c_belongs_to': 171, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[822, 171, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 823, 'c_belongs_to': 376, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[823, 376, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 824, 'c_belongs_to': 376, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[824, 376, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 825, 'c_belongs_to': 176, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[825, 176, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 826, 'c_belongs_to': 176, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[826, 176, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 827, 'c_belongs_to': 176, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[827, 176, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 828, 'c_belongs_to': 171, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[828, 171, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 829, 'c_belongs_to': 376, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[829, 376, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 830, 'c_belongs_to': 168, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[830, 168, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 831, 'c_belongs_to': 138, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[831, 138, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 832, 'c_belongs_to': 179, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[832, 179, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 833, 'c_belongs_to': 178, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[833, 178, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 834, 'c_belongs_to': 179, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[834, 179, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 835, 'c_belongs_to': 179, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[835, 179, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 836, 'c_belongs_to': 179, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[836, 179, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 837, 'c_belongs_to': 179, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[837, 179, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 838, 'c_belongs_to': 179, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[838, 179, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 839, 'c_belongs_to': 179, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[839, 179, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 840, 'c_belongs_to': 180, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[840, 180, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 841, 'c_belongs_to': 180, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[841, 180, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 842, 'c_belongs_to': 180, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[842, 180, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 843, 'c_belongs_to': 180, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[843, 180, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 844, 'c_belongs_to': 180, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[844, 180, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 845, 'c_belongs_to': 180, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[845, 180, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 846, 'c_belongs_to': 180, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[846, 180, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 847, 'c_belongs_to': 182, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[847, 182, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 848, 'c_belongs_to': 182, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[848, 182, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 849, 'c_belongs_to': 180, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[849, 180, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 850, 'c_belongs_to': 180, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[850, 180, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 851, 'c_belongs_to': 168, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[851, 168, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 852, 'c_belongs_to': 168, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[852, 168, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 853, 'c_belongs_to': 168, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[853, 168, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 854, 'c_belongs_to': 138, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[854, 138, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 855, 'c_belongs_to': 138, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[855, 138, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 856, 'c_belongs_to': 138, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[856, 138, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 857, 'c_belongs_to': 138, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[857, 138, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 858, 'c_belongs_to': 138, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[858, 138, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 859, 'c_belongs_to': 138, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[859, 138, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 860, 'c_belongs_to': 138, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[860, 138, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 861, 'c_belongs_to': 179, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[861, 179, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 862, 'c_belongs_to': 134, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[862, 134, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 863, 'c_belongs_to': 134, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[863, 134, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 864, 'c_belongs_to': 139, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[864, 139, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 865, 'c_belongs_to': 139, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[865, 139, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 866, 'c_belongs_to': 139, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[866, 139, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 867, 'c_belongs_to': 131, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[867, 131, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 868, 'c_belongs_to': 139, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[868, 139, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 869, 'c_belongs_to': 131, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[869, 131, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 870, 'c_belongs_to': 368, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[870, 368, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 871, 'c_belongs_to': 368, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[871, 368, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 872, 'c_belongs_to': 365, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:

  3%|▎         | 971/34559 [00:01<00:52, 637.67it/s]

here:
{'c_addr_id': 918, 'c_belongs_to': 164, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[918, 164, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 919, 'c_belongs_to': 39, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[919, 39, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 920, 'c_belongs_to': 51, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[920, 51, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 921, 'c_belongs_to': 51, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[921, 51, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 922, 'c_belongs_to': 39, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[922, 39, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 923, 'c_belongs_to': 39, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[923, 39, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 924, 'c_belongs_to': 39, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[924, 39, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 925, 'c_belongs_to': 51, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[925, 51, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 926, 'c_belongs_to': 52, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[926, 52, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 927, 'c_belongs_to': 51, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[927, 51, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 928, 'c_belongs_to': 51, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[928, 51, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 929, 'c_belongs_to': 39, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[929, 39, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 930, 'c_belongs_to': 51, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[930, 51, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 931, 'c_belongs_to': 50, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[931, 50, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 932, 'c_belongs_to': 51, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[932, 51, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 933, 'c_belongs_to': 51, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[933, 51, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 934, 'c_belongs_to': 50, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[934, 50, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 935, 'c_belongs_to': 50, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[935, 50, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 936, 'c_belongs_to': 50, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[936, 50, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 937, 'c_belongs_to': 43, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[937, 43, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 938, 'c_belongs_to': 43, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[938, 43, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 939, 'c_belongs_to': 50, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[939, 50, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 940, 'c_belongs_to': 50, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[940, 50, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 941, 'c_belongs_to': 50, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[941, 50, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 942, 'c_belongs_to': 50, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[942, 50, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 943, 'c_belongs_to': 50, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[943, 50, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 944, 'c_belongs_to': 50, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[944, 50, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 945, 'c_belongs_to': 50, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[945, 50, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 946, 'c_belongs_to': 49, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[946, 49, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 947, 'c_belongs_to': 49, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[947, 49, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 948, 'c_belongs_to': 49, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[948, 49, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 949, 'c_belongs_to': 49, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[949, 49, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 950, 'c_belongs_to': 50, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[950, 50, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 951, 'c_belongs_to': 49, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[951, 49, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 952, 'c_belongs_to': 49, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[952, 49, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 953, 'c_belongs_to': 49, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[953, 49, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 954, 'c_belongs_to': 49, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[954, 49, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 955, 'c_belongs_to': 49, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[955, 49, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 956, 'c_belongs_to': 172, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[956, 172, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 957, 'c_belongs_to': 172, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[957, 172, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 958, 'c_belongs_to': 172, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[958, 172, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 959, 'c_belongs_to': 172, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[959, 172, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 960, 'c_belongs_to': 49, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[960, 49, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 961, 'c_belongs_to': 49, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[961, 49, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 962, 'c_belongs_to': 42, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[962, 42, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 963, 'c_belongs_to': 42, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[963, 42, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 964, 'c_belongs_to': 42, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[964, 42, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 965, 'c_belongs_to': 42, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[965, 42, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 966, 'c_belongs_to': 52, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[966, 52, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 967, 'c_belongs_to': 51, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[967, 51, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 968, 'c_belongs_to': 51, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[968, 51, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 969, 'c_belongs_to': 52, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[969, 52, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 970, 'c_belongs_to': 52, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[970, 52, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 971, 'c_belongs_to': 52, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[971, 52, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 972, 'c_belongs_to': 52, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[972, 52, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 973, 'c_belongs_to': 51, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[973, 51, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 974, 'c_belongs_to': 51, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[974, 51, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 975, 'c_belongs_to': 173, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[975, 173, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 976, 'c_belongs_to': 375, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[976, 375, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 977, 'c_belongs_to': 375, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[977, 375, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 978, 'c_belongs_to': 173, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[978, 173, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 979, 'c_belongs_to': 173, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[979, 173, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 980, 'c_belongs_to': 173, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[980, 173, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 981, 'c_belongs_to': 173, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[981, 173, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 982, 'c_belongs_to': 172, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[982, 172, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 983, 'c_belongs_to': 159, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[983, 159, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 984, 'c_belongs_to': 159, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[984, 159, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 985, 'c_belongs_to': 159, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[985, 159, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 986, 'c_belongs_to': 163, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[986, 163, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 987, 'c_belongs_to': 155, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[987, 155, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 988, 'c_belongs_to': 157, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[988, 157, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 989, 'c_belongs_to': 159, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[989, 159, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 990, 'c_belongs_to': 159, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[990, 159, 1949, 2005, 0, '', None, '']
here:

  3%|▎         | 1113/34559 [00:01<00:50, 668.54it/s]

here:
{'c_addr_id': 1050, 'c_belongs_to': 158, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1050, 158, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1051, 'c_belongs_to': 158, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1051, 158, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1052, 'c_belongs_to': 158, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1052, 158, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1053, 'c_belongs_to': 158, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1053, 158, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1054, 'c_belongs_to': 162, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1054, 162, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1055, 'c_belongs_to': 162, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1055, 162, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1056, 'c_belongs_to': 162, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1056, 162, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1057, 'c_belongs_to': 162, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1057, 162, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1058, 'c_belongs_to': 161, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1058, 161, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1059, 'c_belongs_to': 165, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1059, 165, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1060, 'c_belongs_to': 165, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1060, 165, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1061, 'c_belongs_to': 160, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1061, 160, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1062, 'c_belongs_to': 160, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1062, 160, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1063, 'c_belongs_to': 175, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1063, 175, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1064, 'c_belongs_to': 153, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1064, 153, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1065, 'c_belongs_to': 160, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1065, 160, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1066, 'c_belongs_to': 160, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1066, 160, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1067, 'c_belongs_to': 167, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1067, 167, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1068, 'c_belongs_to': 160, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1068, 160, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1069, 'c_belongs_to': 167, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1069, 167, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1070, 'c_belongs_to': 365, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1070, 365, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1071, 'c_belongs_to': 365, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1071, 365, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1072, 'c_belongs_to': 139, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1072, 139, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1073, 'c_belongs_to': 365, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1073, 365, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1074, 'c_belongs_to': 365, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1074, 365, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1075, 'c_belongs_to': 365, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1075, 365, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1076, 'c_belongs_to': 156, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1076, 156, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1077, 'c_belongs_to': 368, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1077, 368, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1078, 'c_belongs_to': 156, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1078, 156, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1079, 'c_belongs_to': 160, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1079, 160, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1080, 'c_belongs_to': 365, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1080, 365, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1081, 'c_belongs_to': 160, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1081, 160, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1082, 'c_belongs_to': 165, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1082, 165, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1083, 'c_belongs_to': 165, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1083, 165, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1084, 'c_belongs_to': 165, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1084, 165, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1085, 'c_belongs_to': 165, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1085, 165, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1086, 'c_belongs_to': 160, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1086, 160, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1087, 'c_belongs_to': 160, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1087, 160, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1088, 'c_belongs_to': 160, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1088, 160, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1089, 'c_belongs_to': 161, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1089, 161, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1090, 'c_belongs_to': 161, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1090, 161, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1091, 'c_belongs_to': 161, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1091, 161, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1092, 'c_belongs_to': 161, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1092, 161, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1093, 'c_belongs_to': 161, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1093, 161, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1094, 'c_belongs_to': 166, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1094, 166, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1095, 'c_belongs_to': 164, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1095, 164, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1096, 'c_belongs_to': 164, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1096, 164, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1097, 'c_belongs_to': 167, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1097, 167, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1098, 'c_belongs_to': 167, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1098, 167, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1099, 'c_belongs_to': 167, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1099, 167, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1100, 'c_belongs_to': 167, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1100, 167, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1101, 'c_belongs_to': 175, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1101, 175, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1102, 'c_belongs_to': 49, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1102, 49, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1103, 'c_belongs_to': 164, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1103, 164, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1104, 'c_belongs_to': 175, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1104, 175, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1105, 'c_belongs_to': 50, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1105, 50, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1106, 'c_belongs_to': 165, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1106, 165, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1107, 'c_belongs_to': 165, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1107, 165, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1108, 'c_belongs_to': 56, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1108, 56, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1109, 'c_belongs_to': 164, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1109, 164, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1110, 'c_belongs_to': 50, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1110, 50, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1111, 'c_belongs_to': 167, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1111, 167, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1112, 'c_belongs_to': 175, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1112, 175, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1113, 'c_belongs_to': 175, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1113, 175, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1114, 'c_belongs_to': 175, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1114, 175, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1115, 'c_belongs_to': 57, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1115, 57, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1116, 'c_belongs_to': 57, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1116, 57, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1117, 'c_belongs_to': 57, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1117, 57, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1118, 'c_belongs_to': 65, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1118, 65, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1119, 'c_belongs_to': 57, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1119, 57, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1120, 'c_belongs_to': 65, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1120, 65, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1121, 'c_belongs_to': 65, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1121, 65, 1949, 2005, 0, '', None, '']
here:

  4%|▎         | 1247/34559 [00:01<00:51, 648.69it/s]

here:
{'c_addr_id': 1175, 'c_belongs_to': 67, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1175, 67, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1176, 'c_belongs_to': 67, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1176, 67, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1177, 'c_belongs_to': 66, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1177, 66, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1178, 'c_belongs_to': 66, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1178, 66, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1179, 'c_belongs_to': 67, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1179, 67, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1180, 'c_belongs_to': 66, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1180, 66, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1181, 'c_belongs_to': 67, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1181, 67, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1182, 'c_belongs_to': 67, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1182, 67, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1183, 'c_belongs_to': 67, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1183, 67, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1184, 'c_belongs_to': 67, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1184, 67, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1185, 'c_belongs_to': 67, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1185, 67, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1186, 'c_belongs_to': 67, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1186, 67, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1187, 'c_belongs_to': 61, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1187, 61, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1188, 'c_belongs_to': 61, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1188, 61, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1189, 'c_belongs_to': 61, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1189, 61, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1190, 'c_belongs_to': 61, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1190, 61, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1191, 'c_belongs_to': 61, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1191, 61, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1192, 'c_belongs_to': 60, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1192, 60, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1193, 'c_belongs_to': 60, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1193, 60, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1194, 'c_belongs_to': 60, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1194, 60, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1195, 'c_belongs_to': 60, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1195, 60, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1196, 'c_belongs_to': 60, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1196, 60, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1197, 'c_belongs_to': 60, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1197, 60, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1198, 'c_belongs_to': 60, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1198, 60, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1199, 'c_belongs_to': 60, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1199, 60, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1200, 'c_belongs_to': 60, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1200, 60, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1201, 'c_belongs_to': 49, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1201, 49, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1202, 'c_belongs_to': 65, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1202, 65, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1203, 'c_belongs_to': 65, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1203, 65, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1204, 'c_belongs_to': 65, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1204, 65, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1205, 'c_belongs_to': 60, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1205, 60, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1206, 'c_belongs_to': 60, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1206, 60, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1207, 'c_belongs_to': 60, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1207, 60, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1208, 'c_belongs_to': 174, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1208, 174, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1209, 'c_belongs_to': 174, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1209, 174, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1210, 'c_belongs_to': 174, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1210, 174, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1211, 'c_belongs_to': 174, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1211, 174, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1212, 'c_belongs_to': 174, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1212, 174, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1213, 'c_belongs_to': 174, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1213, 174, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1214, 'c_belongs_to': 174, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1214, 174, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1215, 'c_belongs_to': 174, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1215, 174, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1216, 'c_belongs_to': 355, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1216, 355, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1217, 'c_belongs_to': 355, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1217, 355, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1218, 'c_belongs_to': 291, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1218, 291, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1219, 'c_belongs_to': 386, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1219, 386, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1220, 'c_belongs_to': 386, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1220, 386, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1221, 'c_belongs_to': 355, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1221, 355, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1222, 'c_belongs_to': 355, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1222, 355, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1223, 'c_belongs_to': 386, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1223, 386, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1224, 'c_belongs_to': 355, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1224, 355, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1225, 'c_belongs_to': 355, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1225, 355, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1226, 'c_belongs_to': 386, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1226, 386, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1227, 'c_belongs_to': 291, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1227, 291, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1228, 'c_belongs_to': 291, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1228, 291, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1229, 'c_belongs_to': 291, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1229, 291, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1230, 'c_belongs_to': 291, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1230, 291, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1231, 'c_belongs_to': 291, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1231, 291, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1232, 'c_belongs_to': 291, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1232, 291, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1233, 'c_belongs_to': 170, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1233, 170, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1234, 'c_belongs_to': 177, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1234, 177, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1235, 'c_belongs_to': 386, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1235, 386, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1236, 'c_belongs_to': 386, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1236, 386, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1237, 'c_belongs_to': 386, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1237, 386, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1238, 'c_belongs_to': 288, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1238, 288, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1239, 'c_belongs_to': 288, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1239, 288, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1240, 'c_belongs_to': 288, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1240, 288, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1241, 'c_belongs_to': 288, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1241, 288, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1242, 'c_belongs_to': 288, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1242, 288, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1243, 'c_belongs_to': 288, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1243, 288, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1244, 'c_belongs_to': 384, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1244, 384, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1245, 'c_belongs_to': 288, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1245, 288, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1246, 'c_belongs_to': 384, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1246, 384, 1949, 2005, 0, '', None, '']
here:

  4%|▍         | 1381/34559 [00:02<00:52, 634.64it/s]

here:
{'c_addr_id': 1293, 'c_belongs_to': 293, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1293, 293, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1294, 'c_belongs_to': 293, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1294, 293, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1295, 'c_belongs_to': 292, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1295, 292, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1296, 'c_belongs_to': 292, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1296, 292, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1297, 'c_belongs_to': 292, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1297, 292, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1298, 'c_belongs_to': 384, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1298, 384, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1299, 'c_belongs_to': 303, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1299, 303, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1300, 'c_belongs_to': 303, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1300, 303, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1301, 'c_belongs_to': 303, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1301, 303, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1302, 'c_belongs_to': 303, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1302, 303, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1303, 'c_belongs_to': 303, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1303, 303, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1304, 'c_belongs_to': 303, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1304, 303, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1305, 'c_belongs_to': 303, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1305, 303, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1306, 'c_belongs_to': 386, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1306, 386, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1307, 'c_belongs_to': 386, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1307, 386, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1308, 'c_belongs_to': 386, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1308, 386, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1309, 'c_belongs_to': 386, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1309, 386, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1310, 'c_belongs_to': 303, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1310, 303, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1311, 'c_belongs_to': 302, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1311, 302, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1312, 'c_belongs_to': 302, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1312, 302, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1313, 'c_belongs_to': 300, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1313, 300, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1314, 'c_belongs_to': 300, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1314, 300, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1315, 'c_belongs_to': 304, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1315, 304, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1316, 'c_belongs_to': 304, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1316, 304, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1317, 'c_belongs_to': 304, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1317, 304, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1318, 'c_belongs_to': 304, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1318, 304, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1319, 'c_belongs_to': 305, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1319, 305, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1320, 'c_belongs_to': 305, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1320, 305, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1321, 'c_belongs_to': 305, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1321, 305, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1322, 'c_belongs_to': 305, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1322, 305, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1323, 'c_belongs_to': 300, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1323, 300, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1324, 'c_belongs_to': 294, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1324, 294, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1325, 'c_belongs_to': 337, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1325, 337, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1326, 'c_belongs_to': 294, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1326, 294, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1327, 'c_belongs_to': 294, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1327, 294, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1328, 'c_belongs_to': 357, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1328, 357, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1329, 'c_belongs_to': 300, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1329, 300, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1330, 'c_belongs_to': 300, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1330, 300, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1331, 'c_belongs_to': 300, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1331, 300, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1332, 'c_belongs_to': 300, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1332, 300, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1333, 'c_belongs_to': 337, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1333, 337, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1334, 'c_belongs_to': 304, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1334, 304, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1335, 'c_belongs_to': 304, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1335, 304, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1336, 'c_belongs_to': 304, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1336, 304, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1337, 'c_belongs_to': 304, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1337, 304, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1338, 'c_belongs_to': 306, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1338, 306, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1339, 'c_belongs_to': 306, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1339, 306, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1340, 'c_belongs_to': 307, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1340, 307, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1341, 'c_belongs_to': 307, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1341, 307, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1342, 'c_belongs_to': 307, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1342, 307, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1343, 'c_belongs_to': 307, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1343, 307, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1344, 'c_belongs_to': 307, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1344, 307, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1345, 'c_belongs_to': 307, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1345, 307, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1346, 'c_belongs_to': 307, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1346, 307, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1347, 'c_belongs_to': 309, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1347, 309, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1348, 'c_belongs_to': 309, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1348, 309, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1349, 'c_belongs_to': 310, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1349, 310, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1350, 'c_belongs_to': 76, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1350, 76, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1351, 'c_belongs_to': 333, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1351, 333, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1352, 'c_belongs_to': 362, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1352, 362, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1353, 'c_belongs_to': 362, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1353, 362, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1354, 'c_belongs_to': 362, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1354, 362, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1355, 'c_belongs_to': 362, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1355, 362, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1356, 'c_belongs_to': 362, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1356, 362, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1357, 'c_belongs_to': 362, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1357, 362, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1358, 'c_belongs_to': 362, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1358, 362, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1359, 'c_belongs_to': 75, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1359, 75, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1360, 'c_belongs_to': 293, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1360, 293, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1361, 'c_belongs_to': 75, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1361, 75, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1362, 'c_belongs_to': 70, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1362, 70, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1363, 'c_belongs_to': 70, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1363, 70, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1364, 'c_belongs_to': 70, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1364, 70, 1949, 2005, 0, '', None, '']
here:

  4%|▍         | 1525/34559 [00:02<00:49, 673.71it/s]

here:
{'c_addr_id': 1407, 'c_belongs_to': 323, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1407, 323, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1408, 'c_belongs_to': 323, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1408, 323, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1409, 'c_belongs_to': 323, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1409, 323, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1410, 'c_belongs_to': 323, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1410, 323, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1411, 'c_belongs_to': 324, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1411, 324, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1412, 'c_belongs_to': 324, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1412, 324, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1413, 'c_belongs_to': 324, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1413, 324, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1414, 'c_belongs_to': 324, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1414, 324, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1415, 'c_belongs_to': 325, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1415, 325, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1416, 'c_belongs_to': 325, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1416, 325, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1417, 'c_belongs_to': 325, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1417, 325, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1418, 'c_belongs_to': 325, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1418, 325, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1419, 'c_belongs_to': 325, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1419, 325, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1420, 'c_belongs_to': 325, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1420, 325, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1421, 'c_belongs_to': 325, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1421, 325, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1422, 'c_belongs_to': 325, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1422, 325, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1423, 'c_belongs_to': 325, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1423, 325, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1424, 'c_belongs_to': 325, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1424, 325, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1425, 'c_belongs_to': 325, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1425, 325, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1426, 'c_belongs_to': 325, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1426, 325, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1427, 'c_belongs_to': 339, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1427, 339, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1428, 'c_belongs_to': 339, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1428, 339, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1429, 'c_belongs_to': 339, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1429, 339, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1430, 'c_belongs_to': 339, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1430, 339, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1431, 'c_belongs_to': 339, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1431, 339, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1432, 'c_belongs_to': 339, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1432, 339, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1433, 'c_belongs_to': 339, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1433, 339, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1434, 'c_belongs_to': 339, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1434, 339, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1435, 'c_belongs_to': 326, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1435, 326, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1436, 'c_belongs_to': 327, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1436, 327, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1437, 'c_belongs_to': 327, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1437, 327, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1438, 'c_belongs_to': 327, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1438, 327, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1439, 'c_belongs_to': 327, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1439, 327, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1440, 'c_belongs_to': 327, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1440, 327, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1441, 'c_belongs_to': 327, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1441, 327, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1442, 'c_belongs_to': 327, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1442, 327, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1443, 'c_belongs_to': 327, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1443, 327, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1444, 'c_belongs_to': 327, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1444, 327, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1445, 'c_belongs_to': 328, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1445, 328, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1446, 'c_belongs_to': 328, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1446, 328, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1447, 'c_belongs_to': 328, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1447, 328, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1448, 'c_belongs_to': 328, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1448, 328, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1449, 'c_belongs_to': 328, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1449, 328, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1450, 'c_belongs_to': 328, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1450, 328, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1451, 'c_belongs_to': 328, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1451, 328, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1452, 'c_belongs_to': 329, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1452, 329, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1453, 'c_belongs_to': 329, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1453, 329, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1454, 'c_belongs_to': 329, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1454, 329, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1455, 'c_belongs_to': 329, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1455, 329, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1456, 'c_belongs_to': 329, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1456, 329, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1457, 'c_belongs_to': 329, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1457, 329, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1458, 'c_belongs_to': 329, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1458, 329, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1459, 'c_belongs_to': 31, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1459, 31, 1949, 2005, None, '', None, '']
here:
{'c_addr_id': 1460, 'c_belongs_to': 36, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1460, 36, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1461, 'c_belongs_to': 36, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1461, 36, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1462, 'c_belongs_to': 330, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1462, 330, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1463, 'c_belongs_to': 297, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1463, 297, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1464, 'c_belongs_to': 297, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1464, 297, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1465, 'c_belongs_to': 297, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1465, 297, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1466, 'c_belongs_to': 297, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1466, 297, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1467, 'c_belongs_to': 297, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1467, 297, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1468, 'c_belongs_to': 308, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1468, 308, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1469, 'c_belongs_to': 308, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1469, 308, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1470, 'c_belongs_to': 347, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1470, 347, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1471, 'c_belongs_to': 347, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1471, 347, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1472, 'c_belongs_to': 370, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1472, 370, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1473, 'c_belongs_to': 366, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1473, 366, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1474, 'c_belongs_to': 347, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1474, 347, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1475, 'c_belongs_to': 347, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1475, 347, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1476, 'c_belongs_to': 347, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1476, 347, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1477, 'c_belongs_to': 347, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1477, 347, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1478, 'c_belongs_to': 142, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1478, 142, 1949, 2005, 0, '', None, '']
here:

  5%|▍         | 1597/34559 [00:02<00:48, 683.38it/s]

here:
{'c_addr_id': 1541, 'c_belongs_to': 115, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1541, 115, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1542, 'c_belongs_to': 126, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1542, 126, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1543, 'c_belongs_to': 368, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1543, 368, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1544, 'c_belongs_to': 368, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1544, 368, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1545, 'c_belongs_to': 117, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1545, 117, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1546, 'c_belongs_to': 117, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1546, 117, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1547, 'c_belongs_to': 117, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1547, 117, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1548, 'c_belongs_to': 368, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1548, 368, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1549, 'c_belongs_to': 368, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1549, 368, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1550, 'c_belongs_to': 117, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1550, 117, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1551, 'c_belongs_to': 117, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1551, 117, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1552, 'c_belongs_to': 129, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1552, 129, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1553, 'c_belongs_to': 129, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1553, 129, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1554, 'c_belongs_to': 129, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1554, 129, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1555, 'c_belongs_to': 136, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1555, 136, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1556, 'c_belongs_to': 141, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1556, 141, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1557, 'c_belongs_to': 143, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1557, 143, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1558, 'c_belongs_to': 143, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1558, 143, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1559, 'c_belongs_to': 143, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1559, 143, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1560, 'c_belongs_to': 189, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1560, 189, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1561, 'c_belongs_to': 136, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1561, 136, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1562, 'c_belongs_to': 136, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1562, 136, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1563, 'c_belongs_to': 136, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1563, 136, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1564, 'c_belongs_to': 136, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1564, 136, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1565, 'c_belongs_to': 136, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1565, 136, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1566, 'c_belongs_to': 136, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1566, 136, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1567, 'c_belongs_to': 136, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1567, 136, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1568, 'c_belongs_to': 136, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1568, 136, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1569, 'c_belongs_to': 133, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1569, 133, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1570, 'c_belongs_to': 133, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1570, 133, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1571, 'c_belongs_to': 130, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1571, 130, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1572, 'c_belongs_to': 130, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1572, 130, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1573, 'c_belongs_to': 130, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1573, 130, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1574, 'c_belongs_to': 142, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1574, 142, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1575, 'c_belongs_to': 142, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1575, 142, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1576, 'c_belongs_to': 142, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1576, 142, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1577, 'c_belongs_to': 137, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1577, 137, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1578, 'c_belongs_to': 142, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1578, 142, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1579, 'c_belongs_to': 130, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1579, 130, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1580, 'c_belongs_to': 371, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1580, 371, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1581, 'c_belongs_to': 371, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1581, 371, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1582, 'c_belongs_to': 135, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1582, 135, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1583, 'c_belongs_to': 135, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1583, 135, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1584, 'c_belongs_to': 371, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1584, 371, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1585, 'c_belongs_to': 371, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1585, 371, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1586, 'c_belongs_to': 137, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1586, 137, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1587, 'c_belongs_to': 137, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1587, 137, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1588, 'c_belongs_to': 150, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1588, 150, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1589, 'c_belongs_to': 137, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1589, 137, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1590, 'c_belongs_to': 137, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1590, 137, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1591, 'c_belongs_to': 142, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1591, 142, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1592, 'c_belongs_to': 76, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1592, 76, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1593, 'c_belongs_to': 76, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1593, 76, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1594, 'c_belongs_to': 182, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1594, 182, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1595, 'c_belongs_to': 182, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1595, 182, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1596, 'c_belongs_to': 182, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1596, 182, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1597, 'c_belongs_to': 190, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1597, 190, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1598, 'c_belongs_to': 182, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1598, 182, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1599, 'c_belongs_to': 182, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1599, 182, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1600, 'c_belongs_to': 182, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1600, 182, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1601, 'c_belongs_to': 182, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1601, 182, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1602, 'c_belongs_to': 182, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1602, 182, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1603, 'c_belongs_to': 301, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1603, 301, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1604, 'c_belongs_to': 313, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1604, 313, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1605, 'c_belongs_to': 313, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1605, 313, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1606, 'c_belongs_to': 313, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1606, 313, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1607, 'c_belongs_to': 314, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1607, 314, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1608, 'c_belongs_to': 314, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1608, 314, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1609, 'c_belongs_to': 315, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1609, 315, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1610, 'c_belongs_to': 315, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1610, 315, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1611, 'c_belongs_to': 314, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1611, 314, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1612, 'c_belongs_to': 314, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1612, 314, 1949, 2005, 0, '', None, '']
here:

  5%|▌         | 1740/34559 [00:02<00:48, 672.89it/s]

here:
{'c_addr_id': 1677, 'c_belongs_to': 118, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1677, 118, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1678, 'c_belongs_to': 121, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1678, 121, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1679, 'c_belongs_to': 121, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1679, 121, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1680, 'c_belongs_to': 121, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1680, 121, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1681, 'c_belongs_to': 121, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1681, 121, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1682, 'c_belongs_to': 121, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1682, 121, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1683, 'c_belongs_to': 121, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1683, 121, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1684, 'c_belongs_to': 121, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1684, 121, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1685, 'c_belongs_to': 122, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1685, 122, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1686, 'c_belongs_to': 122, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1686, 122, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1687, 'c_belongs_to': 122, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1687, 122, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1688, 'c_belongs_to': 122, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1688, 122, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1689, 'c_belongs_to': 118, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1689, 118, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1690, 'c_belongs_to': 118, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1690, 118, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1691, 'c_belongs_to': 124, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1691, 124, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1692, 'c_belongs_to': 124, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1692, 124, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1693, 'c_belongs_to': 124, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1693, 124, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1694, 'c_belongs_to': 124, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1694, 124, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1695, 'c_belongs_to': 124, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1695, 124, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1696, 'c_belongs_to': 124, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1696, 124, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1697, 'c_belongs_to': 124, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1697, 124, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1698, 'c_belongs_to': 124, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1698, 124, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1699, 'c_belongs_to': 124, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1699, 124, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1700, 'c_belongs_to': 125, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1700, 125, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1701, 'c_belongs_to': 125, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1701, 125, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1702, 'c_belongs_to': 125, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1702, 125, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1703, 'c_belongs_to': 125, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1703, 125, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1704, 'c_belongs_to': 125, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1704, 125, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1705, 'c_belongs_to': 125, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1705, 125, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1706, 'c_belongs_to': 127, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1706, 127, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1707, 'c_belongs_to': 120, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1707, 120, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1708, 'c_belongs_to': 127, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1708, 127, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1709, 'c_belongs_to': 127, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1709, 127, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1710, 'c_belongs_to': 127, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1710, 127, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1711, 'c_belongs_to': 127, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1711, 127, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1712, 'c_belongs_to': 127, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1712, 127, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1713, 'c_belongs_to': 127, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1713, 127, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1714, 'c_belongs_to': 127, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1714, 127, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1715, 'c_belongs_to': 127, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1715, 127, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1716, 'c_belongs_to': 123, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1716, 123, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1717, 'c_belongs_to': 123, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1717, 123, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1718, 'c_belongs_to': 118, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1718, 118, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1719, 'c_belongs_to': 123, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1719, 123, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1720, 'c_belongs_to': 119, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1720, 119, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1721, 'c_belongs_to': 123, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1721, 123, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1722, 'c_belongs_to': 123, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1722, 123, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1723, 'c_belongs_to': 123, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1723, 123, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1724, 'c_belongs_to': 119, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1724, 119, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1725, 'c_belongs_to': 119, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1725, 119, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1726, 'c_belongs_to': 119, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1726, 119, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1727, 'c_belongs_to': 119, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1727, 119, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1728, 'c_belongs_to': 119, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1728, 119, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1729, 'c_belongs_to': 126, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1729, 126, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1730, 'c_belongs_to': 126, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1730, 126, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1731, 'c_belongs_to': 126, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1731, 126, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1732, 'c_belongs_to': 126, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1732, 126, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1733, 'c_belongs_to': 119, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1733, 119, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1734, 'c_belongs_to': 128, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1734, 128, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1735, 'c_belongs_to': 128, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1735, 128, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1736, 'c_belongs_to': 128, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1736, 128, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1737, 'c_belongs_to': 128, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1737, 128, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1738, 'c_belongs_to': 128, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1738, 128, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1739, 'c_belongs_to': 128, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1739, 128, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1740, 'c_belongs_to': 128, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1740, 128, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1741, 'c_belongs_to': 119, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1741, 119, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1742, 'c_belongs_to': 120, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1742, 120, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1743, 'c_belongs_to': 120, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1743, 120, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1744, 'c_belongs_to': 120, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1744, 120, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1745, 'c_belongs_to': 120, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1745, 120, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1746, 'c_belongs_to': 120, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1746, 120, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1747, 'c_belongs_to': 120, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1747, 120, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1748, 'c_belongs_to': 128, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1748, 128, 1949, 2005, 0, '', None, '']
here:

  5%|▌         | 1808/34559 [00:02<00:56, 575.26it/s]

here:
{'c_addr_id': 1774, 'c_belongs_to': 150, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1774, 150, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1775, 'c_belongs_to': 150, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1775, 150, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1776, 'c_belongs_to': 356, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1776, 356, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1777, 'c_belongs_to': 356, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1777, 356, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1778, 'c_belongs_to': 150, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1778, 150, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1779, 'c_belongs_to': 346, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1779, 346, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1780, 'c_belongs_to': 346, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1780, 346, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1781, 'c_belongs_to': 353, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1781, 353, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1782, 'c_belongs_to': 346, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1782, 346, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1783, 'c_belongs_to': 346, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1783, 346, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1784, 'c_belongs_to': 346, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1784, 346, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1785, 'c_belongs_to': 346, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1785, 346, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1786, 'c_belongs_to': 346, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1786, 346, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1787, 'c_belongs_to': 346, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1787, 346, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1788, 'c_belongs_to': 346, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1788, 346, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1789, 'c_belongs_to': 152, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1789, 152, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1790, 'c_belongs_to': 152, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1790, 152, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1791, 'c_belongs_to': 152, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1791, 152, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1792, 'c_belongs_to': 152, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1792, 152, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1793, 'c_belongs_to': 152, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1793, 152, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1794, 'c_belongs_to': 152, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1794, 152, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1795, 'c_belongs_to': 152, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1795, 152, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1796, 'c_belongs_to': 152, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1796, 152, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1797, 'c_belongs_to': 152, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1797, 152, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1798, 'c_belongs_to': 152, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1798, 152, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1799, 'c_belongs_to': 151, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1799, 151, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1800, 'c_belongs_to': 151, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1800, 151, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1801, 'c_belongs_to': 151, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1801, 151, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1802, 'c_belongs_to': 151, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1802, 151, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1803, 'c_belongs_to': 151, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1803, 151, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1804, 'c_belongs_to': 151, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1804, 151, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1805, 'c_belongs_to': 151, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1805, 151, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1806, 'c_belongs_to': 151, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1806, 151, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1807, 'c_belongs_to': 151, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1807, 151, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1808, 'c_belongs_to': 151, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1808, 151, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1809, 'c_belongs_to': 151, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1809, 151, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1810, 'c_belongs_to': 151, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1810, 151, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1811, 'c_belongs_to': 149, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1811, 149, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1812, 'c_belongs_to': 149, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1812, 149, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1813, 'c_belongs_to': 149, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1813, 149, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1814, 'c_belongs_to': 149, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1814, 149, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1815, 'c_belongs_to': 151, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1815, 151, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1816, 'c_belongs_to': 151, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1816, 151, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1817, 'c_belongs_to': 374, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1817, 374, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1818, 'c_belongs_to': 149, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1818, 149, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1819, 'c_belongs_to': 374, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1819, 374, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1820, 'c_belongs_to': 340, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1820, 340, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1821, 'c_belongs_to': 149, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1821, 149, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1822, 'c_belongs_to': 148, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1822, 148, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1823, 'c_belongs_to': 148, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1823, 148, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1824, 'c_belongs_to': 148, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1824, 148, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1825, 'c_belongs_to': 148, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1825, 148, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1826, 'c_belongs_to': 148, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1826, 148, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1827, 'c_belongs_to': 148, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1827, 148, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1828, 'c_belongs_to': 148, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1828, 148, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1829, 'c_belongs_to': 148, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1829, 148, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1830, 'c_belongs_to': 148, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1830, 148, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1831, 'c_belongs_to': 148, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1831, 148, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1832, 'c_belongs_to': 148, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1832, 148, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1833, 'c_belongs_to': 148, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1833, 148, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1834, 'c_belongs_to': 148, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1834, 148, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1835, 'c_belongs_to': 148, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1835, 148, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1836, 'c_belongs_to': 148, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1836, 148, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1837, 'c_belongs_to': 148, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1837, 148, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1838, 'c_belongs_to': 148, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1838, 148, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1839, 'c_belongs_to': 148, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1839, 148, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1840, 'c_belongs_to': 260, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1840, 260, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1841, 'c_belongs_to': 192, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1841, 192, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1842, 'c_belongs_to': 192, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1842, 192, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1843, 'c_belongs_to': 192, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1843, 192, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1844, 'c_belongs_to': 192, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1844, 192, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1845, 'c_belongs_to': 192, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1845, 192, 1949, 2005, 0, '', None, '']
here:

  6%|▌         | 1934/34559 [00:03<00:55, 584.07it/s]

here:
{'c_addr_id': 1871, 'c_belongs_to': 190, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1871, 190, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1872, 'c_belongs_to': 378, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1872, 378, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1873, 'c_belongs_to': 378, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1873, 378, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1874, 'c_belongs_to': 378, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1874, 378, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1875, 'c_belongs_to': 378, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1875, 378, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1876, 'c_belongs_to': 378, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1876, 378, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1877, 'c_belongs_to': 378, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1877, 378, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1878, 'c_belongs_to': 378, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1878, 378, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1879, 'c_belongs_to': 193, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1879, 193, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1880, 'c_belongs_to': 379, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1880, 379, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1881, 'c_belongs_to': 193, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1881, 193, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1882, 'c_belongs_to': 193, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1882, 193, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1883, 'c_belongs_to': 193, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1883, 193, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1884, 'c_belongs_to': 193, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1884, 193, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1885, 'c_belongs_to': 185, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1885, 185, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1886, 'c_belongs_to': 193, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1886, 193, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1887, 'c_belongs_to': 190, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1887, 190, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1888, 'c_belongs_to': 190, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1888, 190, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1889, 'c_belongs_to': 190, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1889, 190, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1890, 'c_belongs_to': 190, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1890, 190, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1891, 'c_belongs_to': 190, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1891, 190, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1892, 'c_belongs_to': 189, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1892, 189, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1893, 'c_belongs_to': 189, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1893, 189, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1894, 'c_belongs_to': 183, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1894, 183, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1895, 'c_belongs_to': 189, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1895, 189, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1896, 'c_belongs_to': 189, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1896, 189, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1897, 'c_belongs_to': 189, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1897, 189, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1898, 'c_belongs_to': 183, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1898, 183, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1899, 'c_belongs_to': 189, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1899, 189, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1900, 'c_belongs_to': 189, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1900, 189, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1901, 'c_belongs_to': 189, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1901, 189, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1902, 'c_belongs_to': 186, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1902, 186, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1903, 'c_belongs_to': 192, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1903, 192, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1904, 'c_belongs_to': 192, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1904, 192, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1905, 'c_belongs_to': 192, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1905, 192, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1906, 'c_belongs_to': 192, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1906, 192, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1907, 'c_belongs_to': 192, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1907, 192, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1908, 'c_belongs_to': 192, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1908, 192, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1909, 'c_belongs_to': 194, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1909, 194, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1910, 'c_belongs_to': 188, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1910, 188, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1911, 'c_belongs_to': 194, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1911, 194, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1912, 'c_belongs_to': 377, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1912, 377, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1913, 'c_belongs_to': 194, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1913, 194, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1914, 'c_belongs_to': 194, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1914, 194, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1915, 'c_belongs_to': 194, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1915, 194, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1916, 'c_belongs_to': 194, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1916, 194, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1917, 'c_belongs_to': 194, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1917, 194, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1918, 'c_belongs_to': 194, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1918, 194, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1919, 'c_belongs_to': 195, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1919, 195, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1920, 'c_belongs_to': 199, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1920, 199, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1921, 'c_belongs_to': 199, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1921, 199, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1922, 'c_belongs_to': 199, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1922, 199, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1923, 'c_belongs_to': 199, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1923, 199, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1924, 'c_belongs_to': 201, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1924, 201, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1925, 'c_belongs_to': 199, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1925, 199, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1926, 'c_belongs_to': 341, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1926, 341, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1927, 'c_belongs_to': 341, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1927, 341, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1928, 'c_belongs_to': 341, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1928, 341, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1929, 'c_belongs_to': 341, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1929, 341, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1930, 'c_belongs_to': 200, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1930, 200, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1931, 'c_belongs_to': 200, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1931, 200, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1932, 'c_belongs_to': 200, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1932, 200, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1933, 'c_belongs_to': 341, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1933, 341, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1934, 'c_belongs_to': 380, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1934, 380, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1935, 'c_belongs_to': 380, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1935, 380, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1936, 'c_belongs_to': 380, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1936, 380, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1937, 'c_belongs_to': 196, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1937, 196, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1938, 'c_belongs_to': 196, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1938, 196, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1939, 'c_belongs_to': 381, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1939, 381, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1940, 'c_belongs_to': 381, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1940, 381, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1941, 'c_belongs_to': 381, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1941, 381, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1942, 'c_belongs_to': 199, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1942, 199, 1949, 2005, 0, '', None, '']
here:

  6%|▌         | 2077/34559 [00:03<00:50, 641.44it/s]

here:
{'c_addr_id': 1994, 'c_belongs_to': 205, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1994, 205, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1995, 'c_belongs_to': 264, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1995, 264, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1996, 'c_belongs_to': 205, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1996, 205, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1997, 'c_belongs_to': 204, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1997, 204, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1998, 'c_belongs_to': 204, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1998, 204, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 1999, 'c_belongs_to': 204, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[1999, 204, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2000, 'c_belongs_to': 197, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2000, 197, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2001, 'c_belongs_to': 204, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2001, 204, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2002, 'c_belongs_to': 204, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2002, 204, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2003, 'c_belongs_to': 204, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2003, 204, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2004, 'c_belongs_to': 204, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2004, 204, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2005, 'c_belongs_to': 204, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2005, 204, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2006, 'c_belongs_to': 204, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2006, 204, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2007, 'c_belongs_to': 204, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2007, 204, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2008, 'c_belongs_to': 195, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2008, 195, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2009, 'c_belongs_to': 195, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2009, 195, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2010, 'c_belongs_to': 195, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2010, 195, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2011, 'c_belongs_to': 195, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2011, 195, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2012, 'c_belongs_to': 195, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2012, 195, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2013, 'c_belongs_to': 195, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2013, 195, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2014, 'c_belongs_to': 194, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2014, 194, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2015, 'c_belongs_to': 206, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2015, 206, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2016, 'c_belongs_to': 206, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2016, 206, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2017, 'c_belongs_to': 206, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2017, 206, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2018, 'c_belongs_to': 206, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2018, 206, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2019, 'c_belongs_to': 206, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2019, 206, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2020, 'c_belongs_to': 206, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2020, 206, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2021, 'c_belongs_to': 244, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2021, 244, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2022, 'c_belongs_to': 246, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2022, 246, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2023, 'c_belongs_to': 244, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2023, 244, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2024, 'c_belongs_to': 243, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2024, 243, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2025, 'c_belongs_to': 239, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2025, 239, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2026, 'c_belongs_to': 246, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2026, 246, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2027, 'c_belongs_to': 246, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2027, 246, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2028, 'c_belongs_to': 247, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2028, 247, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2029, 'c_belongs_to': 247, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2029, 247, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2030, 'c_belongs_to': 248, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2030, 248, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2031, 'c_belongs_to': 248, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2031, 248, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2032, 'c_belongs_to': 248, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2032, 248, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2033, 'c_belongs_to': 248, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2033, 248, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2034, 'c_belongs_to': 248, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2034, 248, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2035, 'c_belongs_to': 248, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2035, 248, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2036, 'c_belongs_to': 248, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2036, 248, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2037, 'c_belongs_to': 248, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2037, 248, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2038, 'c_belongs_to': 248, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2038, 248, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2039, 'c_belongs_to': 248, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2039, 248, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2040, 'c_belongs_to': 248, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2040, 248, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2041, 'c_belongs_to': 240, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2041, 240, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2042, 'c_belongs_to': 247, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2042, 247, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2043, 'c_belongs_to': 238, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2043, 238, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2044, 'c_belongs_to': 238, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2044, 238, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2045, 'c_belongs_to': 238, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2045, 238, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2046, 'c_belongs_to': 242, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2046, 242, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2047, 'c_belongs_to': 242, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2047, 242, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2048, 'c_belongs_to': 242, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2048, 242, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2049, 'c_belongs_to': 242, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2049, 242, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2050, 'c_belongs_to': 242, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2050, 242, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2051, 'c_belongs_to': 251, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2051, 251, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2052, 'c_belongs_to': 254, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2052, 254, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2053, 'c_belongs_to': 254, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2053, 254, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2054, 'c_belongs_to': 254, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2054, 254, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2055, 'c_belongs_to': 254, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2055, 254, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2056, 'c_belongs_to': 254, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2056, 254, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2057, 'c_belongs_to': 256, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2057, 256, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2058, 'c_belongs_to': 256, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2058, 256, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2059, 'c_belongs_to': 354, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2059, 354, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2060, 'c_belongs_to': 267, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2060, 267, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2061, 'c_belongs_to': 268, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2061, 268, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2062, 'c_belongs_to': 267, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2062, 267, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2063, 'c_belongs_to': 267, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2063, 267, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2064, 'c_belongs_to': 267, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2064, 267, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2065, 'c_belongs_to': 267, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2065, 267, 1949, 2005, 0, '', None, '']
here:

  6%|▋         | 2207/34559 [00:03<00:51, 629.32it/s]

here:
{'c_addr_id': 2120, 'c_belongs_to': 243, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2120, 243, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2121, 'c_belongs_to': 244, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2121, 244, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2122, 'c_belongs_to': 244, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2122, 244, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2123, 'c_belongs_to': 245, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2123, 245, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2124, 'c_belongs_to': 255, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2124, 255, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2125, 'c_belongs_to': 255, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2125, 255, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2126, 'c_belongs_to': 255, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2126, 255, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2127, 'c_belongs_to': 252, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2127, 252, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2128, 'c_belongs_to': 245, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2128, 245, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2129, 'c_belongs_to': 252, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2129, 252, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2130, 'c_belongs_to': 245, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2130, 245, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2131, 'c_belongs_to': 245, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2131, 245, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2132, 'c_belongs_to': 253, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2132, 253, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2133, 'c_belongs_to': 253, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2133, 253, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2134, 'c_belongs_to': 253, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2134, 253, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2135, 'c_belongs_to': 253, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2135, 253, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2136, 'c_belongs_to': 245, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2136, 245, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2137, 'c_belongs_to': 244, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2137, 244, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2138, 'c_belongs_to': 252, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2138, 252, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2139, 'c_belongs_to': 252, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2139, 252, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2140, 'c_belongs_to': 252, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2140, 252, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2141, 'c_belongs_to': 252, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2141, 252, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2142, 'c_belongs_to': 252, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2142, 252, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2143, 'c_belongs_to': 252, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2143, 252, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2144, 'c_belongs_to': 252, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2144, 252, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2145, 'c_belongs_to': 253, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2145, 253, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2146, 'c_belongs_to': 253, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2146, 253, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2147, 'c_belongs_to': 253, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2147, 253, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2148, 'c_belongs_to': 252, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2148, 252, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2149, 'c_belongs_to': 252, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2149, 252, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2150, 'c_belongs_to': 251, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2150, 251, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2151, 'c_belongs_to': 251, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2151, 251, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2152, 'c_belongs_to': 251, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2152, 251, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2153, 'c_belongs_to': 240, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2153, 240, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2154, 'c_belongs_to': 240, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2154, 240, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2155, 'c_belongs_to': 247, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2155, 247, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2156, 'c_belongs_to': 251, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2156, 251, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2157, 'c_belongs_to': 251, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2157, 251, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2158, 'c_belongs_to': 251, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2158, 251, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2159, 'c_belongs_to': 251, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2159, 251, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2160, 'c_belongs_to': 251, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2160, 251, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2161, 'c_belongs_to': 239, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2161, 239, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2162, 'c_belongs_to': 239, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2162, 239, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2163, 'c_belongs_to': 239, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2163, 239, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2164, 'c_belongs_to': 239, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2164, 239, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2165, 'c_belongs_to': 239, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2165, 239, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2166, 'c_belongs_to': 239, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2166, 239, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2167, 'c_belongs_to': 239, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2167, 239, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2168, 'c_belongs_to': 239, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2168, 239, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2169, 'c_belongs_to': 239, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2169, 239, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2170, 'c_belongs_to': 239, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2170, 239, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2171, 'c_belongs_to': 250, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2171, 250, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2172, 'c_belongs_to': 382, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2172, 382, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2173, 'c_belongs_to': 239, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2173, 239, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2174, 'c_belongs_to': 239, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2174, 239, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2175, 'c_belongs_to': 259, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2175, 259, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2176, 'c_belongs_to': 259, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2176, 259, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2177, 'c_belongs_to': 259, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2177, 259, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2178, 'c_belongs_to': 252, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2178, 252, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2179, 'c_belongs_to': 249, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2179, 249, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2180, 'c_belongs_to': 250, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2180, 250, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2181, 'c_belongs_to': 250, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2181, 250, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2182, 'c_belongs_to': 250, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2182, 250, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2183, 'c_belongs_to': 250, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2183, 250, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2184, 'c_belongs_to': 382, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2184, 382, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2185, 'c_belongs_to': 249, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2185, 249, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2186, 'c_belongs_to': 249, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2186, 249, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2187, 'c_belongs_to': 249, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2187, 249, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2188, 'c_belongs_to': 249, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2188, 249, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2189, 'c_belongs_to': 249, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2189, 249, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2190, 'c_belongs_to': 249, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2190, 249, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2191, 'c_belongs_to': 249, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2191, 249, 1949, 2005, 0, '', None, '']
here:

  7%|▋         | 2344/34559 [00:03<00:49, 650.35it/s]

here:
{'c_addr_id': 2236, 'c_belongs_to': 256, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2236, 256, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2237, 'c_belongs_to': 256, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2237, 256, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2238, 'c_belongs_to': 256, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2238, 256, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2239, 'c_belongs_to': 256, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2239, 256, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2240, 'c_belongs_to': 256, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2240, 256, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2241, 'c_belongs_to': 256, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2241, 256, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2242, 'c_belongs_to': 256, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2242, 256, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2243, 'c_belongs_to': 283, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2243, 283, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2244, 'c_belongs_to': 283, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2244, 283, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2245, 'c_belongs_to': 283, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2245, 283, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2246, 'c_belongs_to': 283, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2246, 283, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2247, 'c_belongs_to': 283, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2247, 283, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2248, 'c_belongs_to': 283, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2248, 283, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2249, 'c_belongs_to': 283, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2249, 283, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2250, 'c_belongs_to': 283, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2250, 283, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2251, 'c_belongs_to': 383, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2251, 383, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2252, 'c_belongs_to': 283, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2252, 283, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2253, 'c_belongs_to': 383, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2253, 383, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2254, 'c_belongs_to': 283, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2254, 283, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2255, 'c_belongs_to': 283, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2255, 283, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2256, 'c_belongs_to': 283, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2256, 283, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2257, 'c_belongs_to': 283, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2257, 283, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2258, 'c_belongs_to': 283, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2258, 283, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2259, 'c_belongs_to': 309, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2259, 309, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2260, 'c_belongs_to': 309, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2260, 309, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2261, 'c_belongs_to': 310, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2261, 310, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2262, 'c_belongs_to': 310, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2262, 310, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2263, 'c_belongs_to': 310, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2263, 310, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2264, 'c_belongs_to': 312, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2264, 312, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2265, 'c_belongs_to': 312, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2265, 312, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2266, 'c_belongs_to': 311, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2266, 311, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2267, 'c_belongs_to': 312, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2267, 312, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2268, 'c_belongs_to': 311, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2268, 311, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2269, 'c_belongs_to': 311, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2269, 311, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2270, 'c_belongs_to': 342, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2270, 342, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2271, 'c_belongs_to': 312, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2271, 312, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2272, 'c_belongs_to': 342, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2272, 342, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2273, 'c_belongs_to': 311, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2273, 311, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2274, 'c_belongs_to': 311, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2274, 311, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2275, 'c_belongs_to': 312, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2275, 312, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2276, 'c_belongs_to': 312, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2276, 312, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2277, 'c_belongs_to': 311, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2277, 311, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2278, 'c_belongs_to': 342, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2278, 342, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2279, 'c_belongs_to': 342, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2279, 342, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2280, 'c_belongs_to': 342, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2280, 342, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2281, 'c_belongs_to': 282, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2281, 282, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2282, 'c_belongs_to': 282, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2282, 282, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2283, 'c_belongs_to': 284, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2283, 284, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2284, 'c_belongs_to': 284, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2284, 284, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2285, 'c_belongs_to': 282, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2285, 282, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2286, 'c_belongs_to': 284, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2286, 284, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2287, 'c_belongs_to': 282, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2287, 282, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2288, 'c_belongs_to': 284, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2288, 284, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2289, 'c_belongs_to': 282, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2289, 282, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2290, 'c_belongs_to': 284, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2290, 284, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2291, 'c_belongs_to': 284, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2291, 284, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2292, 'c_belongs_to': 284, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2292, 284, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2293, 'c_belongs_to': 282, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2293, 282, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2294, 'c_belongs_to': 282, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2294, 282, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2295, 'c_belongs_to': 284, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2295, 284, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2296, 'c_belongs_to': 284, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2296, 284, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2297, 'c_belongs_to': 282, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2297, 282, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2298, 'c_belongs_to': 284, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2298, 284, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2299, 'c_belongs_to': 284, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2299, 284, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2300, 'c_belongs_to': 284, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2300, 284, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2301, 'c_belongs_to': 285, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2301, 285, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2302, 'c_belongs_to': 285, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2302, 285, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2303, 'c_belongs_to': 285, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2303, 285, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2304, 'c_belongs_to': 286, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2304, 286, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2305, 'c_belongs_to': 285, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2305, 285, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2306, 'c_belongs_to': 286, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2306, 286, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2307, 'c_belongs_to': 285, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2307, 285, 1949, 2005, 0, '', None, '']
here:

  7%|▋         | 2410/34559 [00:03<00:52, 607.35it/s]

{'c_addr_id': 2357, 'c_belongs_to': 348, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2357, 348, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2358, 'c_belongs_to': 351, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2358, 351, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2359, 'c_belongs_to': 351, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2359, 351, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2360, 'c_belongs_to': 351, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2360, 351, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2361, 'c_belongs_to': 351, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2361, 351, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2362, 'c_belongs_to': 351, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2362, 351, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2363, 'c_belongs_to': 351, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2363, 351, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2364, 'c_belongs_to': 351, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2364, 351, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2365, 'c_belongs_to': 349, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2365, 349, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2366, 'c_belongs_to': 349, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2366, 349, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2367, 'c_belongs_to': 351, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2367, 351, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2368, 'c_belongs_to': 351, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2368, 351, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2369, 'c_belongs_to': 145, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2369, 145, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2370, 'c_belongs_to': 145, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2370, 145, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2371, 'c_belongs_to': 145, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2371, 145, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2372, 'c_belongs_to': 145, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2372, 145, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2373, 'c_belongs_to': 145, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2373, 145, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2374, 'c_belongs_to': 146, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2374, 146, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2375, 'c_belongs_to': 145, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2375, 145, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2376, 'c_belongs_to': 146, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2376, 146, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2377, 'c_belongs_to': 145, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2377, 145, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2378, 'c_belongs_to': 350, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2378, 350, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2379, 'c_belongs_to': 350, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2379, 350, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2380, 'c_belongs_to': 350, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2380, 350, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2381, 'c_belongs_to': 350, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2381, 350, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2382, 'c_belongs_to': 350, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2382, 350, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2383, 'c_belongs_to': 350, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2383, 350, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2384, 'c_belongs_to': 145, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2384, 145, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2385, 'c_belongs_to': 147, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2385, 147, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2386, 'c_belongs_to': 350, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2386, 350, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2387, 'c_belongs_to': 147, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2387, 147, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2388, 'c_belongs_to': 147, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2388, 147, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2389, 'c_belongs_to': 147, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2389, 147, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2390, 'c_belongs_to': 350, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2390, 350, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2391, 'c_belongs_to': 350, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2391, 350, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2392, 'c_belongs_to': 147, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2392, 147, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2393, 'c_belongs_to': 372, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2393, 372, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2394, 'c_belongs_to': 372, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2394, 372, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2395, 'c_belongs_to': 372, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2395, 372, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2396, 'c_belongs_to': 145, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2396, 145, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2397, 'c_belongs_to': 145, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2397, 145, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2398, 'c_belongs_to': 350, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2398, 350, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2399, 'c_belongs_to': 350, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2399, 350, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2400, 'c_belongs_to': 352, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2400, 352, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2401, 'c_belongs_to': 352, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2401, 352, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2402, 'c_belongs_to': 352, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2402, 352, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2403, 'c_belongs_to': 352, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2403, 352, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2404, 'c_belongs_to': 352, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2404, 352, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2405, 'c_belongs_to': 352, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2405, 352, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2406, 'c_belongs_to': 352, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2406, 352, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2407, 'c_belongs_to': 147, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2407, 147, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2408, 'c_belongs_to': 147, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2408, 147, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2409, 'c_belongs_to': 352, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2409, 352, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2410, 'c_belongs_to': 352, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2410, 352, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2411, 'c_belongs_to': 352, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2411, 352, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2412, 'c_belongs_to': 216, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2412, 216, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2413, 'c_belongs_to': 216, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2413, 216, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2414, 'c_belongs_to': 216, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2414, 216, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2415, 'c_belongs_to': 207, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2415, 207, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2416, 'c_belongs_to': 207, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2416, 207, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2417, 'c_belongs_to': 212, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2417, 212, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2418, 'c_belongs_to': 212, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2418, 212, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2419, 'c_belongs_to': 207, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2419, 207, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2420, 'c_belongs_to': 207, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2420, 207, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2421, 'c_belongs_to': 212, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2421, 212, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2422, 'c_belongs_to': 210, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2422, 210, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2423, 'c_belongs_to': 343, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2423, 343, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2424, 'c_belongs_to': 207, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2424, 207, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2425, 'c_belongs_to': 209, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2425, 209, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2426, 'c_belongs_to': 209, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2426, 209, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2427, 'c_belongs_to': 217, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2427, 217, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2428, 'c_belongs_to': 210, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2428, 210, 1949, 2005, 0, '', None, '']
here:

  7%|▋         | 2532/34559 [00:04<00:54, 592.76it/s]

here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2461, 220, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2462, 'c_belongs_to': 220, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2462, 220, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2463, 'c_belongs_to': 220, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2463, 220, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2464, 'c_belongs_to': 218, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2464, 218, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2465, 'c_belongs_to': 218, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2465, 218, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2466, 'c_belongs_to': 211, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2466, 211, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2467, 'c_belongs_to': 218, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2467, 218, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2468, 'c_belongs_to': 211, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2468, 211, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2469, 'c_belongs_to': 211, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2469, 211, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2470, 'c_belongs_to': 211, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2470, 211, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2471, 'c_belongs_to': 211, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2471, 211, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2472, 'c_belongs_to': 218, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2472, 218, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2473, 'c_belongs_to': 211, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2473, 211, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2474, 'c_belongs_to': 211, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2474, 211, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2475, 'c_belongs_to': 211, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2475, 211, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2476, 'c_belongs_to': 211, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2476, 211, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2477, 'c_belongs_to': 211, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2477, 211, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2478, 'c_belongs_to': 218, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2478, 218, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2479, 'c_belongs_to': 218, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2479, 218, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2480, 'c_belongs_to': 218, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2480, 218, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2481, 'c_belongs_to': 218, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2481, 218, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2482, 'c_belongs_to': 212, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2482, 212, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2483, 'c_belongs_to': 216, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2483, 216, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2484, 'c_belongs_to': 216, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2484, 216, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2485, 'c_belongs_to': 216, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2485, 216, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2486, 'c_belongs_to': 213, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2486, 213, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2487, 'c_belongs_to': 216, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2487, 216, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2488, 'c_belongs_to': 221, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2488, 221, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2489, 'c_belongs_to': 213, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2489, 213, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2490, 'c_belongs_to': 221, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2490, 221, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2491, 'c_belongs_to': 221, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2491, 221, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2492, 'c_belongs_to': 216, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2492, 216, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2493, 'c_belongs_to': 216, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2493, 216, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2494, 'c_belongs_to': 216, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2494, 216, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2495, 'c_belongs_to': 214, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2495, 214, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2496, 'c_belongs_to': 215, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2496, 215, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2497, 'c_belongs_to': 215, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2497, 215, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2498, 'c_belongs_to': 215, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2498, 215, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2499, 'c_belongs_to': 215, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2499, 215, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2500, 'c_belongs_to': 215, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2500, 215, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2501, 'c_belongs_to': 214, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2501, 214, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2502, 'c_belongs_to': 227, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2502, 227, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2503, 'c_belongs_to': 227, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2503, 227, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2504, 'c_belongs_to': 235, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2504, 235, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2505, 'c_belongs_to': 235, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2505, 235, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2506, 'c_belongs_to': 235, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2506, 235, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2507, 'c_belongs_to': 235, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2507, 235, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2508, 'c_belongs_to': 214, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2508, 214, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2509, 'c_belongs_to': 214, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2509, 214, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2510, 'c_belongs_to': 214, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2510, 214, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2511, 'c_belongs_to': 214, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2511, 214, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2512, 'c_belongs_to': 22, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2512, 22, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2513, 'c_belongs_to': 22, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2513, 22, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2514, 'c_belongs_to': 236, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2514, 236, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2515, 'c_belongs_to': 22, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2515, 22, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2516, 'c_belongs_to': 22, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2516, 22, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2517, 'c_belongs_to': 22, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2517, 22, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2518, 'c_belongs_to': 22, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2518, 22, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2519, 'c_belongs_to': 22, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2519, 22, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2520, 'c_belongs_to': 22, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2520, 22, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2521, 'c_belongs_to': 22, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2521, 22, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2522, 'c_belongs_to': 22, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2522, 22, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2523, 'c_belongs_to': 22, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2523, 22, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2524, 'c_belongs_to': 22, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2524, 22, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2525, 'c_belongs_to': 22, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2525, 22, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2526, 'c_belongs_to': 22, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2526, 22, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2527, 'c_belongs_to': 22, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2527, 22, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2528, 'c_belongs_to': 22, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2528, 22, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2529, 'c_belongs_to': 22, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2529, 22, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2530, 'c_belongs_to': 237, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2530, 237, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2531, 'c_belongs_to': 261, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2531, 261, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2532, 'c_belongs_to': 265, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2532, 265, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2533, 'c_belongs_to': 233, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);

  8%|▊         | 2652/34559 [00:04<00:54, 590.68it/s]

here:
{'c_addr_id': 2571, 'c_belongs_to': 228, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2571, 228, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2572, 'c_belongs_to': 234, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2572, 234, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2573, 'c_belongs_to': 234, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2573, 234, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2574, 'c_belongs_to': 234, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2574, 234, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2575, 'c_belongs_to': 229, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2575, 229, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2576, 'c_belongs_to': 229, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2576, 229, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2577, 'c_belongs_to': 234, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2577, 234, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2578, 'c_belongs_to': 234, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2578, 234, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2579, 'c_belongs_to': 265, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2579, 265, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2580, 'c_belongs_to': 234, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2580, 234, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2581, 'c_belongs_to': 234, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2581, 234, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2582, 'c_belongs_to': 234, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2582, 234, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2583, 'c_belongs_to': 230, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2583, 230, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2584, 'c_belongs_to': 231, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2584, 231, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2585, 'c_belongs_to': 231, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2585, 231, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2586, 'c_belongs_to': 230, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2586, 230, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2587, 'c_belongs_to': 231, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2587, 231, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2588, 'c_belongs_to': 231, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2588, 231, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2589, 'c_belongs_to': 226, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2589, 226, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2590, 'c_belongs_to': 226, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2590, 226, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2591, 'c_belongs_to': 231, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2591, 231, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2592, 'c_belongs_to': 232, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2592, 232, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2593, 'c_belongs_to': 231, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2593, 231, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2594, 'c_belongs_to': 216, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2594, 216, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2595, 'c_belongs_to': 232, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2595, 232, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2596, 'c_belongs_to': 232, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2596, 232, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2597, 'c_belongs_to': 232, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2597, 232, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2598, 'c_belongs_to': 232, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2598, 232, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2599, 'c_belongs_to': 232, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2599, 232, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2600, 'c_belongs_to': 232, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2600, 232, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2601, 'c_belongs_to': 232, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2601, 232, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2602, 'c_belongs_to': 223, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2602, 223, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2603, 'c_belongs_to': 223, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2603, 223, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2604, 'c_belongs_to': 223, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2604, 223, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2605, 'c_belongs_to': 228, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2605, 228, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2606, 'c_belongs_to': 228, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2606, 228, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2607, 'c_belongs_to': 234, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2607, 234, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2608, 'c_belongs_to': 234, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2608, 234, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2609, 'c_belongs_to': 228, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2609, 228, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2610, 'c_belongs_to': 228, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2610, 228, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2611, 'c_belongs_to': 235, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2611, 235, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2612, 'c_belongs_to': 233, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2612, 233, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2613, 'c_belongs_to': 228, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2613, 228, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2614, 'c_belongs_to': 228, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2614, 228, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2615, 'c_belongs_to': 233, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2615, 233, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2616, 'c_belongs_to': 233, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2616, 233, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2617, 'c_belongs_to': 233, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2617, 233, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2618, 'c_belongs_to': 233, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2618, 233, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2619, 'c_belongs_to': 270, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2619, 270, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2620, 'c_belongs_to': 273, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2620, 273, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2621, 'c_belongs_to': 278, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2621, 278, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2622, 'c_belongs_to': 278, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2622, 278, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2623, 'c_belongs_to': 278, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2623, 278, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2624, 'c_belongs_to': 277, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2624, 277, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2625, 'c_belongs_to': 277, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2625, 277, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2626, 'c_belongs_to': 277, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2626, 277, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2627, 'c_belongs_to': 277, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2627, 277, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2628, 'c_belongs_to': 273, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2628, 273, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2629, 'c_belongs_to': 281, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2629, 281, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2630, 'c_belongs_to': 281, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2630, 281, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2631, 'c_belongs_to': 277, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2631, 277, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2632, 'c_belongs_to': 281, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2632, 281, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2633, 'c_belongs_to': 281, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2633, 281, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2634, 'c_belongs_to': 281, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2634, 281, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2635, 'c_belongs_to': 281, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2635, 281, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2636, 'c_belongs_to': 273, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2636, 273, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2637, 'c_belongs_to': 273, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2637, 273, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2638, 'c_belongs_to': 273, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2638, 273, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2639, 'c_belongs_to': 273, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2639, 273, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2640, 'c_belongs_to': 266, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2640, 266, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2641, 'c_belongs_to': 266, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2641, 266, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2642, 'c_belongs_to': 266, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2642, 266, 1949, 2005, 0, '', None, '']
here:

  8%|▊         | 2712/34559 [00:04<01:04, 493.37it/s]

{'c_addr_id': 2675, 'c_belongs_to': 269, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2675, 269, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2676, 'c_belongs_to': 275, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2676, 275, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2677, 'c_belongs_to': 275, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2677, 275, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2678, 'c_belongs_to': 269, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2678, 269, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2679, 'c_belongs_to': 269, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2679, 269, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2680, 'c_belongs_to': 270, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2680, 270, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2681, 'c_belongs_to': 270, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2681, 270, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2682, 'c_belongs_to': 270, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2682, 270, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2683, 'c_belongs_to': 266, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2683, 266, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2684, 'c_belongs_to': 275, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2684, 275, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2685, 'c_belongs_to': 273, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2685, 273, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2686, 'c_belongs_to': 272, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2686, 272, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2687, 'c_belongs_to': 272, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2687, 272, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2688, 'c_belongs_to': 271, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2688, 271, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2689, 'c_belongs_to': 268, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2689, 268, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2690, 'c_belongs_to': 271, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2690, 271, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2691, 'c_belongs_to': 272, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2691, 272, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2692, 'c_belongs_to': 276, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2692, 276, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2693, 'c_belongs_to': 281, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2693, 281, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2694, 'c_belongs_to': 276, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2694, 276, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2695, 'c_belongs_to': 281, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2695, 281, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2696, 'c_belongs_to': 268, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2696, 268, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2697, 'c_belongs_to': 268, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2697, 268, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2698, 'c_belongs_to': 268, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2698, 268, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2699, 'c_belongs_to': 268, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2699, 268, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2700, 'c_belongs_to': 268, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2700, 268, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2701, 'c_belongs_to': 268, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2701, 268, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2702, 'c_belongs_to': 269, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2702, 269, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2703, 'c_belongs_to': 269, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2703, 269, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2704, 'c_belongs_to': 241, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2704, 241, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2705, 'c_belongs_to': 269, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2705, 269, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2706, 'c_belongs_to': 275, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2706, 275, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2707, 'c_belongs_to': 275, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2707, 275, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2708, 'c_belongs_to': 269, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2708, 269, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2709, 'c_belongs_to': 269, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2709, 269, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2710, 'c_belongs_to': 266, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2710, 266, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2711, 'c_belongs_to': 268, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2711, 268, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2712, 'c_belongs_to': 278, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2712, 278, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2713, 'c_belongs_to': 280, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2713, 280, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2714, 'c_belongs_to': 280, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2714, 280, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2715, 'c_belongs_to': 279, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2715, 279, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2716, 'c_belongs_to': 279, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2716, 279, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2717, 'c_belongs_to': 280, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2717, 280, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2718, 'c_belongs_to': 279, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2718, 279, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2719, 'c_belongs_to': 279, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2719, 279, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2720, 'c_belongs_to': 270, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2720, 270, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2721, 'c_belongs_to': 276, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2721, 276, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2722, 'c_belongs_to': 276, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2722, 276, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2723, 'c_belongs_to': 275, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2723, 275, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2724, 'c_belongs_to': 276, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2724, 276, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2725, 'c_belongs_to': 277, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2725, 277, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2726, 'c_belongs_to': 274, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2726, 274, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2727, 'c_belongs_to': 273, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2727, 273, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2728, 'c_belongs_to': 273, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2728, 273, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2729, 'c_belongs_to': 274, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2729, 274, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2730, 'c_belongs_to': 273, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2730, 273, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2731, 'c_belongs_to': 274, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2731, 274, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2733, 'c_belongs_to': 345, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2733, 345, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2734, 'c_belongs_to': 261, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2734, 261, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2735, 'c_belongs_to': 261, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2735, 261, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2736, 'c_belongs_to': 263, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2736, 263, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2737, 'c_belongs_to': 263, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2737, 263, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2738, 'c_belongs_to': 263, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2738, 263, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2739, 'c_belongs_to': 263, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2739, 263, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2740, 'c_belongs_to': 345, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2740, 345, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2741, 'c_belongs_to': 263, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2741, 263, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2742, 'c_belongs_to': 265, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2742, 265, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2743, 'c_belongs_to': 265, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2743, 265, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2744, 'c_belongs_to': 265, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2744, 265, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2745, 'c_belongs_to': 265, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2745, 265, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2746, 'c_belongs_to': 264, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2746, 264, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2747, 'c_belongs_to': 265, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2747, 265, 1949, 2005, 0, '', None, '']

  8%|▊         | 2824/34559 [00:04<01:00, 523.89it/s]

here:
{'c_addr_id': 2748, 'c_belongs_to': 265, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2748, 265, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2749, 'c_belongs_to': 265, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2749, 265, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2750, 'c_belongs_to': 265, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2750, 265, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2751, 'c_belongs_to': 262, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2751, 262, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2752, 'c_belongs_to': 263, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2752, 263, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2753, 'c_belongs_to': 264, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2753, 264, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2754, 'c_belongs_to': 263, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2754, 263, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2755, 'c_belongs_to': 261, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2755, 261, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2756, 'c_belongs_to': 261, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2756, 261, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2757, 'c_belongs_to': 261, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2757, 261, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2758, 'c_belongs_to': 345, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2758, 345, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2759, 'c_belongs_to': 345, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2759, 345, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2760, 'c_belongs_to': 262, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2760, 262, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2761, 'c_belongs_to': 262, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2761, 262, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2762, 'c_belongs_to': 258, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2762, 258, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2763, 'c_belongs_to': 262, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2763, 262, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2764, 'c_belongs_to': 262, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2764, 262, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2765, 'c_belongs_to': 262, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2765, 262, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2766, 'c_belongs_to': 263, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2766, 263, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2767, 'c_belongs_to': 263, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2767, 263, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2768, 'c_belongs_to': 263, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2768, 263, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2769, 'c_belongs_to': 265, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2769, 265, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2770, 'c_belongs_to': 264, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2770, 264, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2771, 'c_belongs_to': 264, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2771, 264, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2772, 'c_belongs_to': 264, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2772, 264, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2773, 'c_belongs_to': 264, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2773, 264, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2774, 'c_belongs_to': 260, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2774, 260, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2775, 'c_belongs_to': 259, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2775, 259, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2776, 'c_belongs_to': 260, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2776, 260, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2777, 'c_belongs_to': 260, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2777, 260, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2778, 'c_belongs_to': 260, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2778, 260, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2779, 'c_belongs_to': 260, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2779, 260, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2780, 'c_belongs_to': 264, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2780, 264, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2781, 'c_belongs_to': 264, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2781, 264, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2782, 'c_belongs_to': 264, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2782, 264, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2783, 'c_belongs_to': 264, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2783, 264, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2784, 'c_belongs_to': 264, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2784, 264, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2785, 'c_belongs_to': 264, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2785, 264, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2786, 'c_belongs_to': 264, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2786, 264, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2787, 'c_belongs_to': 264, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2787, 264, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2788, 'c_belongs_to': 260, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2788, 260, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2789, 'c_belongs_to': 260, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2789, 260, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2790, 'c_belongs_to': 260, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2790, 260, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2791, 'c_belongs_to': 260, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2791, 260, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2792, 'c_belongs_to': 259, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2792, 259, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2793, 'c_belongs_to': 76, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2793, 76, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2794, 'c_belongs_to': 68, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2794, 68, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2795, 'c_belongs_to': 76, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2795, 76, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2796, 'c_belongs_to': 76, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2796, 76, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2797, 'c_belongs_to': 77, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2797, 77, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2798, 'c_belongs_to': 77, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2798, 77, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2799, 'c_belongs_to': 77, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2799, 77, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2800, 'c_belongs_to': 293, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2800, 293, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2801, 'c_belongs_to': 75, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2801, 75, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2802, 'c_belongs_to': 75, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2802, 75, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2803, 'c_belongs_to': 75, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2803, 75, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2804, 'c_belongs_to': 75, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2804, 75, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2805, 'c_belongs_to': 75, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2805, 75, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2806, 'c_belongs_to': 76, 'c_firstyear': 1949, 'c_lastyear': 2005, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2806, 76, 1949, 2005, 0, '', None, '']
here:
{'c_addr_id': 2814, 'c_belongs_to': 0, 'c_firstyear': 1115, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2814, 0, 1115, 1234, 0, '', None, '']
here:
{'c_addr_id': 2815, 'c_belongs_to': 2814, 'c_firstyear': 1121, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2815, 2814, 1121, 1234, 0, '', None, '']
here:
{'c_addr_id': 2816, 'c_belongs_to': 2815, 'c_firstyear': 1121, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2816, 2815, 1121, 1234, 0, '', None, '']
here:
{'c_addr_id': 2817, 'c_belongs_to': 2816, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2817, 2816, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2818, 'c_belongs_to': 2816, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2818, 2816, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2819, 'c_belongs_to': 2816, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2819, 2816, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2820, 'c_belongs_to': 2815, 'c_firstyear': 1121, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2820, 2815, 1121, 1234, 0, '', None, '']
here:
{'c_addr_id': 2821, 'c_belongs_to': 2820, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2821, 2820, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2822, 'c_belongs_to': 2815, 'c_firstyear': 1122, 'c_lastyear': 1139, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2822, 2815, 1122, 1139, 0, '', None, '']
here:
{'c_addr_id': 2822, 'c_belongs_to': 600003, 'c_firstyear': 1118, 'c_lastyear': 1140, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2822, 600003, 1118, 1140, 4802, '', None, '']
here:
{'c_addr_id': 2823, 'c_belongs_to': 2815, 'c_firstyear': 1140, 'c_lastyear': 1151, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2823, 2815, 1140, 1151, 0, '', None, '']
here:
{'c_addr_id': 2824, 'c_belongs_to': 2815, 'c_firstyear': 1152, 'c_lastyear': 1188, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2824, 2815, 1152, 1188, 0, '', None, '']
here:
{'c_addr_id': 2824, 'c_belongs_to': 600004, 'c_firstyear': 1140, 'c_lastyear': 1189, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2824, 600004, 1140, 1189, 4802, '', None, '']
here:

  9%|▊         | 2947/34559 [00:04<00:56, 561.07it/s]

here:
{'c_addr_id': 2850, 'c_belongs_to': 2842, 'c_firstyear': 1121, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2850, 2842, 1121, 1234, 0, '', None, '']
here:
{'c_addr_id': 2850, 'c_belongs_to': 600014, 'c_firstyear': 1118, 'c_lastyear': 1150, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2850, 600014, 1118, 1150, 4802, '', None, '']
here:
{'c_addr_id': 2851, 'c_belongs_to': 2850, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2851, 2850, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2852, 'c_belongs_to': 2850, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2852, 2850, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2853, 'c_belongs_to': 2814, 'c_firstyear': 1121, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2853, 2814, 1121, 1234, 0, '', None, '']
here:
{'c_addr_id': 2854, 'c_belongs_to': 2853, 'c_firstyear': 1121, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2854, 2853, 1121, 1234, 0, '', None, '']
here:
{'c_addr_id': 2855, 'c_belongs_to': 2854, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2855, 2854, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2856, 'c_belongs_to': 2854, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2856, 2854, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2857, 'c_belongs_to': 2854, 'c_firstyear': 1143, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2857, 2854, 1143, 1234, 0, None, None, None]
here:
{'c_addr_id': 2857, 'c_belongs_to': 600027, 'c_firstyear': 1116, 'c_lastyear': 1143, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2857, 600027, 1116, 1143, 4802, '', None, '']
here:
{'c_addr_id': 2858, 'c_belongs_to': 2854, 'c_firstyear': 1143, 'c_lastyear': 1219, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2858, 2854, 1143, 1219, 0, None, None, None]
here:
{'c_addr_id': 2858, 'c_belongs_to': 600028, 'c_firstyear': 1116, 'c_lastyear': 1143, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2858, 600028, 1116, 1143, 4802, '', None, '']
here:
{'c_addr_id': 2858, 'c_belongs_to': 600029, 'c_firstyear': 1219, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2858, 600029, 1219, 1234, 4802, '', None, '']
here:
{'c_addr_id': 2859, 'c_belongs_to': 2853, 'c_firstyear': 1121, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2859, 2853, 1121, 1234, 0, '', None, '']
here:
{'c_addr_id': 2860, 'c_belongs_to': 2859, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2860, 2859, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2860, 'c_belongs_to': 600031, 'c_firstyear': 1116, 'c_lastyear': 1151, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2860, 600031, 1116, 1151, 4802, '', None, '']
here:
{'c_addr_id': 2861, 'c_belongs_to': 2859, 'c_firstyear': 1143, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2861, 2859, 1143, 1234, 0, None, None, None]
here:
{'c_addr_id': 2861, 'c_belongs_to': 600034, 'c_firstyear': 1116, 'c_lastyear': 1143, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2861, 600034, 1116, 1143, 4802, '', None, '']
here:
{'c_addr_id': 2862, 'c_belongs_to': 2853, 'c_firstyear': 1121, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2862, 2853, 1121, 1234, 0, '', None, '']
here:
{'c_addr_id': 2863, 'c_belongs_to': 2862, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2863, 2862, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2864, 'c_belongs_to': 2862, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2864, 2862, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2865, 'c_belongs_to': 2862, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2865, 2862, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2865, 'c_belongs_to': 600037, 'c_firstyear': 1118, 'c_lastyear': 1143, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2865, 600037, 1118, 1143, 4802, '', None, '']
here:
{'c_addr_id': 2866, 'c_belongs_to': 2862, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2866, 2862, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2867, 'c_belongs_to': 2862, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2867, 2862, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2867, 'c_belongs_to': 600040, 'c_firstyear': 1118, 'c_lastyear': 1143, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2867, 600040, 1118, 1143, 4802, '', None, '']
here:
{'c_addr_id': 2868, 'c_belongs_to': 2853, 'c_firstyear': 1208, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2868, 2853, 1208, 1234, 0, None, None, None]
here:
{'c_addr_id': 2868, 'c_belongs_to': 2854, 'c_firstyear': 1193, 'c_lastyear': 1208, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2868, 2854, 1193, 1208, 4802, '', None, '']
here:
{'c_addr_id': 2868, 'c_belongs_to': 2862, 'c_firstyear': 1116, 'c_lastyear': 1193, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2868, 2862, 1116, 1193, 4802, '', None, '']
here:
{'c_addr_id': 2869, 'c_belongs_to': 2868, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2869, 2868, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2870, 'c_belongs_to': 2868, 'c_firstyear': 1143, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2870, 2868, 1143, 1234, 0, None, None, None]
here:
{'c_addr_id': 2870, 'c_belongs_to': 600041, 'c_firstyear': 1116, 'c_lastyear': 1143, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2870, 600041, 1116, 1143, 4802, '', None, '']
here:
{'c_addr_id': 2871, 'c_belongs_to': 2853, 'c_firstyear': 1195, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2871, 2853, 1195, 1234, 0, None, None, None]
here:
{'c_addr_id': 2872, 'c_belongs_to': 2871, 'c_firstyear': 1195, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2872, 2871, 1195, 1234, 0, None, None, None]
here:
{'c_addr_id': 2872, 'c_belongs_to': 600032, 'c_firstyear': 1116, 'c_lastyear': 1195, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2872, 600032, 1116, 1195, 4802, '', None, '']
here:
{'c_addr_id': 2873, 'c_belongs_to': 2871, 'c_firstyear': 1195, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2873, 2871, 1195, 1234, 0, None, None, None]
here:
{'c_addr_id': 2873, 'c_belongs_to': 600032, 'c_firstyear': 1116, 'c_lastyear': 1195, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2873, 600032, 1116, 1195, 4802, '', None, '']
here:
{'c_addr_id': 2874, 'c_belongs_to': 2871, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2874, 2871, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2875, 'c_belongs_to': 2871, 'c_firstyear': 1143, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2875, 2871, 1143, 1234, 0, None, None, None]
here:
{'c_addr_id': 2875, 'c_belongs_to': 600033, 'c_firstyear': 1116, 'c_lastyear': 1143, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2875, 600033, 1116, 1143, 4802, '', None, '']
here:
{'c_addr_id': 2876, 'c_belongs_to': 2836, 'c_firstyear': 1129, 'c_lastyear': 1193, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2876, 2836, 1129, 1193, 4802, '', None, '']
here:
{'c_addr_id': 2876, 'c_belongs_to': 2853, 'c_firstyear': 1193, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2876, 2853, 1193, 1234, 0, None, None, None]
here:
{'c_addr_id': 2877, 'c_belongs_to': 2876, 'c_firstyear': 1167, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2877, 2876, 1167, 1234, 0, None, None, None]
here:
{'c_addr_id': 2878, 'c_belongs_to': 2876, 'c_firstyear': 1143, 'c_lastyear': 1216, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2878, 2876, 1143, 1216, 0, None, None, None]
here:
{'c_addr_id': 2878, 'c_belongs_to': 600045, 'c_firstyear': 1116, 'c_lastyear': 1143, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2878, 600045, 1116, 1143, 4802, '', None, '']
here:
{'c_addr_id': 2878, 'c_belongs_to': 600046, 'c_firstyear': 1216, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2878, 600046, 1216, 1234, 4802, '', None, '']
here:
{'c_addr_id': 2879, 'c_belongs_to': 2853, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2879, 2853, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2880, 'c_belongs_to': 2882, 'c_firstyear': 1190, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2880, 2882, 1190, 1234, 0, None, None, None]
here:
{'c_addr_id': 2881, 'c_belongs_to': 2814, 'c_firstyear': 1117, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2881, 2814, 1117, 1234, 0, None, None, None]
here:
{'c_addr_id': 2882, 'c_belongs_to': 2881, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2882, 2881, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2883, 'c_belongs_to': 2814, 'c_firstyear': 1121, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2883, 2814, 1121, 1234, 0, '', None, '']
here:
{'c_addr_id': 2884, 'c_belongs_to': 2883, 'c_firstyear': 1121, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2884, 2883, 1121, 1234, 0, '', None, '']
here:
{'c_addr_id': 2885, 'c_belongs_to': 2884, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2885, 2884, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 2885, 'c_belongs_to': 600052, 'c_firstyear': 1122, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2885, 600052, 1122, 1153, 4802, '', None, '']
here:
{'c_addr_id': 2886, 'c_belongs_to': 2884, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2886, 2884, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 2886, 'c_belongs_to': 600052, 'c_firstyear': 1122, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2886, 600052, 1122, 1153, 4802, '', None, '']
here:
{'c_addr_id': 2887, 'c_belongs_to': 2884, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2887, 2884, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 2887, 'c_belongs_to': 600052, 'c_firstyear': 1122, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2887, 600052, 1122, 1153, 4802, '', None, '']
here:
{'c_addr_id': 2888, 'c_belongs_to': 2884, 'c_firstyear': 1153, 'c_lastyear': 1198, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2888, 2884, 1153, 1198, 0, None, None, None]
here:
{'c_addr_id': 2888, 'c_belongs_to': 2884, 'c_firstyear': 1214, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2888, 2884, 1214, 1234, 4802, '', None, '']
here:
{'c_addr_id': 2888, 'c_belongs_to': 600052, 'c_firstyear': 1143, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2888, 600052, 1143, 1153, 4802, '', None, '']
here:
{'c_addr_id': 2888, 'c_belongs_to': 600053, 'c_firstyear': 1122, 'c_lastyear': 1143, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2888, 600053, 1122, 1143, 4802, '', None, '']
here:
{'c_addr_id': 2889, 'c_belongs_to': 2884, 'c_firstyear': 1153, 'c_lastyear': 1197, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2889, 2884, 1153, 1197, 0, None, None, None]
here:
{'c_addr_id': 2889, 'c_belongs_to': 600052, 'c_firstyear': 1143, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2889, 600052, 1143, 1153, 4802, '', None, '']
here:
{'c_addr_id': 2889, 'c_belongs_to': 600056, 'c_firstyear': 1122, 'c_lastyear': 1143, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2889, 600056, 1122, 1143, 4802, '', None, '']
here:
{'c_addr_id': 2890, 'c_belongs_to': 2884, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2890, 2884, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 2890, 'c_belongs_to': 600052, 'c_firstyear': 1143, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2890, 600052, 1143, 1153, 4802, '', None, '']
here:
{'c_addr_id': 2890, 'c_belongs_to': 600060, 'c_firstyear': 1117, 'c_lastyear': 1143, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2890, 600060, 1117, 1143, 4802, '', None, '']
here:
{'c_addr_id': 2891, 'c_belongs_to': 2884, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2891, 2884, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 2891, 'c_belongs_to': 600052, 'c_firstyear': 1122, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2891, 600052, 1122, 1153, 4802, '', None, '']
here:

  9%|▉         | 3077/34559 [00:05<00:52, 596.97it/s]

here:
{'c_addr_id': 2911, 'c_belongs_to': 2842, 'c_firstyear': 1150, 'c_lastyear': 1161, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2911, 2842, 1150, 1161, 4802, '', None, '']
here:
{'c_addr_id': 2911, 'c_belongs_to': 2853, 'c_firstyear': 1136, 'c_lastyear': 1150, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2911, 2853, 1136, 1150, 4802, '', None, '']
here:
{'c_addr_id': 2911, 'c_belongs_to': 2853, 'c_firstyear': 1161, 'c_lastyear': 1201, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2911, 2853, 1161, 1201, 4802, '', None, '']
here:
{'c_addr_id': 2911, 'c_belongs_to': 2883, 'c_firstyear': 1201, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2911, 2883, 1201, 1234, 0, None, None, None]
here:
{'c_addr_id': 2911, 'c_belongs_to': 600012, 'c_firstyear': 1123, 'c_lastyear': 1132, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2911, 600012, 1123, 1132, 4802, '', None, '']
here:
{'c_addr_id': 2911, 'c_belongs_to': 600013, 'c_firstyear': 1132, 'c_lastyear': 1136, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2911, 600013, 1132, 1136, 4802, '', None, '']
here:
{'c_addr_id': 2912, 'c_belongs_to': 2911, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2912, 2911, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2913, 'c_belongs_to': 2911, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2913, 2911, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2914, 'c_belongs_to': 2911, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2914, 2911, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2915, 'c_belongs_to': 2843, 'c_firstyear': 1150, 'c_lastyear': 1208, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2915, 2843, 1150, 1208, 4802, '', None, '']
here:
{'c_addr_id': 2915, 'c_belongs_to': 2883, 'c_firstyear': 1208, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2915, 2883, 1208, 1234, 0, None, None, None]
here:
{'c_addr_id': 2916, 'c_belongs_to': 2915, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2916, 2915, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2917, 'c_belongs_to': 2915, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2917, 2915, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2918, 'c_belongs_to': 2883, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2918, 2883, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 2918, 'c_belongs_to': 600051, 'c_firstyear': 1124, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2918, 600051, 1124, 1153, 4802, '', None, '']
here:
{'c_addr_id': 2919, 'c_belongs_to': 2918, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2919, 2918, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2920, 'c_belongs_to': 2918, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2920, 2918, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2921, 'c_belongs_to': 2903, 'c_firstyear': 1143, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2921, 2903, 1143, 1234, 0, None, None, None]
here:
{'c_addr_id': 2921, 'c_belongs_to': 600073, 'c_firstyear': 1123, 'c_lastyear': 1143, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2921, 600073, 1123, 1143, 4802, '', None, '']
here:
{'c_addr_id': 2922, 'c_belongs_to': 2915, 'c_firstyear': 1166, 'c_lastyear': 1197, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2922, 2915, 1166, 1197, 4802, '', None, '']
here:
{'c_addr_id': 2922, 'c_belongs_to': 2918, 'c_firstyear': 1204, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2922, 2918, 1204, 1234, 0, None, None, None]
here:
{'c_addr_id': 2922, 'c_belongs_to': 600065, 'c_firstyear': 1123, 'c_lastyear': 1166, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2922, 600065, 1123, 1166, 4802, '', None, '']
here:
{'c_addr_id': 2922, 'c_belongs_to': 600066, 'c_firstyear': 1197, 'c_lastyear': 1204, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2922, 600066, 1197, 1204, 4802, '', None, '']
here:
{'c_addr_id': 2923, 'c_belongs_to': 2883, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2923, 2883, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 2923, 'c_belongs_to': 600051, 'c_firstyear': 1124, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2923, 600051, 1124, 1153, 4802, '', None, '']
here:
{'c_addr_id': 2924, 'c_belongs_to': 2923, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2924, 2923, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2925, 'c_belongs_to': 2883, 'c_firstyear': 1197, 'c_lastyear': 1214, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2925, 2883, 1197, 1214, 0, None, None, None]
here:
{'c_addr_id': 2926, 'c_belongs_to': 2925, 'c_firstyear': 1197, 'c_lastyear': 1214, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2926, 2925, 1197, 1214, 0, None, None, None]
here:
{'c_addr_id': 2926, 'c_belongs_to': 2930, 'c_firstyear': 1196, 'c_lastyear': 1197, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2926, 2930, 1196, 1197, 4802, '', None, '']
here:
{'c_addr_id': 2927, 'c_belongs_to': 2884, 'c_firstyear': 1200, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2927, 2884, 1200, 1234, 0, None, None, None]
here:
{'c_addr_id': 2928, 'c_belongs_to': 2884, 'c_firstyear': 1153, 'c_lastyear': 1200, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2928, 2884, 1153, 1200, 4802, '', None, '']
here:
{'c_addr_id': 2928, 'c_belongs_to': 2927, 'c_firstyear': 1200, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2928, 2927, 1200, 1234, 0, None, None, None]
here:
{'c_addr_id': 2928, 'c_belongs_to': 600052, 'c_firstyear': 1143, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2928, 600052, 1143, 1153, 4802, '', None, '']
here:
{'c_addr_id': 2928, 'c_belongs_to': 600087, 'c_firstyear': 1122, 'c_lastyear': 1143, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2928, 600087, 1122, 1143, 4802, '', None, '']
here:
{'c_addr_id': 2929, 'c_belongs_to': 2927, 'c_firstyear': 1203, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2929, 2927, 1203, 1234, 0, None, None, None]
here:
{'c_addr_id': 2930, 'c_belongs_to': 2814, 'c_firstyear': 1150, 'c_lastyear': 1209, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2930, 2814, 1150, 1209, 0, None, None, None]
here:
{'c_addr_id': 2931, 'c_belongs_to': 2883, 'c_firstyear': 1209, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2931, 2883, 1209, 1234, 4802, '', None, '']
here:
{'c_addr_id': 2931, 'c_belongs_to': 2930, 'c_firstyear': 1150, 'c_lastyear': 1209, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2931, 2930, 1150, 1209, 0, None, None, None]
here:
{'c_addr_id': 2931, 'c_belongs_to': 600090, 'c_firstyear': 1120, 'c_lastyear': 1138, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2931, 600090, 1120, 1138, 4802, '', None, '']
here:
{'c_addr_id': 2931, 'c_belongs_to': 600091, 'c_firstyear': 1138, 'c_lastyear': 1150, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2931, 600091, 1138, 1150, 4802, '', None, '']
here:
{'c_addr_id': 2932, 'c_belongs_to': 2931, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2932, 2931, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2933, 'c_belongs_to': 2931, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2933, 2931, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2934, 'c_belongs_to': 2931, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2934, 2931, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2935, 'c_belongs_to': 2931, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2935, 2931, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2936, 'c_belongs_to': 2931, 'c_firstyear': 1143, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2936, 2931, 1143, 1234, 0, None, None, None]
here:
{'c_addr_id': 2936, 'c_belongs_to': 600092, 'c_firstyear': 1120, 'c_lastyear': 1143, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2936, 600092, 1120, 1143, 4802, '', None, '']
here:
{'c_addr_id': 2937, 'c_belongs_to': 2883, 'c_firstyear': 1209, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2937, 2883, 1209, 1234, 4802, '', None, '']
here:
{'c_addr_id': 2937, 'c_belongs_to': 2930, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2937, 2930, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2937, 'c_belongs_to': 600090, 'c_firstyear': 1120, 'c_lastyear': 1138, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2937, 600090, 1120, 1138, 4802, '', None, '']
here:
{'c_addr_id': 2937, 'c_belongs_to': 600091, 'c_firstyear': 1138, 'c_lastyear': 1150, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2937, 600091, 1138, 1150, 4802, '', None, '']
here:
{'c_addr_id': 2938, 'c_belongs_to': 2937, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2938, 2937, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2939, 'c_belongs_to': 2814, 'c_firstyear': 1135, 'c_lastyear': 1165, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2939, 2814, 1135, 1165, 0, None, None, None]
here:
{'c_addr_id': 2941, 'c_belongs_to': 2930, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2941, 2930, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2941, 'c_belongs_to': 600104, 'c_firstyear': 1121, 'c_lastyear': 1165, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2941, 600104, 1121, 1165, 4802, '', None, '']
here:
{'c_addr_id': 2941, 'c_belongs_to': 600105, 'c_firstyear': 1165, 'c_lastyear': 1198, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2941, 600105, 1165, 1198, 4802, '', None, '']
here:
{'c_addr_id': 2942, 'c_belongs_to': 2941, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2942, 2941, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2942, 'c_belongs_to': 600105, 'c_firstyear': 1198, 'c_lastyear': 1214, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2942, 600105, 1198, 1214, 4802, '', None, '']
here:
{'c_addr_id': 2943, 'c_belongs_to': 2814, 'c_firstyear': 1121, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2943, 2814, 1121, 1234, 0, '', None, '']
here:
{'c_addr_id': 2944, 'c_belongs_to': 2943, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2944, 2943, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 2945, 'c_belongs_to': 2944, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2945, 2944, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 2946, 'c_belongs_to': 2944, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2946, 2944, 1122, 1234, 0, None, None, None]
here:
{'c_addr_id': 2947, 'c_belongs_to': 2944, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2947, 2944, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 2948, 'c_belongs_to': 2944, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2948, 2944, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 2949, 'c_belongs_to': 2944, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2949, 2944, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 2950, 'c_belongs_to': 2944, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2950, 2944, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 2951, 'c_belongs_to': 2944, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2951, 2944, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 2952, 'c_belongs_to': 2944, 'c_firstyear': 1122, 'c_lastyear': 1214, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2952, 2944, 1122, 1214, 0, None, None, None]
here:
{'c_addr_id': 2953, 'c_belongs_to': 2943, 'c_firstyear': 1122, 'c_lastyear': 1149, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2953, 2943, 1122, 1149, 0, None, None, None]
here:
{'c_addr_id': 2953, 'c_belongs_to': 600114, 'c_firstyear': 1122, 'c_lastyear': 1149, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2953, 600114, 1122, 1149, 4802, '', None, '']
here:
{'c_addr_id': 2954, 'c_belongs_to': 2953, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2954, 2953, 1122, 1234, 0, '', None, '']
here:

  9%|▉         | 3146/34559 [00:05<00:50, 622.39it/s]

here:
{'c_addr_id': 2991, 'c_belongs_to': 2989, 'c_firstyear': 1122, 'c_lastyear': 1214, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2991, 2989, 1122, 1214, 0, None, None, None]
here:
{'c_addr_id': 2991, 'c_belongs_to': 600130, 'c_firstyear': 1214, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2991, 600130, 1214, 1234, 4802, '', None, '']
here:
{'c_addr_id': 2992, 'c_belongs_to': 2989, 'c_firstyear': 1122, 'c_lastyear': 1214, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2992, 2989, 1122, 1214, 0, None, None, None]
here:
{'c_addr_id': 2992, 'c_belongs_to': 600131, 'c_firstyear': 1214, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2992, 600131, 1214, 1234, 4802, '', None, '']
here:
{'c_addr_id': 2993, 'c_belongs_to': 2943, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2993, 2943, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 2994, 'c_belongs_to': 2993, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2994, 2993, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 2995, 'c_belongs_to': 2993, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2995, 2993, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 2996, 'c_belongs_to': 2993, 'c_firstyear': 1122, 'c_lastyear': 1214, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2996, 2993, 1122, 1214, 0, None, None, None]
here:
{'c_addr_id': 2996, 'c_belongs_to': 600132, 'c_firstyear': 1214, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2996, 600132, 1214, 1234, 4802, '', None, '']
here:
{'c_addr_id': 2997, 'c_belongs_to': 2993, 'c_firstyear': 1122, 'c_lastyear': 1214, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2997, 2993, 1122, 1214, 0, None, None, None]
here:
{'c_addr_id': 2997, 'c_belongs_to': 600133, 'c_firstyear': 1214, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2997, 600133, 1214, 1234, 4802, '', None, '']
here:
{'c_addr_id': 2998, 'c_belongs_to': 2993, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2998, 2993, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 2999, 'c_belongs_to': 2943, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2999, 2943, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 2999, 'c_belongs_to': 600114, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[2999, 600114, 1122, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3000, 'c_belongs_to': 2999, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3000, 2999, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 3001, 'c_belongs_to': 2999, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3001, 2999, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 3002, 'c_belongs_to': 2999, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3002, 2999, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 3003, 'c_belongs_to': 2943, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3003, 2943, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 3003, 'c_belongs_to': 600114, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3003, 600114, 1122, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3004, 'c_belongs_to': 3003, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3004, 3003, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 3005, 'c_belongs_to': 2943, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3005, 2943, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 3005, 'c_belongs_to': 600114, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3005, 600114, 1122, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3006, 'c_belongs_to': 3005, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3006, 3005, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 3007, 'c_belongs_to': 2943, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3007, 2943, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 3009, 'c_belongs_to': 2814, 'c_firstyear': 1126, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3009, 2814, 1126, 1234, 0, '', None, '']
here:
{'c_addr_id': 3010, 'c_belongs_to': 3009, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3010, 3009, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 3011, 'c_belongs_to': 3010, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3011, 3010, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 3012, 'c_belongs_to': 3010, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3012, 3010, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 3012, 'c_belongs_to': 600136, 'c_firstyear': 1125, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3012, 600136, 1125, 1153, 4802, '', None, '']
here:
{'c_addr_id': 3013, 'c_belongs_to': 3010, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3013, 3010, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 3013, 'c_belongs_to': 600136, 'c_firstyear': 1125, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3013, 600136, 1125, 1153, 4802, '', None, '']
here:
{'c_addr_id': 3014, 'c_belongs_to': 3010, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3014, 3010, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 3014, 'c_belongs_to': 600136, 'c_firstyear': 1125, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3014, 600136, 1125, 1153, 4802, '', None, '']
here:
{'c_addr_id': 3015, 'c_belongs_to': 3010, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3015, 3010, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 3015, 'c_belongs_to': 600136, 'c_firstyear': 1125, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3015, 600136, 1125, 1153, 4802, '', None, '']
here:
{'c_addr_id': 3016, 'c_belongs_to': 3010, 'c_firstyear': 1172, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3016, 3010, 1172, 1234, 0, None, None, None]
here:
{'c_addr_id': 3017, 'c_belongs_to': 3010, 'c_firstyear': 1126, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3017, 3010, 1126, 1234, 0, '', None, '']
here:
{'c_addr_id': 3018, 'c_belongs_to': 3010, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3018, 3010, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 3018, 'c_belongs_to': 600136, 'c_firstyear': 1125, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3018, 600136, 1125, 1153, 4802, '', None, '']
here:
{'c_addr_id': 3019, 'c_belongs_to': 3010, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3019, 3010, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 3019, 'c_belongs_to': 600136, 'c_firstyear': 1125, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3019, 600136, 1125, 1153, 4802, '', None, '']
here:
{'c_addr_id': 3020, 'c_belongs_to': 3010, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3020, 3010, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 3020, 'c_belongs_to': 600136, 'c_firstyear': 1125, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3020, 600136, 1125, 1153, 4802, '', None, '']
here:
{'c_addr_id': 3021, 'c_belongs_to': 3010, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3021, 3010, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 3021, 'c_belongs_to': 600136, 'c_firstyear': 1125, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3021, 600136, 1125, 1153, 4802, '', None, '']
here:
{'c_addr_id': 3022, 'c_belongs_to': 3010, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3022, 3010, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 3022, 'c_belongs_to': 600136, 'c_firstyear': 1151, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3022, 600136, 1151, 1153, 4802, '', None, '']
here:
{'c_addr_id': 3023, 'c_belongs_to': 3022, 'c_firstyear': 1151, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3023, 3022, 1151, 1234, 0, None, None, None]
here:
{'c_addr_id': 3023, 'c_belongs_to': 600136, 'c_firstyear': 1125, 'c_lastyear': 1151, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3023, 600136, 1125, 1151, 4802, '', None, '']
here:
{'c_addr_id': 3024, 'c_belongs_to': 3022, 'c_firstyear': 1151, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3024, 3022, 1151, 1234, 0, None, None, None]
here:
{'c_addr_id': 3024, 'c_belongs_to': 3025, 'c_firstyear': 1125, 'c_lastyear': 1151, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3024, 3025, 1125, 1151, 4802, '', None, '']
here:
{'c_addr_id': 3025, 'c_belongs_to': 3010, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3025, 3010, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 3025, 'c_belongs_to': 600136, 'c_firstyear': 1125, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3025, 600136, 1125, 1153, 4802, '', None, '']
here:
{'c_addr_id': 3026, 'c_belongs_to': 3025, 'c_firstyear': 1126, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3026, 3025, 1126, 1234, 0, '', None, '']
here:
{'c_addr_id': 3027, 'c_belongs_to': 3025, 'c_firstyear': 1126, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3027, 3025, 1126, 1234, 0, '', None, '']
here:
{'c_addr_id': 3028, 'c_belongs_to': 3025, 'c_firstyear': 1209, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3028, 3025, 1209, 1234, 0, None, None, None]
here:
{'c_addr_id': 3029, 'c_belongs_to': 3025, 'c_firstyear': 1126, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3029, 3025, 1126, 1234, 0, '', None, '']
here:
{'c_addr_id': 3030, 'c_belongs_to': 3025, 'c_firstyear': 1187, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3030, 3025, 1187, 1234, 0, None, None, None]
here:
{'c_addr_id': 3031, 'c_belongs_to': 3010, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3031, 3010, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 3031, 'c_belongs_to': 600136, 'c_firstyear': 1125, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3031, 600136, 1125, 1153, 4802, '', None, '']
here:
{'c_addr_id': 3032, 'c_belongs_to': 3031, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3032, 3031, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3033, 'c_belongs_to': 3031, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3033, 3031, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3034, 'c_belongs_to': 3031, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3034, 3031, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3035, 'c_belongs_to': 3010, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3035, 3010, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 3035, 'c_belongs_to': 600136, 'c_firstyear': 1125, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3035, 600136, 1125, 1153, 4802, '', None, '']
here:
{'c_addr_id': 3036, 'c_belongs_to': 3035, 'c_firstyear': 1126, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3036, 3035, 1126, 1234, 0, '', None, '']
here:
{'c_addr_id': 3037, 'c_belongs_to': 3035, 'c_firstyear': 1126, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3037, 3035, 1126, 1234, 0, '', None, '']
here:
{'c_addr_id': 3038, 'c_belongs_to': 3035, 'c_firstyear': 1126, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3038, 3035, 1126, 1234, 0, '', None, '']
here:
{'c_addr_id': 3039, 'c_belongs_to': 3035, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3039, 3035, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3040, 'c_belongs_to': 3035, 'c_firstyear': 1191, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3040, 3035, 1191, 1234, 0, None, None, None]
here:

 10%|▉         | 3287/34559 [00:05<00:47, 657.03it/s]

here:
{'c_addr_id': 3086, 'c_belongs_to': 3078, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3086, 3078, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3087, 'c_belongs_to': 3078, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3087, 3078, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3088, 'c_belongs_to': 3078, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3088, 3078, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3089, 'c_belongs_to': 3078, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3089, 3078, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3090, 'c_belongs_to': 3078, 'c_firstyear': 1140, 'c_lastyear': 1215, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3090, 3078, 1140, 1215, 0, None, None, None]
here:
{'c_addr_id': 3090, 'c_belongs_to': 600153, 'c_firstyear': 1215, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3090, 600153, 1215, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3091, 'c_belongs_to': 3078, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3091, 3078, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3092, 'c_belongs_to': 3078, 'c_firstyear': 1127, 'c_lastyear': 1208, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3092, 3078, 1127, 1208, 0, None, None, None]
here:
{'c_addr_id': 3092, 'c_belongs_to': 3479, 'c_firstyear': 1208, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3092, 3479, 1208, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3093, 'c_belongs_to': 3078, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3093, 3078, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3094, 'c_belongs_to': 3077, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3094, 3077, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 3094, 'c_belongs_to': 600152, 'c_firstyear': 1151, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3094, 600152, 1151, 1153, 4802, '', None, '']
here:
{'c_addr_id': 3095, 'c_belongs_to': 3094, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3095, 3094, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3096, 'c_belongs_to': 3094, 'c_firstyear': 1155, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3096, 3094, 1155, 1234, 0, None, None, None]
here:
{'c_addr_id': 3096, 'c_belongs_to': 3455, 'c_firstyear': 1140, 'c_lastyear': 1155, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3096, 3455, 1140, 1155, 4802, '', None, '']
here:
{'c_addr_id': 3097, 'c_belongs_to': 3094, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3097, 3094, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3098, 'c_belongs_to': 3077, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3098, 3077, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 3098, 'c_belongs_to': 600152, 'c_firstyear': 1140, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3098, 600152, 1140, 1153, 4802, '', None, '']
here:
{'c_addr_id': 3099, 'c_belongs_to': 3098, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3099, 3098, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3100, 'c_belongs_to': 3098, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3100, 3098, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3101, 'c_belongs_to': 3098, 'c_firstyear': 1140, 'c_lastyear': 1221, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3101, 3098, 1140, 1221, 0, None, None, None]
here:
{'c_addr_id': 3101, 'c_belongs_to': 600159, 'c_firstyear': 1221, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3101, 600159, 1221, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3102, 'c_belongs_to': 3098, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3102, 3098, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3103, 'c_belongs_to': 3098, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3103, 3098, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3104, 'c_belongs_to': 3098, 'c_firstyear': 1140, 'c_lastyear': 1217, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3104, 3098, 1140, 1217, 0, None, None, None]
here:
{'c_addr_id': 3104, 'c_belongs_to': 3105, 'c_firstyear': 1217, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3104, 3105, 1217, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3105, 'c_belongs_to': 3077, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3105, 3077, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3105, 'c_belongs_to': 3098, 'c_firstyear': 1140, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3105, 3098, 1140, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3106, 'c_belongs_to': 3105, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3106, 3105, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3107, 'c_belongs_to': 3105, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3107, 3105, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3108, 'c_belongs_to': 3105, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3108, 3105, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3109, 'c_belongs_to': 3105, 'c_firstyear': 1140, 'c_lastyear': 1221, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3109, 3105, 1140, 1221, 0, None, None, None]
here:
{'c_addr_id': 3109, 'c_belongs_to': 600159, 'c_firstyear': 1221, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3109, 600159, 1221, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3110, 'c_belongs_to': 3098, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3110, 3098, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 3110, 'c_belongs_to': 3424, 'c_firstyear': 1142, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3110, 3424, 1142, 1153, 4802, '', None, '']
here:
{'c_addr_id': 3111, 'c_belongs_to': 3110, 'c_firstyear': 1142, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3111, 3110, 1142, 1234, 0, '', None, '']
here:
{'c_addr_id': 3112, 'c_belongs_to': 3110, 'c_firstyear': 1142, 'c_lastyear': 1161, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3112, 3110, 1142, 1161, 0, '', None, '']
here:
{'c_addr_id': 3113, 'c_belongs_to': 3110, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3113, 3110, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3114, 'c_belongs_to': 3110, 'c_firstyear': 1142, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3114, 3110, 1142, 1234, 0, '', None, '']
here:
{'c_addr_id': 3115, 'c_belongs_to': 3077, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3115, 3077, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 3115, 'c_belongs_to': 600152, 'c_firstyear': 1141, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3115, 600152, 1141, 1153, 4802, '', None, '']
here:
{'c_addr_id': 3116, 'c_belongs_to': 3115, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3116, 3115, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3117, 'c_belongs_to': 3115, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3117, 3115, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3118, 'c_belongs_to': 3115, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3118, 3115, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3119, 'c_belongs_to': 3115, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3119, 3115, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3120, 'c_belongs_to': 3077, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3120, 3077, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 3120, 'c_belongs_to': 600152, 'c_firstyear': 1142, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3120, 600152, 1142, 1153, 4802, '', None, '']
here:
{'c_addr_id': 3121, 'c_belongs_to': 3120, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3121, 3120, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3122, 'c_belongs_to': 3120, 'c_firstyear': 1142, 'c_lastyear': 1226, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3122, 3120, 1142, 1226, 0, None, None, None]
here:
{'c_addr_id': 3122, 'c_belongs_to': 600160, 'c_firstyear': 1226, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3122, 600160, 1226, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3123, 'c_belongs_to': 3120, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3123, 3120, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3124, 'c_belongs_to': 3077, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3124, 3077, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3124, 'c_belongs_to': 3120, 'c_firstyear': 1142, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3124, 3120, 1142, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3125, 'c_belongs_to': 3124, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3125, 3124, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3126, 'c_belongs_to': 3124, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3126, 3124, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3127, 'c_belongs_to': 3124, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3127, 3124, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3128, 'c_belongs_to': 3124, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3128, 3124, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3129, 'c_belongs_to': 3120, 'c_firstyear': 1208, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3129, 3120, 1208, 1234, 0, None, None, None]
here:
{'c_addr_id': 3130, 'c_belongs_to': 3124, 'c_firstyear': 1142, 'c_lastyear': 1208, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3130, 3124, 1142, 1208, 4802, '', None, '']
here:
{'c_addr_id': 3130, 'c_belongs_to': 3129, 'c_firstyear': 1208, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3130, 3129, 1208, 1234, 0, None, None, None]
here:
{'c_addr_id': 3131, 'c_belongs_to': 3129, 'c_firstyear': 1208, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3131, 3129, 1208, 1234, 0, None, None, None]
here:
{'c_addr_id': 3131, 'c_belongs_to': 3148, 'c_firstyear': 1140, 'c_lastyear': 1208, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3131, 3148, 1140, 1208, 4802, '', None, '']
here:
{'c_addr_id': 3132, 'c_belongs_to': 3129, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3132, 3129, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3132, 'c_belongs_to': 3153, 'c_firstyear': 1140, 'c_lastyear': 1208, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3132, 3153, 1140, 1208, 4802, '', None, '']
here:
{'c_addr_id': 3133, 'c_belongs_to': 3077, 'c_firstyear': 1153, 'c_lastyear': 1217, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3133, 3077, 1153, 1217, 0, None, None, None]
here:
{'c_addr_id': 3133, 'c_belongs_to': 600152, 'c_firstyear': 1140, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3133, 600152, 1140, 1153, 4802, '', None, '']
here:
{'c_addr_id': 3134, 'c_belongs_to': 3133, 'c_firstyear': 1140, 'c_lastyear': 1217, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3134, 3133, 1140, 1217, 0, None, None, None]
here:
{'c_addr_id': 3134, 'c_belongs_to': 600165, 'c_firstyear': 1217, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3134, 600165, 1217, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3135, 'c_belongs_to': 3133, 'c_firstyear': 1140, 'c_lastyear': 1217, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3135, 3133, 1140, 1217, 0, None, None, None]
here:
{'c_addr_id': 3135, 'c_belongs_to': 600169, 'c_firstyear': 1215, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3135, 600169, 1215, 1234, 4802, '', None, '']
here:

 10%|▉         | 3429/34559 [00:05<00:45, 680.49it/s]

here:
{'c_addr_id': 3177, 'c_belongs_to': 3175, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3177, 3175, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3178, 'c_belongs_to': 3175, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3178, 3175, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3179, 'c_belongs_to': 3175, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3179, 3175, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3180, 'c_belongs_to': 3175, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3180, 3175, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3181, 'c_belongs_to': 3175, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3181, 3175, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3182, 'c_belongs_to': 3175, 'c_firstyear': 1208, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3182, 3175, 1208, 1234, 0, None, None, None]
here:
{'c_addr_id': 3183, 'c_belongs_to': 3175, 'c_firstyear': 1140, 'c_lastyear': 1208, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3183, 3175, 1140, 1208, 4802, '', None, '']
here:
{'c_addr_id': 3183, 'c_belongs_to': 3182, 'c_firstyear': 1208, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3183, 3182, 1208, 1234, 0, None, None, None]
here:
{'c_addr_id': 3184, 'c_belongs_to': 3175, 'c_firstyear': 1140, 'c_lastyear': 1208, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3184, 3175, 1140, 1208, 4802, '', None, '']
here:
{'c_addr_id': 3184, 'c_belongs_to': 3182, 'c_firstyear': 1208, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3184, 3182, 1208, 1234, 0, None, None, None]
here:
{'c_addr_id': 3185, 'c_belongs_to': 3175, 'c_firstyear': 1140, 'c_lastyear': 1208, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3185, 3175, 1140, 1208, 4802, '', None, '']
here:
{'c_addr_id': 3185, 'c_belongs_to': 3182, 'c_firstyear': 1208, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3185, 3182, 1208, 1234, 0, None, None, None]
here:
{'c_addr_id': 3186, 'c_belongs_to': 3182, 'c_firstyear': 1208, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3186, 3182, 1208, 1234, 0, None, None, None]
here:
{'c_addr_id': 3187, 'c_belongs_to': 3077, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3187, 3077, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 3187, 'c_belongs_to': 600152, 'c_firstyear': 1140, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3187, 600152, 1140, 1153, 4802, '', None, '']
here:
{'c_addr_id': 3188, 'c_belongs_to': 3187, 'c_firstyear': 1140, 'c_lastyear': 1216, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3188, 3187, 1140, 1216, 0, None, None, None]
here:
{'c_addr_id': 3189, 'c_belongs_to': 3187, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3189, 3187, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3190, 'c_belongs_to': 3187, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3190, 3187, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3191, 'c_belongs_to': 3187, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3191, 3187, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3192, 'c_belongs_to': 3187, 'c_firstyear': 1140, 'c_lastyear': 1215, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3192, 3187, 1140, 1215, 0, None, None, None]
here:
{'c_addr_id': 3192, 'c_belongs_to': 600153, 'c_firstyear': 1215, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3192, 600153, 1215, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3193, 'c_belongs_to': 3187, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3193, 3187, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3194, 'c_belongs_to': 3187, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3194, 3187, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3195, 'c_belongs_to': 3077, 'c_firstyear': 1153, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3195, 3077, 1153, 1234, 0, None, None, None]
here:
{'c_addr_id': 3195, 'c_belongs_to': 600152, 'c_firstyear': 1140, 'c_lastyear': 1153, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3195, 600152, 1140, 1153, 4802, '', None, '']
here:
{'c_addr_id': 3196, 'c_belongs_to': 3195, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3196, 3195, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3197, 'c_belongs_to': 3110, 'c_firstyear': 1223, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3197, 3110, 1223, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3197, 'c_belongs_to': 3195, 'c_firstyear': 1140, 'c_lastyear': 1223, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3197, 3195, 1140, 1223, 0, None, None, None]
here:
{'c_addr_id': 3198, 'c_belongs_to': 3195, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3198, 3195, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3199, 'c_belongs_to': 3195, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3199, 3195, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3200, 'c_belongs_to': 3077, 'c_firstyear': 1166, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3200, 3077, 1166, 1234, 0, None, None, None]
here:
{'c_addr_id': 3200, 'c_belongs_to': 3411, 'c_firstyear': 1140, 'c_lastyear': 1166, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3200, 3411, 1140, 1166, 4802, '', None, '']
here:
{'c_addr_id': 3201, 'c_belongs_to': 3200, 'c_firstyear': 1142, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3201, 3200, 1142, 1234, 0, '', None, '']
here:
{'c_addr_id': 3202, 'c_belongs_to': 3200, 'c_firstyear': 1142, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3202, 3200, 1142, 1234, 0, '', None, '']
here:
{'c_addr_id': 3203, 'c_belongs_to': 3200, 'c_firstyear': 1142, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3203, 3200, 1142, 1234, 0, '', None, '']
here:
{'c_addr_id': 3204, 'c_belongs_to': 3200, 'c_firstyear': 1142, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3204, 3200, 1142, 1234, 0, '', None, '']
here:
{'c_addr_id': 3205, 'c_belongs_to': 3077, 'c_firstyear': 1166, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3205, 3077, 1166, 1234, 0, None, None, None]
here:
{'c_addr_id': 3205, 'c_belongs_to': 3411, 'c_firstyear': 1140, 'c_lastyear': 1166, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3205, 3411, 1140, 1166, 4802, '', None, '']
here:
{'c_addr_id': 3206, 'c_belongs_to': 3205, 'c_firstyear': 1166, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3206, 3205, 1166, 1234, 0, '', None, '']
here:
{'c_addr_id': 3207, 'c_belongs_to': 3205, 'c_firstyear': 1142, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3207, 3205, 1142, 1234, 0, '', None, '']
here:
{'c_addr_id': 3208, 'c_belongs_to': 3205, 'c_firstyear': 1166, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3208, 3205, 1166, 1234, 0, '', None, '']
here:
{'c_addr_id': 3209, 'c_belongs_to': 3205, 'c_firstyear': 1166, 'c_lastyear': 1233, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3209, 3205, 1166, 1233, 0, '', None, '']
here:
{'c_addr_id': 3210, 'c_belongs_to': 3205, 'c_firstyear': 1166, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3210, 3205, 1166, 1234, 0, '', None, '']
here:
{'c_addr_id': 3211, 'c_belongs_to': 3205, 'c_firstyear': 1227, 'c_lastyear': 1229, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3211, 3205, 1227, 1229, 0, '', None, '']
here:
{'c_addr_id': 3212, 'c_belongs_to': 3205, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3212, 3205, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3213, 'c_belongs_to': 3205, 'c_firstyear': 1127, 'c_lastyear': 1130, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3213, 3205, 1127, 1130, 0, '', None, '']
here:
{'c_addr_id': 3214, 'c_belongs_to': 3205, 'c_firstyear': 1141, 'c_lastyear': 1141, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3214, 3205, 1141, 1141, 0, '', None, '']
here:
{'c_addr_id': 3215, 'c_belongs_to': 3205, 'c_firstyear': 1227, 'c_lastyear': 1229, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3215, 3205, 1227, 1229, 0, '', None, '']
here:
{'c_addr_id': 3216, 'c_belongs_to': 3077, 'c_firstyear': 1127, 'c_lastyear': 1134, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3216, 3077, 1127, 1134, 0, '', None, '']
here:
{'c_addr_id': 3217, 'c_belongs_to': 3216, 'c_firstyear': 1127, 'c_lastyear': 1134, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3217, 3216, 1127, 1134, 0, '', None, '']
here:
{'c_addr_id': 3218, 'c_belongs_to': 3216, 'c_firstyear': 1127, 'c_lastyear': 1134, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3218, 3216, 1127, 1134, 0, '', None, '']
here:
{'c_addr_id': 3219, 'c_belongs_to': 3216, 'c_firstyear': 1127, 'c_lastyear': 1134, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3219, 3216, 1127, 1134, 0, '', None, '']
here:
{'c_addr_id': 3220, 'c_belongs_to': 2814, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3220, 2814, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3221, 'c_belongs_to': 3220, 'c_firstyear': 1129, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3221, 3220, 1129, 1234, 0, None, None, None]
here:
{'c_addr_id': 3222, 'c_belongs_to': 3221, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3222, 3221, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3223, 'c_belongs_to': 3221, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3223, 3221, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3224, 'c_belongs_to': 3221, 'c_firstyear': 1151, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3224, 3221, 1151, 1234, 0, None, None, None]
here:
{'c_addr_id': 3225, 'c_belongs_to': 3224, 'c_firstyear': 1151, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3225, 3224, 1151, 1234, 0, None, None, None]
here:
{'c_addr_id': 3225, 'c_belongs_to': 600174, 'c_firstyear': 1129, 'c_lastyear': 1151, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3225, 600174, 1129, 1151, 4802, '', None, '']
here:
{'c_addr_id': 3226, 'c_belongs_to': 3221, 'c_firstyear': 1128, 'c_lastyear': 1214, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3226, 3221, 1128, 1214, 0, None, None, None]
here:
{'c_addr_id': 3227, 'c_belongs_to': 3226, 'c_firstyear': 1128, 'c_lastyear': 1214, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3227, 3226, 1128, 1214, 0, None, None, None]
here:
{'c_addr_id': 3228, 'c_belongs_to': 3221, 'c_firstyear': 1151, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3228, 3221, 1151, 1234, 0, None, None, None]
here:
{'c_addr_id': 3229, 'c_belongs_to': 3228, 'c_firstyear': 1151, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3229, 3228, 1151, 1234, 0, None, None, None]
here:
{'c_addr_id': 3229, 'c_belongs_to': 600178, 'c_firstyear': 1129, 'c_lastyear': 1151, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3229, 600178, 1129, 1151, 4802, '', None, '']
here:
{'c_addr_id': 3230, 'c_belongs_to': 3228, 'c_firstyear': 1167, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3230, 3228, 1167, 1234, 0, None, None, None]
here:
{'c_addr_id': 3231, 'c_belongs_to': 3220, 'c_firstyear': 1129, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3231, 3220, 1129, 1234, 0, None, None, None]
here:
{'c_addr_id': 3232, 'c_belongs_to': 3231, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3232, 3231, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3233, 'c_belongs_to': 3231, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3233, 3231, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3234, 'c_belongs_to': 3231, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3234, 3231, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3235, 'c_belongs_to': 3231, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3235, 3231, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3236, 'c_belongs_to': 3231, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:

 10%|█         | 3571/34559 [00:05<00:44, 689.61it/s]

here:
{'c_addr_id': 3282, 'c_belongs_to': 3281, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3282, 3281, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3283, 'c_belongs_to': 3281, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3283, 3281, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3284, 'c_belongs_to': 3281, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3284, 3281, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3285, 'c_belongs_to': 3281, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3285, 3281, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3286, 'c_belongs_to': 3281, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3286, 3281, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3287, 'c_belongs_to': 3281, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3287, 3281, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3288, 'c_belongs_to': 3281, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3288, 3281, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3289, 'c_belongs_to': 3281, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3289, 3281, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3290, 'c_belongs_to': 3260, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3290, 3260, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3291, 'c_belongs_to': 3290, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3291, 3290, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3292, 'c_belongs_to': 3290, 'c_firstyear': 1167, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3292, 3290, 1167, 1234, 0, None, None, None]
here:
{'c_addr_id': 3293, 'c_belongs_to': 3290, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3293, 3290, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3294, 'c_belongs_to': 3290, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3294, 3290, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3295, 'c_belongs_to': 3290, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3295, 3290, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3296, 'c_belongs_to': 3290, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3296, 3290, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3297, 'c_belongs_to': 3290, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3297, 3290, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3298, 'c_belongs_to': 3290, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3298, 3290, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3299, 'c_belongs_to': 3290, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3299, 3290, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3300, 'c_belongs_to': 3260, 'c_firstyear': 1192, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3300, 3260, 1192, 1234, 0, None, None, None]
here:
{'c_addr_id': 3301, 'c_belongs_to': 3300, 'c_firstyear': 1192, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3301, 3300, 1192, 1234, 0, None, None, None]
here:
{'c_addr_id': 3301, 'c_belongs_to': 600185, 'c_firstyear': 1128, 'c_lastyear': 1192, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3301, 600185, 1128, 1192, 4802, '', None, '']
here:
{'c_addr_id': 3302, 'c_belongs_to': 3300, 'c_firstyear': 1192, 'c_lastyear': 1215, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3302, 3300, 1192, 1215, 0, None, None, None]
here:
{'c_addr_id': 3302, 'c_belongs_to': 600185, 'c_firstyear': 1128, 'c_lastyear': 1192, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3302, 600185, 1128, 1192, 4802, '', None, '']
here:
{'c_addr_id': 3302, 'c_belongs_to': 600186, 'c_firstyear': 1215, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3302, 600186, 1215, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3303, 'c_belongs_to': 3300, 'c_firstyear': 1192, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3303, 3300, 1192, 1234, 0, None, None, None]
here:
{'c_addr_id': 3303, 'c_belongs_to': 600185, 'c_firstyear': 1128, 'c_lastyear': 1192, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3303, 600185, 1128, 1192, 4802, '', None, '']
here:
{'c_addr_id': 3304, 'c_belongs_to': 3300, 'c_firstyear': 1192, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3304, 3300, 1192, 1234, 0, None, None, None]
here:
{'c_addr_id': 3304, 'c_belongs_to': 600185, 'c_firstyear': 1128, 'c_lastyear': 1192, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3304, 600185, 1128, 1192, 4802, '', None, '']
here:
{'c_addr_id': 3305, 'c_belongs_to': 3300, 'c_firstyear': 1219, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3305, 3300, 1219, 1234, 0, None, None, None]
here:
{'c_addr_id': 3305, 'c_belongs_to': 600186, 'c_firstyear': 1215, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3305, 600186, 1215, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3306, 'c_belongs_to': 3300, 'c_firstyear': 1192, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3306, 3300, 1192, 1234, 0, None, None, None]
here:
{'c_addr_id': 3306, 'c_belongs_to': 600185, 'c_firstyear': 1129, 'c_lastyear': 1192, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3306, 600185, 1129, 1192, 4802, '', None, '']
here:
{'c_addr_id': 3307, 'c_belongs_to': 3306, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3307, 3306, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3308, 'c_belongs_to': 3306, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3308, 3306, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3309, 'c_belongs_to': 3306, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3309, 3306, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3310, 'c_belongs_to': 3260, 'c_firstyear': 1209, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3310, 3260, 1209, 1234, 0, None, None, None]
here:
{'c_addr_id': 3311, 'c_belongs_to': 3310, 'c_firstyear': 1209, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3311, 3310, 1209, 1234, 0, None, None, None]
here:
{'c_addr_id': 3311, 'c_belongs_to': 600187, 'c_firstyear': 1129, 'c_lastyear': 1209, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3311, 600187, 1129, 1209, 4802, '', None, '']
here:
{'c_addr_id': 3312, 'c_belongs_to': 3310, 'c_firstyear': 1209, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3312, 3310, 1209, 1234, 0, None, None, None]
here:
{'c_addr_id': 3312, 'c_belongs_to': 600187, 'c_firstyear': 1129, 'c_lastyear': 1209, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3312, 600187, 1129, 1209, 4802, '', None, '']
here:
{'c_addr_id': 3313, 'c_belongs_to': 3310, 'c_firstyear': 1209, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3313, 3310, 1209, 1234, 0, None, None, None]
here:
{'c_addr_id': 3313, 'c_belongs_to': 600187, 'c_firstyear': 1129, 'c_lastyear': 1209, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3313, 600187, 1129, 1209, 4802, '', None, '']
here:
{'c_addr_id': 3314, 'c_belongs_to': 3310, 'c_firstyear': 1209, 'c_lastyear': 1214, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3314, 3310, 1209, 1214, 0, None, None, None]
here:
{'c_addr_id': 3314, 'c_belongs_to': 600187, 'c_firstyear': 1129, 'c_lastyear': 1209, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3314, 600187, 1129, 1209, 4802, '', None, '']
here:
{'c_addr_id': 3314, 'c_belongs_to': 600188, 'c_firstyear': 1214, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3314, 600188, 1214, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3315, 'c_belongs_to': 3310, 'c_firstyear': 1209, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3315, 3310, 1209, 1234, 0, None, None, None]
here:
{'c_addr_id': 3315, 'c_belongs_to': 600187, 'c_firstyear': 1178, 'c_lastyear': 1209, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3315, 600187, 1178, 1209, 4802, '', None, '']
here:
{'c_addr_id': 3316, 'c_belongs_to': 3310, 'c_firstyear': 1209, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3316, 3310, 1209, 1234, 0, None, None, None]
here:
{'c_addr_id': 3316, 'c_belongs_to': 600187, 'c_firstyear': 1129, 'c_lastyear': 1209, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3316, 600187, 1129, 1209, 4802, '', None, '']
here:
{'c_addr_id': 3317, 'c_belongs_to': 3310, 'c_firstyear': 1209, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3317, 3310, 1209, 1234, 0, None, None, None]
here:
{'c_addr_id': 3317, 'c_belongs_to': 600187, 'c_firstyear': 1129, 'c_lastyear': 1209, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3317, 600187, 1129, 1209, 4802, '', None, '']
here:
{'c_addr_id': 3318, 'c_belongs_to': 3310, 'c_firstyear': 1209, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3318, 3310, 1209, 1234, 0, None, None, None]
here:
{'c_addr_id': 3318, 'c_belongs_to': 600187, 'c_firstyear': 1129, 'c_lastyear': 1209, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3318, 600187, 1129, 1209, 4802, '', None, '']
here:
{'c_addr_id': 3319, 'c_belongs_to': 3318, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3319, 3318, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3320, 'c_belongs_to': 3318, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3320, 3318, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3321, 'c_belongs_to': 3318, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3321, 3318, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3322, 'c_belongs_to': 3260, 'c_firstyear': 1129, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3322, 3260, 1129, 1234, 0, None, None, None]
here:
{'c_addr_id': 3323, 'c_belongs_to': 3322, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3323, 3322, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3324, 'c_belongs_to': 3322, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3324, 3322, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3325, 'c_belongs_to': 3260, 'c_firstyear': 1129, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3325, 3260, 1129, 1234, 0, None, None, None]
here:
{'c_addr_id': 3326, 'c_belongs_to': 3325, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3326, 3325, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3327, 'c_belongs_to': 3325, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3327, 3325, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3328, 'c_belongs_to': 3325, 'c_firstyear': 1192, 'c_lastyear': 1215, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3328, 3325, 1192, 1215, 0, None, None, None]
here:
{'c_addr_id': 3328, 'c_belongs_to': 600192, 'c_firstyear': 1215, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3328, 600192, 1215, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3329, 'c_belongs_to': 3325, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3329, 3325, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3330, 'c_belongs_to': 3078, 'c_firstyear': 1140, 'c_lastyear': 1149, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3330, 3078, 1140, 1149, 4802, '', None, '']
here:
{'c_addr_id': 3330, 'c_belongs_to': 3325, 'c_firstyear': 1208, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3330, 3325, 1208, 1234, 0, None, None, None]
here:
{'c_addr_id': 3330, 'c_belongs_to': 3331, 'c_firstyear': 1150, 'c_lastyear': 1208, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3330, 3331, 1150, 1208, 4802, '', None, '']
here:
{'c_addr_id': 3331, 'c_belongs_to': 3078, 'c_firstyear': 1140, 'c_lastyear': 1166, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3331, 3078, 1140, 1166, 4802, '', None, '']
here:
{'c_addr_id': 3331, 'c_belongs_to': 3260, 'c_firstyear': 1192, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3331, 3260, 1192, 1234, 0, None, None, None]
here:

 11%|█         | 3712/34559 [00:05<00:44, 686.81it/s]

here:
{'c_addr_id': 3381, 'c_belongs_to': 3380, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3381, 3380, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3382, 'c_belongs_to': 3380, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3382, 3380, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3383, 'c_belongs_to': 3380, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3383, 3380, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3384, 'c_belongs_to': 3334, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3384, 3334, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3385, 'c_belongs_to': 3384, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3385, 3384, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3386, 'c_belongs_to': 3384, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3386, 3384, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3387, 'c_belongs_to': 3384, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3387, 3384, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3388, 'c_belongs_to': 3384, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3388, 3384, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3389, 'c_belongs_to': 3384, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3389, 3384, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3390, 'c_belongs_to': 3384, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3390, 3384, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3391, 'c_belongs_to': 3384, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3391, 3384, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3392, 'c_belongs_to': 3384, 'c_firstyear': 1137, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3392, 3384, 1137, 1234, 0, None, None, None]
here:
{'c_addr_id': 3393, 'c_belongs_to': 3392, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3393, 3392, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3394, 'c_belongs_to': 3392, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3394, 3392, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3395, 'c_belongs_to': 3392, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3395, 3392, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3396, 'c_belongs_to': 3392, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3396, 3392, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3397, 'c_belongs_to': 3334, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3397, 3334, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3398, 'c_belongs_to': 3397, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3398, 3397, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3399, 'c_belongs_to': 3397, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3399, 3397, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3400, 'c_belongs_to': 3397, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3400, 3397, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3401, 'c_belongs_to': 3397, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3401, 3397, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3402, 'c_belongs_to': 3397, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3402, 3397, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3403, 'c_belongs_to': 3397, 'c_firstyear': 1137, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3403, 3397, 1137, 1234, 0, None, None, None]
here:
{'c_addr_id': 3404, 'c_belongs_to': 3403, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3404, 3403, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3405, 'c_belongs_to': 3403, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3405, 3403, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3406, 'c_belongs_to': 3403, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3406, 3403, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3407, 'c_belongs_to': 3403, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3407, 3403, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3408, 'c_belongs_to': 3397, 'c_firstyear': 1182, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3408, 3397, 1182, 1234, 0, None, None, None]
here:
{'c_addr_id': 3409, 'c_belongs_to': 3408, 'c_firstyear': 1182, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3409, 3408, 1182, 1234, 0, None, None, None]
here:
{'c_addr_id': 3409, 'c_belongs_to': 600198, 'c_firstyear': 1137, 'c_lastyear': 1182, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3409, 600198, 1137, 1182, 4802, '', None, '']
here:
{'c_addr_id': 3410, 'c_belongs_to': 3408, 'c_firstyear': 1182, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3410, 3408, 1182, 1234, 0, None, None, None]
here:
{'c_addr_id': 3410, 'c_belongs_to': 600198, 'c_firstyear': 1137, 'c_lastyear': 1182, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3410, 600198, 1137, 1182, 4802, '', None, '']
here:
{'c_addr_id': 3411, 'c_belongs_to': 2814, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3411, 2814, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3412, 'c_belongs_to': 3411, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3412, 3411, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3413, 'c_belongs_to': 3412, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3413, 3412, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3414, 'c_belongs_to': 3412, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3414, 3412, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3415, 'c_belongs_to': 3412, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3415, 3412, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3416, 'c_belongs_to': 3412, 'c_firstyear': 1208, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3416, 3412, 1208, 1234, 0, None, None, None]
here:
{'c_addr_id': 3417, 'c_belongs_to': 3412, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3417, 3412, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3418, 'c_belongs_to': 3412, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3418, 3412, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3419, 'c_belongs_to': 3412, 'c_firstyear': 1137, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3419, 3412, 1137, 1234, 0, None, None, None]
here:
{'c_addr_id': 3420, 'c_belongs_to': 3419, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3420, 3419, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3421, 'c_belongs_to': 3419, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3421, 3419, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3422, 'c_belongs_to': 3419, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3422, 3419, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3423, 'c_belongs_to': 3419, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3423, 3419, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3424, 'c_belongs_to': 3077, 'c_firstyear': 1215, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3424, 3077, 1215, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3424, 'c_belongs_to': 3411, 'c_firstyear': 1137, 'c_lastyear': 1215, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3424, 3411, 1137, 1215, 0, None, None, None]
here:
{'c_addr_id': 3425, 'c_belongs_to': 3424, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3425, 3424, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3426, 'c_belongs_to': 3424, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3426, 3424, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3427, 'c_belongs_to': 3424, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3427, 3424, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3428, 'c_belongs_to': 3424, 'c_firstyear': 1137, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3428, 3424, 1137, 1234, 0, None, None, None]
here:
{'c_addr_id': 3429, 'c_belongs_to': 3428, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3429, 3428, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3430, 'c_belongs_to': 3428, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3430, 3428, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3431, 'c_belongs_to': 3428, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3431, 3428, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3432, 'c_belongs_to': 3424, 'c_firstyear': 1184, 'c_lastyear': 1215, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3432, 3424, 1184, 1215, 0, None, None, None]
here:
{'c_addr_id': 3432, 'c_belongs_to': 3442, 'c_firstyear': 1215, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3432, 3442, 1215, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3433, 'c_belongs_to': 3432, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3433, 3432, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3434, 'c_belongs_to': 3432, 'c_firstyear': 1184, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3434, 3432, 1184, 1234, 0, None, None, None]
here:
{'c_addr_id': 3434, 'c_belongs_to': 600203, 'c_firstyear': 1137, 'c_lastyear': 1182, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3434, 600203, 1137, 1182, 4802, '', None, '']
here:
{'c_addr_id': 3434, 'c_belongs_to': 600204, 'c_firstyear': 1182, 'c_lastyear': 1184, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3434, 600204, 1182, 1184, 4802, '', None, '']
here:
{'c_addr_id': 3435, 'c_belongs_to': 3432, 'c_firstyear': 1184, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3435, 3432, 1184, 1234, 0, None, None, None]
here:
{'c_addr_id': 3435, 'c_belongs_to': 600203, 'c_firstyear': 1137, 'c_lastyear': 1182, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3435, 600203, 1137, 1182, 4802, '', None, '']
here:
{'c_addr_id': 3435, 'c_belongs_to': 600204, 'c_firstyear': 1182, 'c_lastyear': 1184, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3435, 600204, 1182, 1184, 4802, '', None, '']
here:
{'c_addr_id': 3436, 'c_belongs_to': 3411, 'c_firstyear': 1150, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3436, 3411, 1150, 1234, 0, None, None, None]
here:
{'c_addr_id': 3436, 'c_belongs_to': 3459, 'c_firstyear': 1137, 'c_lastyear': 1150, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3436, 3459, 1137, 1150, 4802, '', None, '']
here:
{'c_addr_id': 3437, 'c_belongs_to': 3436, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3437, 3436, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3438, 'c_belongs_to': 3436, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3438, 3436, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3439, 'c_belongs_to': 3436, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3439, 3436, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3440, 'c_belongs_to': 3436, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3440, 3436, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3441, 'c_belongs_to': 3436, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3441, 3436, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3442, 'c_belongs_to': 3411, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3442, 3411, 1127, 1234, 0, '', None, '']
here:

 11%|█         | 3853/34559 [00:06<00:44, 694.01it/s]

here:
{'c_addr_id': 3489, 'c_belongs_to': 3484, 'c_firstyear': 1189, 'c_lastyear': 1220, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3489, 3484, 1189, 1220, 0, None, None, None]
here:
{'c_addr_id': 3489, 'c_belongs_to': 3496, 'c_firstyear': 1220, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3489, 3496, 1220, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3490, 'c_belongs_to': 3484, 'c_firstyear': 1126, 'c_lastyear': 1220, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3490, 3484, 1126, 1220, 0, None, None, None]
here:
{'c_addr_id': 3490, 'c_belongs_to': 3496, 'c_firstyear': 1220, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3490, 3496, 1220, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3491, 'c_belongs_to': 3484, 'c_firstyear': 1126, 'c_lastyear': 1220, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3491, 3484, 1126, 1220, 0, None, None, None]
here:
{'c_addr_id': 3491, 'c_belongs_to': 3496, 'c_firstyear': 1220, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3491, 3496, 1220, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3492, 'c_belongs_to': 3484, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3492, 3484, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3493, 'c_belongs_to': 3484, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3493, 3484, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3494, 'c_belongs_to': 3484, 'c_firstyear': 1126, 'c_lastyear': 1218, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3494, 3484, 1126, 1218, 0, None, None, None]
here:
{'c_addr_id': 3494, 'c_belongs_to': 600214, 'c_firstyear': 1218, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3494, 600214, 1218, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3495, 'c_belongs_to': 3484, 'c_firstyear': 1126, 'c_lastyear': 1220, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3495, 3484, 1126, 1220, 0, None, None, None]
here:
{'c_addr_id': 3495, 'c_belongs_to': 3496, 'c_firstyear': 1220, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3495, 3496, 1220, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3496, 'c_belongs_to': 3484, 'c_firstyear': 1220, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3496, 3484, 1220, 1234, 0, None, None, None]
here:
{'c_addr_id': 3497, 'c_belongs_to': 3496, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3497, 3496, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3498, 'c_belongs_to': 3484, 'c_firstyear': 1129, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3498, 3484, 1129, 1234, 0, None, None, None]
here:
{'c_addr_id': 3499, 'c_belongs_to': 3498, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3499, 3498, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3500, 'c_belongs_to': 3498, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3500, 3498, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3501, 'c_belongs_to': 3484, 'c_firstyear': 1182, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3501, 3484, 1182, 1234, 0, None, None, None]
here:
{'c_addr_id': 3502, 'c_belongs_to': 3501, 'c_firstyear': 1182, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3502, 3501, 1182, 1234, 0, None, None, None]
here:
{'c_addr_id': 3502, 'c_belongs_to': 600216, 'c_firstyear': 1126, 'c_lastyear': 1182, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3502, 600216, 1126, 1182, 4802, '', None, '']
here:
{'c_addr_id': 3503, 'c_belongs_to': 3501, 'c_firstyear': 1182, 'c_lastyear': 1220, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3503, 3501, 1182, 1220, 0, None, None, None]
here:
{'c_addr_id': 3503, 'c_belongs_to': 600215, 'c_firstyear': 1220, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3503, 600215, 1220, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3503, 'c_belongs_to': 600216, 'c_firstyear': 1126, 'c_lastyear': 1182, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3503, 600216, 1126, 1182, 4802, '', None, '']
here:
{'c_addr_id': 3504, 'c_belongs_to': 3483, 'c_firstyear': 1129, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3504, 3483, 1129, 1234, 0, None, None, None]
here:
{'c_addr_id': 3505, 'c_belongs_to': 3504, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3505, 3504, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3506, 'c_belongs_to': 3504, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3506, 3504, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3507, 'c_belongs_to': 3504, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3507, 3504, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3508, 'c_belongs_to': 3504, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3508, 3504, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3509, 'c_belongs_to': 3504, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3509, 3504, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3510, 'c_belongs_to': 3504, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3510, 3504, 1127, 1234, 0, None, None, None]
here:
{'c_addr_id': 3511, 'c_belongs_to': 3510, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3511, 3510, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3512, 'c_belongs_to': 3510, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3512, 3510, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3513, 'c_belongs_to': 3510, 'c_firstyear': 1195, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3513, 3510, 1195, 1234, 0, None, None, None]
here:
{'c_addr_id': 3514, 'c_belongs_to': 3504, 'c_firstyear': 1216, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3514, 3504, 1216, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3514, 'c_belongs_to': 3510, 'c_firstyear': 1127, 'c_lastyear': 1216, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3514, 3510, 1127, 1216, 0, None, None, None]
here:
{'c_addr_id': 3515, 'c_belongs_to': 3504, 'c_firstyear': 1216, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3515, 3504, 1216, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3515, 'c_belongs_to': 3510, 'c_firstyear': 1141, 'c_lastyear': 1216, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3515, 3510, 1141, 1216, 0, None, None, None]
here:
{'c_addr_id': 3515, 'c_belongs_to': 600219, 'c_firstyear': 1137, 'c_lastyear': 1142, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3515, 600219, 1137, 1142, 4802, '', None, '']
here:
{'c_addr_id': 3516, 'c_belongs_to': 3510, 'c_firstyear': 1195, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3516, 3510, 1195, 1234, 0, None, None, None]
here:
{'c_addr_id': 3517, 'c_belongs_to': 3504, 'c_firstyear': 1184, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3517, 3504, 1184, 1234, 0, None, None, None]
here:
{'c_addr_id': 3518, 'c_belongs_to': 3517, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3518, 3517, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3519, 'c_belongs_to': 3483, 'c_firstyear': 1129, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3519, 3483, 1129, 1234, 0, None, None, None]
here:
{'c_addr_id': 3520, 'c_belongs_to': 3519, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3520, 3519, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3521, 'c_belongs_to': 3519, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3521, 3519, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3522, 'c_belongs_to': 3519, 'c_firstyear': 1125, 'c_lastyear': 1216, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3522, 3519, 1125, 1216, 0, None, None, None]
here:
{'c_addr_id': 3522, 'c_belongs_to': 600227, 'c_firstyear': 1216, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3522, 600227, 1216, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3523, 'c_belongs_to': 3519, 'c_firstyear': 1125, 'c_lastyear': 1215, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3523, 3519, 1125, 1215, 0, None, None, None]
here:
{'c_addr_id': 3523, 'c_belongs_to': 600228, 'c_firstyear': 1215, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3523, 600228, 1215, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3524, 'c_belongs_to': 3519, 'c_firstyear': 1184, 'c_lastyear': 1218, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3524, 3519, 1184, 1218, 0, None, None, None]
here:
{'c_addr_id': 3524, 'c_belongs_to': 3528, 'c_firstyear': 1218, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3524, 3528, 1218, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3525, 'c_belongs_to': 3524, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3525, 3524, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3526, 'c_belongs_to': 3519, 'c_firstyear': 1182, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3526, 3519, 1182, 1234, 0, None, None, None]
here:
{'c_addr_id': 3527, 'c_belongs_to': 3526, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3527, 3526, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3528, 'c_belongs_to': 3483, 'c_firstyear': 1129, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3528, 3483, 1129, 1234, 0, None, None, None]
here:
{'c_addr_id': 3529, 'c_belongs_to': 3528, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3529, 3528, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3530, 'c_belongs_to': 3528, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3530, 3528, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3531, 'c_belongs_to': 3528, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3531, 3528, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3532, 'c_belongs_to': 3528, 'c_firstyear': 1182, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3532, 3528, 1182, 1234, 0, None, None, None]
here:
{'c_addr_id': 3533, 'c_belongs_to': 3532, 'c_firstyear': 1182, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3533, 3532, 1182, 1234, 0, None, None, None]
here:
{'c_addr_id': 3533, 'c_belongs_to': 600233, 'c_firstyear': 1129, 'c_lastyear': 1182, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3533, 600233, 1129, 1182, 4802, '', None, '']
here:
{'c_addr_id': 3534, 'c_belongs_to': 3528, 'c_firstyear': 1182, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3534, 3528, 1182, 1234, 0, None, None, None]
here:
{'c_addr_id': 3535, 'c_belongs_to': 3534, 'c_firstyear': 1182, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3535, 3534, 1182, 1234, 0, None, None, None]
here:
{'c_addr_id': 3535, 'c_belongs_to': 600234, 'c_firstyear': 1171, 'c_lastyear': 1182, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3535, 600234, 1171, 1182, 4802, '', None, '']
here:
{'c_addr_id': 3536, 'c_belongs_to': 3528, 'c_firstyear': 1151, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3536, 3528, 1151, 1234, 0, None, None, None]
here:
{'c_addr_id': 3537, 'c_belongs_to': 3536, 'c_firstyear': 1151, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3537, 3536, 1151, 1234, 0, None, None, None]
here:
{'c_addr_id': 3537, 'c_belongs_to': 600235, 'c_firstyear': 1127, 'c_lastyear': 1151, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3537, 600235, 1127, 1151, 4802, '', None, '']
here:
{'c_addr_id': 3538, 'c_belongs_to': 2814, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3538, 2814, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3539, 'c_belongs_to': 3538, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3539, 3538, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3540, 'c_belongs_to': 3539, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3540, 3539, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3541, 'c_belongs_to': 3539, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3541, 3539, 1127, 1234, 0, '', None, '']
here:

 11%|█▏        | 3923/34559 [00:06<00:44, 685.75it/s]

here:
{'c_addr_id': 3575, 'c_belongs_to': 3568, 'c_firstyear': 1128, 'c_lastyear': 1220, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3575, 3568, 1128, 1220, 0, None, None, None]
here:
{'c_addr_id': 3575, 'c_belongs_to': 600246, 'c_firstyear': 1220, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3575, 600246, 1220, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3576, 'c_belongs_to': 3568, 'c_firstyear': 1220, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3576, 3568, 1220, 1234, 0, None, None, None]
here:
{'c_addr_id': 3577, 'c_belongs_to': 3568, 'c_firstyear': 1129, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3577, 3568, 1129, 1234, 0, None, None, None]
here:
{'c_addr_id': 3578, 'c_belongs_to': 3577, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3578, 3577, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3579, 'c_belongs_to': 3577, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3579, 3577, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3580, 'c_belongs_to': 3577, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3580, 3577, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3581, 'c_belongs_to': 3577, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3581, 3577, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3582, 'c_belongs_to': 3577, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3582, 3577, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3583, 'c_belongs_to': 3577, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3583, 3577, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3584, 'c_belongs_to': 3591, 'c_firstyear': 1216, 'c_lastyear': 1222, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3584, 3591, 1216, 1222, 4802, '', None, '']
here:
{'c_addr_id': 3584, 'c_belongs_to': 3610, 'c_firstyear': 1151, 'c_lastyear': 1216, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3584, 3610, 1151, 1216, 0, None, None, None]
here:
{'c_addr_id': 3584, 'c_belongs_to': 3615, 'c_firstyear': 1222, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3584, 3615, 1222, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3585, 'c_belongs_to': 3584, 'c_firstyear': 1151, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3585, 3584, 1151, 1234, 0, None, None, None]
here:
{'c_addr_id': 3585, 'c_belongs_to': 600247, 'c_firstyear': 1129, 'c_lastyear': 1151, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3585, 600247, 1129, 1151, 4802, '', None, '']
here:
{'c_addr_id': 3586, 'c_belongs_to': 3584, 'c_firstyear': 1151, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3586, 3584, 1151, 1234, 0, None, None, None]
here:
{'c_addr_id': 3586, 'c_belongs_to': 600247, 'c_firstyear': 1129, 'c_lastyear': 1151, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3586, 600247, 1129, 1151, 4802, '', None, '']
here:
{'c_addr_id': 3587, 'c_belongs_to': 3584, 'c_firstyear': 1151, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3587, 3584, 1151, 1234, 0, None, None, None]
here:
{'c_addr_id': 3587, 'c_belongs_to': 600247, 'c_firstyear': 1129, 'c_lastyear': 1151, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3587, 600247, 1129, 1151, 4802, '', None, '']
here:
{'c_addr_id': 3588, 'c_belongs_to': 3584, 'c_firstyear': 1151, 'c_lastyear': 1223, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3588, 3584, 1151, 1223, 0, None, None, None]
here:
{'c_addr_id': 3588, 'c_belongs_to': 600247, 'c_firstyear': 1129, 'c_lastyear': 1151, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3588, 600247, 1129, 1151, 4802, '', None, '']
here:
{'c_addr_id': 3588, 'c_belongs_to': 600248, 'c_firstyear': 1223, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3588, 600248, 1223, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3589, 'c_belongs_to': 3584, 'c_firstyear': 1151, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3589, 3584, 1151, 1234, 0, None, None, None]
here:
{'c_addr_id': 3589, 'c_belongs_to': 600247, 'c_firstyear': 1129, 'c_lastyear': 1151, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3589, 600247, 1129, 1151, 4802, '', None, '']
here:
{'c_addr_id': 3590, 'c_belongs_to': 3584, 'c_firstyear': 1151, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3590, 3584, 1151, 1234, 0, None, None, None]
here:
{'c_addr_id': 3590, 'c_belongs_to': 600247, 'c_firstyear': 1129, 'c_lastyear': 1151, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3590, 600247, 1129, 1151, 4802, '', None, '']
here:
{'c_addr_id': 3591, 'c_belongs_to': 3538, 'c_firstyear': 1129, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3591, 3538, 1129, 1234, 0, None, None, None]
here:
{'c_addr_id': 3592, 'c_belongs_to': 3591, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3592, 3591, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3593, 'c_belongs_to': 3591, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3593, 3591, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3594, 'c_belongs_to': 3591, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3594, 3591, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3595, 'c_belongs_to': 3591, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3595, 3591, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3596, 'c_belongs_to': 3591, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3596, 3591, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3597, 'c_belongs_to': 3591, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3597, 3591, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3598, 'c_belongs_to': 3591, 'c_firstyear': 1129, 'c_lastyear': 1221, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3598, 3591, 1129, 1221, 0, None, None, None]
here:
{'c_addr_id': 3598, 'c_belongs_to': 600249, 'c_firstyear': 1221, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3598, 600249, 1221, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3599, 'c_belongs_to': 3591, 'c_firstyear': 1129, 'c_lastyear': 1221, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3599, 3591, 1129, 1221, 0, None, None, None]
here:
{'c_addr_id': 3599, 'c_belongs_to': 600249, 'c_firstyear': 1221, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3599, 600249, 1221, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3600, 'c_belongs_to': 3591, 'c_firstyear': 1151, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3600, 3591, 1151, 1234, 0, None, None, None]
here:
{'c_addr_id': 3601, 'c_belongs_to': 3600, 'c_firstyear': 1151, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3601, 3600, 1151, 1234, 0, None, None, None]
here:
{'c_addr_id': 3601, 'c_belongs_to': 600250, 'c_firstyear': 1129, 'c_lastyear': 1151, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3601, 600250, 1129, 1151, 4802, '', None, '']
here:
{'c_addr_id': 3602, 'c_belongs_to': 3600, 'c_firstyear': 1151, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3602, 3600, 1151, 1234, 0, None, None, None]
here:
{'c_addr_id': 3602, 'c_belongs_to': 600250, 'c_firstyear': 1129, 'c_lastyear': 1151, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3602, 600250, 1129, 1151, 4802, '', None, '']
here:
{'c_addr_id': 3603, 'c_belongs_to': 3600, 'c_firstyear': 1151, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3603, 3600, 1151, 1234, 0, None, None, None]
here:
{'c_addr_id': 3603, 'c_belongs_to': 600250, 'c_firstyear': 1129, 'c_lastyear': 1151, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3603, 600250, 1129, 1151, 4802, '', None, '']
here:
{'c_addr_id': 3604, 'c_belongs_to': 3600, 'c_firstyear': 1216, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3604, 3600, 1216, 1234, 0, None, None, None]
here:
{'c_addr_id': 3605, 'c_belongs_to': 3591, 'c_firstyear': 1129, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3605, 3591, 1129, 1234, 0, None, None, None]
here:
{'c_addr_id': 3606, 'c_belongs_to': 3605, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3606, 3605, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3607, 'c_belongs_to': 3605, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3607, 3605, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3608, 'c_belongs_to': 3605, 'c_firstyear': 1129, 'c_lastyear': 1223, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3608, 3605, 1129, 1223, 0, None, None, None]
here:
{'c_addr_id': 3608, 'c_belongs_to': 600252, 'c_firstyear': 1223, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3608, 600252, 1223, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3609, 'c_belongs_to': 3605, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3609, 3605, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3610, 'c_belongs_to': 3538, 'c_firstyear': 1151, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3610, 3538, 1151, 1234, 0, None, None, None]
here:
{'c_addr_id': 3611, 'c_belongs_to': 3610, 'c_firstyear': 1151, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3611, 3610, 1151, 1234, 0, None, None, None]
here:
{'c_addr_id': 3611, 'c_belongs_to': 600253, 'c_firstyear': 1129, 'c_lastyear': 1151, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3611, 600253, 1129, 1151, 4802, '', None, '']
here:
{'c_addr_id': 3612, 'c_belongs_to': 3610, 'c_firstyear': 1151, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3612, 3610, 1151, 1234, 0, None, None, None]
here:
{'c_addr_id': 3612, 'c_belongs_to': 600253, 'c_firstyear': 1129, 'c_lastyear': 1151, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3612, 600253, 1129, 1151, 4802, '', None, '']
here:
{'c_addr_id': 3613, 'c_belongs_to': 3610, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3613, 3610, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3613, 'c_belongs_to': 600192, 'c_firstyear': 1220, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3613, 600192, 1220, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3614, 'c_belongs_to': 3610, 'c_firstyear': 1151, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3614, 3610, 1151, 1234, 0, None, None, None]
here:
{'c_addr_id': 3614, 'c_belongs_to': 600253, 'c_firstyear': 1129, 'c_lastyear': 1151, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3614, 600253, 1129, 1151, 4802, '', None, '']
here:
{'c_addr_id': 3615, 'c_belongs_to': 3538, 'c_firstyear': 1129, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3615, 3538, 1129, 1234, 0, None, None, None]
here:
{'c_addr_id': 3616, 'c_belongs_to': 3615, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3616, 3615, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3617, 'c_belongs_to': 3615, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3617, 3615, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3618, 'c_belongs_to': 3615, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3618, 3615, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3619, 'c_belongs_to': 3615, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3619, 3615, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3620, 'c_belongs_to': 2814, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3620, 2814, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3621, 'c_belongs_to': 3620, 'c_firstyear': 1142, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3621, 3620, 1142, 1234, 0, None, None, None]
here:
{'c_addr_id': 3622, 'c_belongs_to': 3621, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3622, 3621, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3623, 'c_belongs_to': 3621, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3623, 3621, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3624, 'c_belongs_to': 3621, 'c_firstyear': 1140, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3624, 3621, 1140, 1234, 0, '', None, '']
here:

 12%|█▏        | 4057/34559 [00:06<00:48, 630.00it/s]

here:
{'c_addr_id': 3664, 'c_belongs_to': 3660, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3664, 3660, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3665, 'c_belongs_to': 3660, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3665, 3660, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3666, 'c_belongs_to': 2814, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3666, 2814, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3667, 'c_belongs_to': 3620, 'c_firstyear': 1142, 'c_lastyear': 1187, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3667, 3620, 1142, 1187, 4802, '', None, '']
here:
{'c_addr_id': 3667, 'c_belongs_to': 3666, 'c_firstyear': 1187, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3667, 3666, 1187, 1234, 0, None, None, None]
here:
{'c_addr_id': 3668, 'c_belongs_to': 3667, 'c_firstyear': 1179, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3668, 3667, 1179, 1234, 0, None, None, None]
here:
{'c_addr_id': 3669, 'c_belongs_to': 3667, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3669, 3667, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3670, 'c_belongs_to': 3667, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3670, 3667, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3671, 'c_belongs_to': 3667, 'c_firstyear': 1142, 'c_lastyear': 1216, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3671, 3667, 1142, 1216, 0, None, None, None]
here:
{'c_addr_id': 3671, 'c_belongs_to': 600262, 'c_firstyear': 1216, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3671, 600262, 1216, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3672, 'c_belongs_to': 3667, 'c_firstyear': 1142, 'c_lastyear': 1216, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3672, 3667, 1142, 1216, 0, None, None, None]
here:
{'c_addr_id': 3672, 'c_belongs_to': 600262, 'c_firstyear': 1216, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3672, 600262, 1216, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3673, 'c_belongs_to': 3667, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3673, 3667, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3674, 'c_belongs_to': 3667, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3674, 3667, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3675, 'c_belongs_to': 3667, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3675, 3667, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3676, 'c_belongs_to': 3667, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3676, 3667, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3677, 'c_belongs_to': 3684, 'c_firstyear': 1187, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3677, 3684, 1187, 1234, 0, None, None, None]
here:
{'c_addr_id': 3677, 'c_belongs_to': 3775, 'c_firstyear': 1142, 'c_lastyear': 1187, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3677, 3775, 1142, 1187, 4802, '', None, '']
here:
{'c_addr_id': 3678, 'c_belongs_to': 3677, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3678, 3677, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3679, 'c_belongs_to': 3677, 'c_firstyear': 1182, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3679, 3677, 1182, 1234, 0, None, None, None]
here:
{'c_addr_id': 3680, 'c_belongs_to': 3677, 'c_firstyear': 1182, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3680, 3677, 1182, 1234, 0, None, None, None]
here:
{'c_addr_id': 3681, 'c_belongs_to': 3677, 'c_firstyear': 1182, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3681, 3677, 1182, 1234, 0, None, None, None]
here:
{'c_addr_id': 3682, 'c_belongs_to': 3677, 'c_firstyear': 1182, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3682, 3677, 1182, 1234, 0, None, None, None]
here:
{'c_addr_id': 3683, 'c_belongs_to': 3677, 'c_firstyear': 1182, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3683, 3677, 1182, 1234, 0, None, None, None]
here:
{'c_addr_id': 3684, 'c_belongs_to': 3666, 'c_firstyear': 1187, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3684, 3666, 1187, 1234, 0, None, None, None]
here:
{'c_addr_id': 3684, 'c_belongs_to': 3732, 'c_firstyear': 1142, 'c_lastyear': 1187, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3684, 3732, 1142, 1187, 4802, '', None, '']
here:
{'c_addr_id': 3685, 'c_belongs_to': 3684, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3685, 3684, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3686, 'c_belongs_to': 3684, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3686, 3684, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3687, 'c_belongs_to': 3684, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3687, 3684, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3688, 'c_belongs_to': 3684, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3688, 3684, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3689, 'c_belongs_to': 3684, 'c_firstyear': 1167, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3689, 3684, 1167, 1234, 0, None, None, None]
here:
{'c_addr_id': 3690, 'c_belongs_to': 3684, 'c_firstyear': 1187, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3690, 3684, 1187, 1234, 0, None, None, None]
here:
{'c_addr_id': 3690, 'c_belongs_to': 3775, 'c_firstyear': 1182, 'c_lastyear': 1187, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3690, 3775, 1182, 1187, 4802, '', None, '']
here:
{'c_addr_id': 3691, 'c_belongs_to': 3690, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3691, 3690, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3692, 'c_belongs_to': 3690, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3692, 3690, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3693, 'c_belongs_to': 3666, 'c_firstyear': 1187, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3693, 3666, 1187, 1234, 0, None, None, None]
here:
{'c_addr_id': 3693, 'c_belongs_to': 600265, 'c_firstyear': 1142, 'c_lastyear': 1187, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3693, 600265, 1142, 1187, 4802, '', None, '']
here:
{'c_addr_id': 3694, 'c_belongs_to': 3693, 'c_firstyear': 1132, 'c_lastyear': 1141, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3694, 3693, 1132, 1141, 0, '', None, '']
here:
{'c_addr_id': 3695, 'c_belongs_to': 3693, 'c_firstyear': 1146, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3695, 3693, 1146, 1234, 0, '', None, '']
here:
{'c_addr_id': 3696, 'c_belongs_to': 3693, 'c_firstyear': 1206, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3696, 3693, 1206, 1234, 0, '', None, '']
here:
{'c_addr_id': 3697, 'c_belongs_to': 3693, 'c_firstyear': 1131, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3697, 3693, 1131, 1234, 0, '', None, '']
here:
{'c_addr_id': 3698, 'c_belongs_to': 3693, 'c_firstyear': 1182, 'c_lastyear': 1216, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3698, 3693, 1182, 1216, 0, None, None, None]
here:
{'c_addr_id': 3698, 'c_belongs_to': 600266, 'c_firstyear': 1216, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3698, 600266, 1216, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3699, 'c_belongs_to': 3693, 'c_firstyear': 1131, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3699, 3693, 1131, 1234, 0, '', None, '']
here:
{'c_addr_id': 3700, 'c_belongs_to': 3693, 'c_firstyear': 1182, 'c_lastyear': 1216, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3700, 3693, 1182, 1216, 0, None, None, None]
here:
{'c_addr_id': 3700, 'c_belongs_to': 600266, 'c_firstyear': 1216, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3700, 600266, 1216, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3701, 'c_belongs_to': 3693, 'c_firstyear': 1131, 'c_lastyear': 1143, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3701, 3693, 1131, 1143, 0, '', None, '']
here:
{'c_addr_id': 3702, 'c_belongs_to': 3693, 'c_firstyear': 1182, 'c_lastyear': 1216, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3702, 3693, 1182, 1216, 0, None, None, None]
here:
{'c_addr_id': 3702, 'c_belongs_to': 600266, 'c_firstyear': 1216, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3702, 600266, 1216, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3703, 'c_belongs_to': 3693, 'c_firstyear': 1131, 'c_lastyear': 1143, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3703, 3693, 1131, 1143, 0, '', None, '']
here:
{'c_addr_id': 3704, 'c_belongs_to': 3666, 'c_firstyear': 1187, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3704, 3666, 1187, 1234, 0, None, None, None]
here:
{'c_addr_id': 3704, 'c_belongs_to': 600265, 'c_firstyear': 1142, 'c_lastyear': 1187, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3704, 600265, 1142, 1187, 4802, '', None, '']
here:
{'c_addr_id': 3705, 'c_belongs_to': 3704, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3705, 3704, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3706, 'c_belongs_to': 3704, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3706, 3704, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3707, 'c_belongs_to': 3704, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3707, 3704, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3708, 'c_belongs_to': 2814, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3708, 2814, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3709, 'c_belongs_to': 3708, 'c_firstyear': 1142, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3709, 3708, 1142, 1234, 0, None, None, None]
here:
{'c_addr_id': 3710, 'c_belongs_to': 3709, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3710, 3709, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3711, 'c_belongs_to': 3709, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3711, 3709, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3712, 'c_belongs_to': 3709, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3712, 3709, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3713, 'c_belongs_to': 3709, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3713, 3709, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3714, 'c_belongs_to': 3709, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3714, 3709, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3715, 'c_belongs_to': 3709, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3715, 3709, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3716, 'c_belongs_to': 3709, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3716, 3709, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3717, 'c_belongs_to': 3709, 'c_firstyear': 1140, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3717, 3709, 1140, 1234, 0, None, None, None]
here:
{'c_addr_id': 3718, 'c_belongs_to': 3717, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3718, 3717, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3719, 'c_belongs_to': 3709, 'c_firstyear': 1182, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3719, 3709, 1182, 1234, 0, None, None, None]
here:
{'c_addr_id': 3720, 'c_belongs_to': 3719, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3720, 3719, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3721, 'c_belongs_to': 3709, 'c_firstyear': 1182, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3721, 3709, 1182, 1234, 0, None, None, None]
here:
{'c_addr_id': 3722, 'c_belongs_to': 3721, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3722, 3721, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3723, 'c_belongs_to': 3721, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:

 12%|█▏        | 4190/34559 [00:06<00:46, 646.30it/s]

here:
{'c_addr_id': 3759, 'c_belongs_to': 600265, 'c_firstyear': 1142, 'c_lastyear': 1187, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3759, 600265, 1142, 1187, 4802, '', None, '']
here:
{'c_addr_id': 3760, 'c_belongs_to': 3759, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3760, 3759, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3761, 'c_belongs_to': 3759, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3761, 3759, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3762, 'c_belongs_to': 3759, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3762, 3759, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3763, 'c_belongs_to': 3759, 'c_firstyear': 1182, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3763, 3759, 1182, 1234, 0, None, None, None]
here:
{'c_addr_id': 3764, 'c_belongs_to': 3763, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3764, 3763, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3765, 'c_belongs_to': 3763, 'c_firstyear': 1182, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3765, 3763, 1182, 1234, 0, None, None, None]
here:
{'c_addr_id': 3766, 'c_belongs_to': 3759, 'c_firstyear': 1142, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3766, 3759, 1142, 1234, 0, None, None, None]
here:
{'c_addr_id': 3767, 'c_belongs_to': 3766, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3767, 3766, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3768, 'c_belongs_to': 3766, 'c_firstyear': 1132, 'c_lastyear': 1141, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3768, 3766, 1132, 1141, 0, '', None, '']
here:
{'c_addr_id': 3769, 'c_belongs_to': 3766, 'c_firstyear': 1206, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3769, 3766, 1206, 1234, 0, '', None, '']
here:
{'c_addr_id': 3770, 'c_belongs_to': 3759, 'c_firstyear': 1142, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3770, 3759, 1142, 1234, 0, None, None, None]
here:
{'c_addr_id': 3771, 'c_belongs_to': 3770, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3771, 3770, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3772, 'c_belongs_to': 3770, 'c_firstyear': 1182, 'c_lastyear': 1226, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3772, 3770, 1182, 1226, 0, None, None, None]
here:
{'c_addr_id': 3772, 'c_belongs_to': 600285, 'c_firstyear': 1226, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3772, 600285, 1226, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3773, 'c_belongs_to': 3770, 'c_firstyear': 1182, 'c_lastyear': 1226, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3773, 3770, 1182, 1226, 0, None, None, None]
here:
{'c_addr_id': 3773, 'c_belongs_to': 600285, 'c_firstyear': 1226, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3773, 600285, 1226, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3774, 'c_belongs_to': 3770, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3774, 3770, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3775, 'c_belongs_to': 3758, 'c_firstyear': 1187, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3775, 3758, 1187, 1234, 0, None, None, None]
here:
{'c_addr_id': 3775, 'c_belongs_to': 600265, 'c_firstyear': 1142, 'c_lastyear': 1187, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3775, 600265, 1142, 1187, 4802, '', None, '']
here:
{'c_addr_id': 3776, 'c_belongs_to': 3775, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3776, 3775, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3777, 'c_belongs_to': 3775, 'c_firstyear': 1132, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3777, 3775, 1132, 1234, 0, '', None, '']
here:
{'c_addr_id': 3778, 'c_belongs_to': 3775, 'c_firstyear': 1154, 'c_lastyear': 1216, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3778, 3775, 1154, 1216, 0, None, None, None]
here:
{'c_addr_id': 3778, 'c_belongs_to': 600286, 'c_firstyear': 1216, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3778, 600286, 1216, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3779, 'c_belongs_to': 3775, 'c_firstyear': 1154, 'c_lastyear': 1216, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3779, 3775, 1154, 1216, 0, None, None, None]
here:
{'c_addr_id': 3779, 'c_belongs_to': 600286, 'c_firstyear': 1216, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3779, 600286, 1216, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3780, 'c_belongs_to': 3775, 'c_firstyear': 1154, 'c_lastyear': 1216, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3780, 3775, 1154, 1216, 0, None, None, None]
here:
{'c_addr_id': 3780, 'c_belongs_to': 600286, 'c_firstyear': 1216, 'c_lastyear': 1234, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3780, 600286, 1216, 1234, 4802, '', None, '']
here:
{'c_addr_id': 3781, 'c_belongs_to': 3758, 'c_firstyear': 1187, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3781, 3758, 1187, 1234, 0, None, None, None]
here:
{'c_addr_id': 3781, 'c_belongs_to': 600265, 'c_firstyear': 1142, 'c_lastyear': 1187, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3781, 600265, 1142, 1187, 4802, '', None, '']
here:
{'c_addr_id': 3782, 'c_belongs_to': 3781, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3782, 3781, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3783, 'c_belongs_to': 3758, 'c_firstyear': 1187, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': None, 'c_secondary_source_author': None, 'c_notes': None}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3783, 3758, 1187, 1234, 0, None, None, None]
here:
{'c_addr_id': 3783, 'c_belongs_to': 600265, 'c_firstyear': 1142, 'c_lastyear': 1187, 'c_source': 4802, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3783, 600265, 1142, 1187, 4802, '', None, '']
here:
{'c_addr_id': 3784, 'c_belongs_to': 3783, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3784, 3783, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3785, 'c_belongs_to': 3783, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3785, 3783, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3787, 'c_belongs_to': 2814, 'c_firstyear': 1127, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3787, 2814, 1127, 1234, 0, '', None, '']
here:
{'c_addr_id': 3788, 'c_belongs_to': 2814, 'c_firstyear': 1127, 'c_lastyear': 1219, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3788, 2814, 1127, 1219, 0, '', None, '']
here:
{'c_addr_id': 3794, 'c_belongs_to': 2814, 'c_firstyear': 1122, 'c_lastyear': 1234, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3794, 2814, 1122, 1234, 0, '', None, '']
here:
{'c_addr_id': 3795, 'c_belongs_to': 2814, 'c_firstyear': 1122, 'c_lastyear': 1219, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3795, 2814, 1122, 1219, 0, '', None, '']
here:
{'c_addr_id': 3796, 'c_belongs_to': 3795, 'c_firstyear': 1122, 'c_lastyear': 1219, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3796, 3795, 1122, 1219, 0, '', None, '']
here:
{'c_addr_id': 3797, 'c_belongs_to': 0, 'c_firstyear': 947, 'c_lastyear': 1115, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3797, 0, 947, 1115, 0, '', None, '']
here:
{'c_addr_id': 3798, 'c_belongs_to': 3797, 'c_firstyear': 947, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3798, 3797, 947, 1121, 0, '', None, '']
here:
{'c_addr_id': 3799, 'c_belongs_to': 3798, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3799, 3798, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3800, 'c_belongs_to': 3798, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3800, 3798, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3801, 'c_belongs_to': 3798, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3801, 3798, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3802, 'c_belongs_to': 3798, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3802, 3798, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3803, 'c_belongs_to': 3798, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3803, 3798, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3804, 'c_belongs_to': 3803, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3804, 3803, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3805, 'c_belongs_to': 3803, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3805, 3803, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3806, 'c_belongs_to': 3803, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3806, 3803, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3807, 'c_belongs_to': 3803, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3807, 3803, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3808, 'c_belongs_to': 3803, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3808, 3803, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3809, 'c_belongs_to': 3803, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3809, 3803, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3810, 'c_belongs_to': 3803, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3810, 3803, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3811, 'c_belongs_to': 3803, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3811, 3803, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3812, 'c_belongs_to': 3803, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3812, 3803, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3813, 'c_belongs_to': 3803, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3813, 3803, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3814, 'c_belongs_to': 3798, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3814, 3798, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3815, 'c_belongs_to': 3814, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3815, 3814, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3816, 'c_belongs_to': 3814, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3816, 3814, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3817, 'c_belongs_to': 3814, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3817, 3814, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3818, 'c_belongs_to': 3798, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3818, 3798, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3819, 'c_belongs_to': 3818, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3819, 3818, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3820, 'c_belongs_to': 3818, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3820, 3818, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3821, 'c_belongs_to': 3798, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3821, 3798, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3822, 'c_belongs_to': 3821, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3822, 3821, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3823, 'c_belongs_to': 3821, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3823, 3821, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3824, 'c_belongs_to': 3821, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3824, 3821, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3825, 'c_belongs_to': 3798, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3825, 3798, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3826, 'c_belongs_to': 3825, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3826, 3825, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3827, 'c_belongs_to': 3825, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3827, 3825, 908, 1121, 0, '', None, '']
here:

 13%|█▎        | 4326/34559 [00:06<00:45, 660.00it/s]

here:
{'c_addr_id': 3884, 'c_belongs_to': 3881, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3884, 3881, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3885, 'c_belongs_to': 3798, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3885, 3798, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3886, 'c_belongs_to': 3885, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3886, 3885, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3887, 'c_belongs_to': 3798, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3887, 3798, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3888, 'c_belongs_to': 3887, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3888, 3887, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3889, 'c_belongs_to': 3798, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3889, 3798, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3890, 'c_belongs_to': 3889, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3890, 3889, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3891, 'c_belongs_to': 3798, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3891, 3798, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3892, 'c_belongs_to': 3891, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3892, 3891, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3893, 'c_belongs_to': 3798, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3893, 3798, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3894, 'c_belongs_to': 3893, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3894, 3893, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3895, 'c_belongs_to': 3798, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3895, 3798, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3896, 'c_belongs_to': 3895, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3896, 3895, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3897, 'c_belongs_to': 3797, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3897, 3797, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3898, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3898, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3899, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3899, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3900, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3900, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3901, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3901, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3902, 'c_belongs_to': 3897, 'c_firstyear': 926, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3902, 3897, 926, 1121, 0, '', None, '']
here:
{'c_addr_id': 3903, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3903, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3904, 'c_belongs_to': 3903, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3904, 3903, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3905, 'c_belongs_to': 3903, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3905, 3903, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3906, 'c_belongs_to': 3897, 'c_firstyear': 926, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3906, 3897, 926, 1121, 0, '', None, '']
here:
{'c_addr_id': 3908, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3908, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3909, 'c_belongs_to': 3908, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3909, 3908, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3910, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3910, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3911, 'c_belongs_to': 3910, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3911, 3910, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3912, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3912, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3913, 'c_belongs_to': 3912, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3913, 3912, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3914, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3914, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3915, 'c_belongs_to': 3914, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3915, 3914, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3916, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3916, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3917, 'c_belongs_to': 3916, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3917, 3916, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3918, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3918, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3919, 'c_belongs_to': 3918, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3919, 3918, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3920, 'c_belongs_to': 3918, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3920, 3918, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3921, 'c_belongs_to': 3918, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3921, 3918, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3922, 'c_belongs_to': 3918, 'c_firstyear': 908, 'c_lastyear': 1122, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3922, 3918, 908, 1122, 0, '', None, '']
here:
{'c_addr_id': 3923, 'c_belongs_to': 3918, 'c_firstyear': 908, 'c_lastyear': 1122, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3923, 3918, 908, 1122, 0, '', None, '']
here:
{'c_addr_id': 3924, 'c_belongs_to': 3918, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3924, 3918, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3925, 'c_belongs_to': 3918, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3925, 3918, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3926, 'c_belongs_to': 3918, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3926, 3918, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3927, 'c_belongs_to': 3918, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3927, 3918, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3928, 'c_belongs_to': 3918, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3928, 3918, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3929, 'c_belongs_to': 3918, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3929, 3918, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3930, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3930, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3931, 'c_belongs_to': 3930, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3931, 3930, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3932, 'c_belongs_to': 3930, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3932, 3930, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3933, 'c_belongs_to': 3932, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3933, 3932, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3934, 'c_belongs_to': 3930, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3934, 3930, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3935, 'c_belongs_to': 3934, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3935, 3934, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3936, 'c_belongs_to': 3934, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3936, 3934, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3937, 'c_belongs_to': 3930, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3937, 3930, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3938, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3938, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3939, 'c_belongs_to': 3938, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3939, 3938, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3940, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3940, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3941, 'c_belongs_to': 3940, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3941, 3940, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3942, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3942, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3943, 'c_belongs_to': 3942, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3943, 3942, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3944, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3944, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3945, 'c_belongs_to': 3944, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3945, 3944, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3946, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3946, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3947, 'c_belongs_to': 3946, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3947, 3946, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3948, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3948, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3949, 'c_belongs_to': 3948, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3949, 3948, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3950, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3950, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3951, 'c_belongs_to': 3950, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3951, 3950, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3952, 'c_belongs_to': 3950, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3952, 3950, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3953, 'c_belongs_to': 3952, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3953, 3952, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3954, 'c_belongs_to': 3952, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3954, 3952, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3955, 'c_belongs_to': 3950, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3955, 3950, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 3956, 'c_belongs_to': 3955, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[3956, 3955, 908, 1121, 0, '', None, '']
here:

 13%|█▎        | 4461/34559 [00:07<00:45, 662.68it/s]

here:
{'c_addr_id': 4012, 'c_belongs_to': 4011, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4012, 4011, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4013, 'c_belongs_to': 4011, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4013, 4011, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4014, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4014, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4015, 'c_belongs_to': 4014, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4015, 4014, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4016, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4016, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4017, 'c_belongs_to': 4016, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4017, 4016, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4018, 'c_belongs_to': 4016, 'c_firstyear': 926, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4018, 4016, 926, 1121, 0, '', None, '']
here:
{'c_addr_id': 4019, 'c_belongs_to': 4016, 'c_firstyear': 926, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4019, 4016, 926, 1121, 0, '', None, '']
here:
{'c_addr_id': 4020, 'c_belongs_to': 4016, 'c_firstyear': 926, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4020, 4016, 926, 1121, 0, '', None, '']
here:
{'c_addr_id': 4021, 'c_belongs_to': 4016, 'c_firstyear': 926, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4021, 4016, 926, 1121, 0, '', None, '']
here:
{'c_addr_id': 4022, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4022, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4023, 'c_belongs_to': 4022, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4023, 4022, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4024, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4024, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4025, 'c_belongs_to': 4024, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4025, 4024, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4026, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4026, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4027, 'c_belongs_to': 4026, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4027, 4026, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4028, 'c_belongs_to': 4026, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4028, 4026, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4029, 'c_belongs_to': 4026, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4029, 4026, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4030, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4030, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4031, 'c_belongs_to': 4030, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4031, 4030, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4032, 'c_belongs_to': 4030, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4032, 4030, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4033, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4033, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4034, 'c_belongs_to': 4033, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4034, 4033, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4035, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4035, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4036, 'c_belongs_to': 4035, 'c_firstyear': 926, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4036, 4035, 926, 1121, 0, '', None, '']
here:
{'c_addr_id': 4037, 'c_belongs_to': 4035, 'c_firstyear': 926, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4037, 4035, 926, 1121, 0, '', None, '']
here:
{'c_addr_id': 4038, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4038, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4039, 'c_belongs_to': 4038, 'c_firstyear': 926, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4039, 4038, 926, 1121, 0, '', None, '']
here:
{'c_addr_id': 4040, 'c_belongs_to': 4038, 'c_firstyear': 926, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4040, 4038, 926, 1121, 0, '', None, '']
here:
{'c_addr_id': 4041, 'c_belongs_to': 4038, 'c_firstyear': 926, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4041, 4038, 926, 1121, 0, '', None, '']
here:
{'c_addr_id': 4042, 'c_belongs_to': 4038, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4042, 4038, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4043, 'c_belongs_to': 4042, 'c_firstyear': 926, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4043, 4042, 926, 1121, 0, '', None, '']
here:
{'c_addr_id': 4044, 'c_belongs_to': 4042, 'c_firstyear': 926, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4044, 4042, 926, 1121, 0, '', None, '']
here:
{'c_addr_id': 4045, 'c_belongs_to': 4038, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4045, 4038, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4046, 'c_belongs_to': 4045, 'c_firstyear': 926, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4046, 4045, 926, 1121, 0, '', None, '']
here:
{'c_addr_id': 4047, 'c_belongs_to': 4038, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4047, 4038, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4048, 'c_belongs_to': 4047, 'c_firstyear': 926, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4048, 4047, 926, 1121, 0, '', None, '']
here:
{'c_addr_id': 4049, 'c_belongs_to': 4038, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4049, 4038, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4050, 'c_belongs_to': 4049, 'c_firstyear': 926, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4050, 4049, 926, 1121, 0, '', None, '']
here:
{'c_addr_id': 4051, 'c_belongs_to': 4038, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4051, 4038, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4052, 'c_belongs_to': 4051, 'c_firstyear': 926, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4052, 4051, 926, 1121, 0, '', None, '']
here:
{'c_addr_id': 4053, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4053, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4054, 'c_belongs_to': 4053, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4054, 4053, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4055, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4055, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4056, 'c_belongs_to': 4055, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4056, 4055, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4057, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4057, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4058, 'c_belongs_to': 4057, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4058, 4057, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4059, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4059, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4060, 'c_belongs_to': 4059, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4060, 4059, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4062, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4062, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4063, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4063, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4064, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4064, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4065, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4065, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4066, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4066, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4067, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4067, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4068, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4068, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4069, 'c_belongs_to': 4068, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4069, 4068, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4070, 'c_belongs_to': 4068, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4070, 4068, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4071, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4071, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4072, 'c_belongs_to': 4071, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4072, 4071, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4073, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4073, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4075, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4075, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4076, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4076, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4077, 'c_belongs_to': 4076, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4077, 4076, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4078, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4078, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4079, 'c_belongs_to': 4078, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4079, 4078, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4080, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4080, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4081, 'c_belongs_to': 4080, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4081, 4080, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4082, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4082, 3897, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4083, 'c_belongs_to': 4082, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4083, 4082, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4084, 'c_belongs_to': 4082, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4084, 4082, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4085, 'c_belongs_to': 3897, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4085, 3897, 908, 1121, 0, '', None, '']
here:

 13%|█▎        | 4529/34559 [00:07<00:45, 665.94it/s]

here:
{'c_addr_id': 4149, 'c_belongs_to': 4127, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4149, 4127, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4150, 'c_belongs_to': 4149, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4150, 4149, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4151, 'c_belongs_to': 4149, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4151, 4149, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4152, 'c_belongs_to': 4127, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4152, 4127, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4153, 'c_belongs_to': 4152, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4153, 4152, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4154, 'c_belongs_to': 4152, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4154, 4152, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4155, 'c_belongs_to': 4152, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4155, 4152, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4156, 'c_belongs_to': 4127, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4156, 4127, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4157, 'c_belongs_to': 4156, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4157, 4156, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4158, 'c_belongs_to': 4156, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4158, 4156, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4159, 'c_belongs_to': 4156, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4159, 4156, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4160, 'c_belongs_to': 4127, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4160, 4127, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4161, 'c_belongs_to': 4160, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4161, 4160, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4162, 'c_belongs_to': 4160, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4162, 4160, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4163, 'c_belongs_to': 4127, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4163, 4127, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4164, 'c_belongs_to': 4163, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4164, 4163, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4165, 'c_belongs_to': 4163, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4165, 4163, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4166, 'c_belongs_to': 4127, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4166, 4127, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4167, 'c_belongs_to': 4166, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4167, 4166, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4168, 'c_belongs_to': 4166, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4168, 4166, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4169, 'c_belongs_to': 4126, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4169, 4126, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4170, 'c_belongs_to': 4169, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4170, 4169, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4171, 'c_belongs_to': 4169, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4171, 4169, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4172, 'c_belongs_to': 4169, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4172, 4169, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4173, 'c_belongs_to': 4169, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4173, 4169, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4174, 'c_belongs_to': 4169, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4174, 4169, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4175, 'c_belongs_to': 4174, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4175, 4174, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4176, 'c_belongs_to': 4174, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4176, 4174, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4177, 'c_belongs_to': 4169, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4177, 4169, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4178, 'c_belongs_to': 4177, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4178, 4177, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4179, 'c_belongs_to': 4177, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4179, 4177, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4180, 'c_belongs_to': 4126, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4180, 4126, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4181, 'c_belongs_to': 4180, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4181, 4180, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4182, 'c_belongs_to': 4180, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4182, 4180, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4183, 'c_belongs_to': 4126, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4183, 4126, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4184, 'c_belongs_to': 4183, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4184, 4183, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4185, 'c_belongs_to': 4183, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4185, 4183, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4186, 'c_belongs_to': 4183, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4186, 4183, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4187, 'c_belongs_to': 4186, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4187, 4186, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4188, 'c_belongs_to': 4186, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4188, 4186, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4189, 'c_belongs_to': 4126, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4189, 4126, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4190, 'c_belongs_to': 4189, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4190, 4189, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4191, 'c_belongs_to': 4189, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4191, 4189, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4192, 'c_belongs_to': 4189, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4192, 4189, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4193, 'c_belongs_to': 4126, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4193, 4126, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4194, 'c_belongs_to': 4193, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4194, 4193, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4195, 'c_belongs_to': 4126, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4195, 4126, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4196, 'c_belongs_to': 4195, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4196, 4195, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4197, 'c_belongs_to': 4195, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4197, 4195, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4198, 'c_belongs_to': 4197, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4198, 4197, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4199, 'c_belongs_to': 4197, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4199, 4197, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4200, 'c_belongs_to': 4195, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4200, 4195, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4201, 'c_belongs_to': 4200, 'c_firstyear': 934, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4201, 4200, 934, 1121, 0, '', None, '']
here:
{'c_addr_id': 4202, 'c_belongs_to': 4195, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4202, 4195, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4203, 'c_belongs_to': 4202, 'c_firstyear': 934, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4203, 4202, 934, 1121, 0, '', None, '']
here:
{'c_addr_id': 4204, 'c_belongs_to': 4202, 'c_firstyear': 934, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4204, 4202, 934, 1121, 0, '', None, '']
here:
{'c_addr_id': 4205, 'c_belongs_to': 3797, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4205, 3797, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4206, 'c_belongs_to': 4205, 'c_firstyear': 938, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4206, 4205, 938, 1121, 0, '', None, '']
here:
{'c_addr_id': 4207, 'c_belongs_to': 4206, 'c_firstyear': 938, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4207, 4206, 938, 1121, 0, '', None, '']
here:
{'c_addr_id': 4208, 'c_belongs_to': 4206, 'c_firstyear': 938, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4208, 4206, 938, 1121, 0, '', None, '']
here:
{'c_addr_id': 4209, 'c_belongs_to': 4206, 'c_firstyear': 938, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4209, 4206, 938, 1121, 0, '', None, '']
here:
{'c_addr_id': 4210, 'c_belongs_to': 4206, 'c_firstyear': 938, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4210, 4206, 938, 1121, 0, '', None, '']
here:
{'c_addr_id': 4211, 'c_belongs_to': 4206, 'c_firstyear': 938, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4211, 4206, 938, 1121, 0, '', None, '']
here:
{'c_addr_id': 4212, 'c_belongs_to': 4206, 'c_firstyear': 938, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4212, 4206, 938, 1121, 0, '', None, '']
here:
{'c_addr_id': 4213, 'c_belongs_to': 4206, 'c_firstyear': 938, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4213, 4206, 938, 1121, 0, '', None, '']
here:
{'c_addr_id': 4214, 'c_belongs_to': 4206, 'c_firstyear': 938, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4214, 4206, 938, 1121, 0, '', None, '']
here:
{'c_addr_id': 4215, 'c_belongs_to': 4206, 'c_firstyear': 938, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4215, 4206, 938, 1121, 0, '', None, '']
here:
{'c_addr_id': 4216, 'c_belongs_to': 4206, 'c_firstyear': 938, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4216, 4206, 938, 1121, 0, '', None, '']
here:
{'c_addr_id': 4217, 'c_belongs_to': 4206, 'c_firstyear': 938, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4217, 4206, 938, 1121, 0, '', None, '']
here:
{'c_addr_id': 4218, 'c_belongs_to': 4206, 'c_firstyear': 938, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4218, 4206, 938, 1121, 0, '', None, '']
here:
{'c_addr_id': 4219, 'c_belongs_to': 4218, 'c_firstyear': 938, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4219, 4218, 938, 1121, 0, '', None, '']
here:
{'c_addr_id': 4220, 'c_belongs_to': 4218, 'c_firstyear': 938, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4220, 4218, 938, 1121, 0, '', None, '']
here:

 13%|█▎        | 4661/34559 [00:07<00:48, 619.69it/s]

here:
{'c_addr_id': 4271, 'c_belongs_to': 4269, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4271, 4269, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4272, 'c_belongs_to': 4269, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4272, 4269, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4273, 'c_belongs_to': 4260, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4273, 4260, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4274, 'c_belongs_to': 4273, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4274, 4273, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4275, 'c_belongs_to': 4273, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4275, 4273, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4276, 'c_belongs_to': 4259, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4276, 4259, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4277, 'c_belongs_to': 4276, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4277, 4276, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4278, 'c_belongs_to': 4276, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4278, 4276, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4279, 'c_belongs_to': 4276, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4279, 4276, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4280, 'c_belongs_to': 4259, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4280, 4259, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4281, 'c_belongs_to': 4280, 'c_firstyear': 907, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4281, 4280, 907, 1121, 0, '', None, '']
here:
{'c_addr_id': 4282, 'c_belongs_to': 4280, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4282, 4280, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4283, 'c_belongs_to': 4280, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4283, 4280, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4284, 'c_belongs_to': 4280, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4284, 4280, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4285, 'c_belongs_to': 4259, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4285, 4259, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4286, 'c_belongs_to': 4285, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4286, 4285, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4287, 'c_belongs_to': 4285, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4287, 4285, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4288, 'c_belongs_to': 4287, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4288, 4287, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4289, 'c_belongs_to': 4259, 'c_firstyear': 938, 'c_lastyear': 1120, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4289, 4259, 938, 1120, 0, '', None, '']
here:
{'c_addr_id': 4290, 'c_belongs_to': 4289, 'c_firstyear': 938, 'c_lastyear': 1120, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4290, 4289, 938, 1120, 0, '', None, '']
here:
{'c_addr_id': 4291, 'c_belongs_to': 4289, 'c_firstyear': 938, 'c_lastyear': 1120, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4291, 4289, 938, 1120, 0, '', None, '']
here:
{'c_addr_id': 4292, 'c_belongs_to': 4289, 'c_firstyear': 938, 'c_lastyear': 1120, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4292, 4289, 938, 1120, 0, '', None, '']
here:
{'c_addr_id': 4293, 'c_belongs_to': 4289, 'c_firstyear': 938, 'c_lastyear': 1120, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4293, 4289, 938, 1120, 0, '', None, '']
here:
{'c_addr_id': 4294, 'c_belongs_to': 4289, 'c_firstyear': 938, 'c_lastyear': 1120, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4294, 4289, 938, 1120, 0, '', None, '']
here:
{'c_addr_id': 4295, 'c_belongs_to': 4289, 'c_firstyear': 938, 'c_lastyear': 1120, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4295, 4289, 938, 1120, 0, '', None, '']
here:
{'c_addr_id': 4296, 'c_belongs_to': 4295, 'c_firstyear': 938, 'c_lastyear': 1120, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4296, 4295, 938, 1120, 0, '', None, '']
here:
{'c_addr_id': 4297, 'c_belongs_to': 4295, 'c_firstyear': 938, 'c_lastyear': 1120, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4297, 4295, 938, 1120, 0, '', None, '']
here:
{'c_addr_id': 4298, 'c_belongs_to': 4289, 'c_firstyear': 938, 'c_lastyear': 1120, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4298, 4289, 938, 1120, 0, '', None, '']
here:
{'c_addr_id': 4299, 'c_belongs_to': 4298, 'c_firstyear': 938, 'c_lastyear': 1120, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4299, 4298, 938, 1120, 0, '', None, '']
here:
{'c_addr_id': 4300, 'c_belongs_to': 4289, 'c_firstyear': 938, 'c_lastyear': 1120, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4300, 4289, 938, 1120, 0, '', None, '']
here:
{'c_addr_id': 4301, 'c_belongs_to': 4300, 'c_firstyear': 938, 'c_lastyear': 1120, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4301, 4300, 938, 1120, 0, '', None, '']
here:
{'c_addr_id': 4302, 'c_belongs_to': 4300, 'c_firstyear': 938, 'c_lastyear': 1120, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4302, 4300, 938, 1120, 0, '', None, '']
here:
{'c_addr_id': 4303, 'c_belongs_to': 4259, 'c_firstyear': 938, 'c_lastyear': 1122, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4303, 4259, 938, 1122, 0, '', None, '']
here:
{'c_addr_id': 4304, 'c_belongs_to': 4303, 'c_firstyear': 938, 'c_lastyear': 1122, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4304, 4303, 938, 1122, 0, '', None, '']
here:
{'c_addr_id': 4305, 'c_belongs_to': 4303, 'c_firstyear': 938, 'c_lastyear': 1122, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4305, 4303, 938, 1122, 0, '', None, '']
here:
{'c_addr_id': 4306, 'c_belongs_to': 4303, 'c_firstyear': 938, 'c_lastyear': 1122, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4306, 4303, 938, 1122, 0, '', None, '']
here:
{'c_addr_id': 4307, 'c_belongs_to': 4303, 'c_firstyear': 938, 'c_lastyear': 1122, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4307, 4303, 938, 1122, 0, '', None, '']
here:
{'c_addr_id': 4308, 'c_belongs_to': 4303, 'c_firstyear': 938, 'c_lastyear': 1122, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4308, 4303, 938, 1122, 0, '', None, '']
here:
{'c_addr_id': 4309, 'c_belongs_to': 4259, 'c_firstyear': 938, 'c_lastyear': 1122, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4309, 4259, 938, 1122, 0, '', None, '']
here:
{'c_addr_id': 4310, 'c_belongs_to': 4309, 'c_firstyear': 938, 'c_lastyear': 1122, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4310, 4309, 938, 1122, 0, '', None, '']
here:
{'c_addr_id': 4311, 'c_belongs_to': 4309, 'c_firstyear': 938, 'c_lastyear': 1122, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4311, 4309, 938, 1122, 0, '', None, '']
here:
{'c_addr_id': 4312, 'c_belongs_to': 4309, 'c_firstyear': 938, 'c_lastyear': 1122, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4312, 4309, 938, 1122, 0, '', None, '']
here:
{'c_addr_id': 4313, 'c_belongs_to': 4259, 'c_firstyear': 938, 'c_lastyear': 1122, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4313, 4259, 938, 1122, 0, '', None, '']
here:
{'c_addr_id': 4314, 'c_belongs_to': 4313, 'c_firstyear': 938, 'c_lastyear': 1122, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4314, 4313, 938, 1122, 0, '', None, '']
here:
{'c_addr_id': 4315, 'c_belongs_to': 4313, 'c_firstyear': 938, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4315, 4313, 938, 1121, 0, '', None, '']
here:
{'c_addr_id': 4316, 'c_belongs_to': 4313, 'c_firstyear': 938, 'c_lastyear': 1122, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4316, 4313, 938, 1122, 0, '', None, '']
here:
{'c_addr_id': 4317, 'c_belongs_to': 4313, 'c_firstyear': 938, 'c_lastyear': 1122, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4317, 4313, 938, 1122, 0, '', None, '']
here:
{'c_addr_id': 4318, 'c_belongs_to': 4317, 'c_firstyear': 938, 'c_lastyear': 1122, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4318, 4317, 938, 1122, 0, '', None, '']
here:
{'c_addr_id': 4319, 'c_belongs_to': 4317, 'c_firstyear': 938, 'c_lastyear': 1122, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4319, 4317, 938, 1122, 0, '', None, '']
here:
{'c_addr_id': 4320, 'c_belongs_to': 4259, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4320, 4259, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4321, 'c_belongs_to': 4320, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4321, 4320, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4322, 'c_belongs_to': 4320, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4322, 4320, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4323, 'c_belongs_to': 4259, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4323, 4259, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4324, 'c_belongs_to': 4323, 'c_firstyear': 908, 'c_lastyear': 1061, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4324, 4323, 908, 1061, 0, '', None, '']
here:
{'c_addr_id': 4325, 'c_belongs_to': 4259, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4325, 4259, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4326, 'c_belongs_to': 4325, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4326, 4325, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4327, 'c_belongs_to': 3797, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4327, 3797, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4328, 'c_belongs_to': 4327, 'c_firstyear': 908, 'c_lastyear': 1121, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4328, 4327, 908, 1121, 0, '', None, '']
here:
{'c_addr_id': 4329, 'c_belongs_to': 0, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4329, 0, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4330, 'c_belongs_to': 4329, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4330, 4329, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4332, 'c_belongs_to': 4330, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4332, 4330, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4335, 'c_belongs_to': 4332, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4335, 4332, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4336, 'c_belongs_to': 4332, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4336, 4332, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4338, 'c_belongs_to': 4330, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4338, 4330, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4340, 'c_belongs_to': 4330, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4340, 4330, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4342, 'c_belongs_to': 4329, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4342, 4329, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4342, 'c_belongs_to': 302014, 'c_firstyear': 1430, 'c_lastyear': 1438, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4342, 302014, 1430, 1438, None, '', None, '']
here:
{'c_addr_id': 4342, 'c_belongs_to': 302052, 'c_firstyear': 1544, 'c_lastyear': 1544, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4342, 302052, 1544, 1544, None, '', None, '']
here:
{'c_addr_id': 4342, 'c_belongs_to': 302063, 'c_firstyear': 1522, 'c_lastyear': 1522, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4342, 302063, 1522, 1522, None, '', None, '']
here:
{'c_addr_id': 4343, 'c_belongs_to': 4342, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4343, 4342, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4344, 'c_belongs_to': 4343, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4344, 4343, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4345, 'c_belongs_to': 4343, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4345, 4343, 1368, 1643, 0, '', None, '']

 14%|█▎        | 4745/34559 [00:07<00:47, 625.89it/s]

here:
{'c_addr_id': 4365, 'c_belongs_to': 302086, 'c_firstyear': 1380, 'c_lastyear': 1403, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4365, 302086, 1380, 1403, None, '', None, '']
here:
{'c_addr_id': 4366, 'c_belongs_to': 300491, 'c_firstyear': 1402, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4366, 300491, 1402, 1643, None, '', None, '']
here:
{'c_addr_id': 4367, 'c_belongs_to': 300491, 'c_firstyear': 1402, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4367, 300491, 1402, 1643, None, '', None, '']
here:
{'c_addr_id': 4368, 'c_belongs_to': 300491, 'c_firstyear': 1402, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4368, 300491, 1402, 1643, None, '', None, '']
here:
{'c_addr_id': 4368, 'c_belongs_to': 302086, 'c_firstyear': 1403, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4368, 302086, 1403, 1643, None, '', None, '']
here:
{'c_addr_id': 4369, 'c_belongs_to': 300491, 'c_firstyear': 1402, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4369, 300491, 1402, 1643, None, '', None, '']
here:
{'c_addr_id': 4369, 'c_belongs_to': 302086, 'c_firstyear': 1403, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4369, 302086, 1403, 1643, None, '', None, '']
here:
{'c_addr_id': 4370, 'c_belongs_to': 300491, 'c_firstyear': 1402, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4370, 300491, 1402, 1643, None, '', None, '']
here:
{'c_addr_id': 4371, 'c_belongs_to': 300491, 'c_firstyear': 1402, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4371, 300491, 1402, 1643, None, '', None, '']
here:
{'c_addr_id': 4372, 'c_belongs_to': 300491, 'c_firstyear': 1402, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4372, 300491, 1402, 1643, None, '', None, '']
here:
{'c_addr_id': 4373, 'c_belongs_to': 300491, 'c_firstyear': 1402, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4373, 300491, 1402, 1643, None, '', None, '']
here:
{'c_addr_id': 4374, 'c_belongs_to': 300491, 'c_firstyear': 1402, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4374, 300491, 1402, 1643, None, '', None, '']
here:
{'c_addr_id': 4375, 'c_belongs_to': 4348, 'c_firstyear': 1403, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4375, 4348, 1403, 1643, None, '', None, '']
here:
{'c_addr_id': 4375, 'c_belongs_to': 302086, 'c_firstyear': 1403, 'c_lastyear': 1429, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4375, 302086, 1403, 1429, None, '', None, '']
here:
{'c_addr_id': 4375, 'c_belongs_to': 302091, 'c_firstyear': 1375, 'c_lastyear': 1402, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4375, 302091, 1375, 1402, None, '', None, '']
here:
{'c_addr_id': 4376, 'c_belongs_to': 300491, 'c_firstyear': 1402, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4376, 300491, 1402, 1643, None, '', None, '']
here:
{'c_addr_id': 4376, 'c_belongs_to': 302091, 'c_firstyear': 1396, 'c_lastyear': 1402, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4376, 302091, 1396, 1402, None, '', None, '']
here:
{'c_addr_id': 4377, 'c_belongs_to': 300491, 'c_firstyear': 1402, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4377, 300491, 1402, 1643, None, '', None, '']
here:
{'c_addr_id': 4377, 'c_belongs_to': 302091, 'c_firstyear': 1396, 'c_lastyear': 1402, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4377, 302091, 1396, 1402, None, '', None, '']
here:
{'c_addr_id': 4378, 'c_belongs_to': 300491, 'c_firstyear': 1402, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4378, 300491, 1402, 1643, None, '', None, '']
here:
{'c_addr_id': 4379, 'c_belongs_to': 300491, 'c_firstyear': 1389, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4379, 300491, 1389, 1643, None, '', None, '']
here:
{'c_addr_id': 4380, 'c_belongs_to': 300491, 'c_firstyear': 1387, 'c_lastyear': 1394, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4380, 300491, 1387, 1394, None, '', None, '']
here:
{'c_addr_id': 4380, 'c_belongs_to': 302086, 'c_firstyear': 1403, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4380, 302086, 1403, 1643, None, '', None, '']
here:
{'c_addr_id': 4380, 'c_belongs_to': 302091, 'c_firstyear': 1375, 'c_lastyear': 1402, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4380, 302091, 1375, 1402, None, '', None, '']
here:
{'c_addr_id': 4380, 'c_belongs_to': 302103, 'c_firstyear': 1370, 'c_lastyear': 1374, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4380, 302103, 1370, 1374, None, '', None, '']
here:
{'c_addr_id': 4381, 'c_belongs_to': 4342, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4381, 4342, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4381, 'c_belongs_to': 302015, 'c_firstyear': 1510, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4381, 302015, 1510, 1643, None, '', None, '']
here:
{'c_addr_id': 4381, 'c_belongs_to': 302029, 'c_firstyear': 1550, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4381, 302029, 1550, 1643, None, '', None, '']
here:
{'c_addr_id': 4382, 'c_belongs_to': 4381, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4382, 4381, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4383, 'c_belongs_to': 4381, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4383, 4381, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4384, 'c_belongs_to': 4381, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4384, 4381, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4385, 'c_belongs_to': 4381, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4385, 4381, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4385, 'c_belongs_to': 302022, 'c_firstyear': 1639, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4385, 302022, 1639, 1643, None, '', None, '']
here:
{'c_addr_id': 4385, 'c_belongs_to': 302029, 'c_firstyear': 1550, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4385, 302029, 1550, 1643, None, '', None, '']
here:
{'c_addr_id': 4386, 'c_belongs_to': 4381, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4386, 4381, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4387, 'c_belongs_to': 4381, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4387, 4381, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4387, 'c_belongs_to': 302019, 'c_firstyear': 1638, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4387, 302019, 1638, 1643, None, '', None, '']
here:
{'c_addr_id': 4388, 'c_belongs_to': 4381, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4388, 4381, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4389, 'c_belongs_to': 4381, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4389, 4381, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4390, 'c_belongs_to': 4381, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4390, 4381, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4391, 'c_belongs_to': 4381, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4391, 4381, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4392, 'c_belongs_to': 4381, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4392, 4381, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4393, 'c_belongs_to': 4381, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4393, 4381, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4393, 'c_belongs_to': 302021, 'c_firstyear': 1550, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4393, 302021, 1550, 1643, None, '', None, '']
here:
{'c_addr_id': 4393, 'c_belongs_to': 302029, 'c_firstyear': 1550, 'c_lastyear': 1643, 'c_source': None, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4393, 302029, 1550, 1643, None, '', None, '']
here:
{'c_addr_id': 4394, 'c_belongs_to': 4393, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4394, 4393, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4395, 'c_belongs_to': 4393, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4395, 4393, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4396, 'c_belongs_to': 4393, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4396, 4393, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4397, 'c_belongs_to': 4393, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4397, 4393, 1368, 1643, 0, '', None, '']
here:
{'c_addr_id': 4398, 'c_belongs_to': 4393, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
here row:
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);
[4398, 4393, 1368, 1643, 0, '', None, '']
stop at:
4745
{'c_addr_id': 4398, 'c_belongs_to': 4393, 'c_firstyear': 1368, 'c_lastyear': 1643, 'c_source': 0, 'c_pages': '', 'c_secondary_source_author': None, 'c_notes': ''}
[4398, 4393, 1368, 1643, 0, '', None, '']
INSERT INTO `ADDR_BELONGS_DATA` values (?,?,?,?,?,?,?,?);

KeyboardInterrupt: